# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# Visual Studio Code files
/.vscode
addons/sourcemod/scripting/.DS_Store
addons/sourcemod/plugins/optional/.DS_Store

# Local database migration config with passwords
scripts/01-cloud-mariadb-migrate.sh
scripts/02-home-docker-mariadb-replica.sh
scripts/mysql-install-clone-replica.sh
scripts/mysql-install-clone-replica.env.example
scripts/mysql-install-clone-replica.env
mysql-install-clone-replica.env
