; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================


; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile in the lobby kitchen area
{
	"classname" "weapon_ammo_spawn"
	"origin" "12281 12515 192"
	"angles" "0 315 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ammo pile after the elevator
{
	"classname" "weapon_ammo_spawn"
	"origin" "13329 14821 5536"
	"angles" "0 270 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================
; --- Remove the hittable generator outside the elevator
filter:
{
	"targetname" "generator01"
}
{
	"targetname" "generator_cable01"
}
modify:
{
	match:
	{
		"hammerid" "6553332"
	}
	replace:
	{
		"spawnflags" "1"
	}
}


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from standing on the wooden boards in the lobby
{
	"classname" "env_physics_blocker"
	"origin" "12909 12655 284"
	"mins" "-3 -121 -132"
	"maxs" "3 121 132"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "12909 12352 284"
	"mins" "-3 -96 -132"
	"maxs" "3 96 132"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "12908 12040 284"
	"mins" "-3 -120 -132"
	"maxs" "3 120 132"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing inside the scaffolding after the elevator
{
	"classname" "env_physics_blocker"
	"origin" "13525 14332 5682"
	"mins" "-166 -60 -47"
	"maxs" "166 60 47"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Remove the second set of railings in the lobby
filter:
{
	"hammerid" "2776118"
}
{
	"hammerid" "2776127"
}
; --- Make the end saferoom door spawn facing into the saferoom
modify:
{
	match:
	{
		"targetname" "checkpoint_entrance"
	}
	replace:
	{
		"spawnpos" "2"
	}
}


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================
; --- Remove lightning flashes
filter:
{
	"targetname" "lightning_timer1"
}
{
	"targetname" "lightning_timer2"
}
{
	"targetname" "lightning_fire"
}


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================
; --- Allow ghosts to walk through the breakable walls by the elevator before the event has started
filter:
{
	"targetname" "elevator_breakwalls_01"
}
{
	"targetname" "elevator_breakwalls_02"
}
{
	"targetname" "elevator_breakwalls_02b"
}
{
	"targetname" "elevator_breakwalls_03"
}
{
	"targetname" "elevator_breakwalls_03b"
}
{
	"targetname" "elevator_breakwalls_04"
}
{
	"targetname" "elevator_breakwalls_05"
}

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================
; --- Make vents in the elevator area break when player infected stand on them
modify:
{
	match:
	{
		"hammerid" "4671518"
	}
	replace:
	{
		"spawnflags" "3"
	}
}
{
	match:
	{
		"hammerid" "5076445"
	}
	replace:
	{
		"spawnflags" "3"
	}
}
{
	match:
	{
		"hammerid" "5076457"
	}
	replace:
	{
		"spawnflags" "3"
	}
}
{
	match:
	{
		"hammerid" "5238795"
	}
	replace:
	{
		"spawnflags" "3"
	}
}


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Infected ladder on other side of the lobby - Goes through the floor, no other ladder is usable without requiring SetParent
;{
;	"classname" "func_simpleladder"
;	"origin" "41 -591 -128"
;	"angles" "0 0 0"
;	"model" "*53"
;	"normal.x" "0.00"
;	"normal.y" "1.00"
;	"normal.z" "0.00"
;	"team" "2"
;}
;{
;	"classname" "prop_dynamic"
;	"origin" "12337 12016 288"
;	"angles" "0 180 0"
;	"model" "models/props_rooftop/gutter_pipe_128.mdl"
;	"solid" "0"
;	"disableshadows" "1"
;}
; --- Infected ladder to climb into collapsed ceiling by the elevator
{
	"classname" "func_simpleladder"
	"origin" "828.5 -668 -59"
	"angles" "0 0 0"
	"model" "*140"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "13747 14436 488"
	"angles" "5 0 0"
	"model" "models/props/cs_assault/ladderaluminium128.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladders to climb over scaffolding after the elevator
{
	"classname" "func_simpleladder"
	"origin" "1126 1773.5 5218"
	"angles" "0 0 0"
	"model" "*53"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
;{
;	"classname" "func_simpleladder"
;	"origin" "25718 26875.5 5218"
;	"angles" "0 180 0"
;	"model" "*53"
;	"normal.x" "0.00"
;	"normal.y" "-1.00"
;	"normal.z" "0.00"
;	"team" "2"
;	"targetname" "ladder_scaffolding_reverseside"
;}
;{
;	"classname" "prop_dynamic"
;	"origin" "13426 14296 5628"
;	"angles" "-90 90 0"
;	"model" "models/props_highway/scaffolding_96_railing.mdl"
;	"solid" "0"
;	"disableshadows" "1"
;	"targetname" "ladder_scaffolding_reverseside_prop"
;}
;{
;	"classname" "logic_auto"
;	"OnMapSpawn" "ladder_scaffolding_reverseside,SetParent,ladder_scaffolding_reverseside_prop,0,-1"
;}

; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================