; ======================================================
; ===============  Dead Before Dawn DC: 5  =============
; ======================================================

; Remove the radio voice
;filter:
; Keep outro rescue vehicle voice
;{
;   "targetname" "cj_highway_to_hell"
;}
;{
;   "targetname" "cj_random_1"
;}
;{
;   "targetname" "cj_random_2"
;}
;filter:
; Keep speaker voice when gauntlet starts
;{
;   "targetname" "cj_calling_trigger"
;}
filter:
{
	"targetname" "cj_safehouse"
}
{
	"targetname" "cj_calling_loop"
}

; Block off fire trashbags so survivors can't use them to jump over fence before gauntlet
add:
{
	"origin" "415 853 -1280"
	"classname" "prop_dynamic"
	"angles" "0 55 0"
	"solid" "6"
	"rendercolor" "196 196 255"
	"model" "models/props_street/police_barricade2.mdl"
}
{
	"origin" "305 832 -1280"
	"classname" "prop_dynamic"
	"angles" "0 -40 0"
	"solid" "6"
	"rendercolor" "196 196 255"
	"model" "models/props_street/police_barricade2.mdl"
}

; Ammo at the gauntlet start gate in case first tank wastes all their ammo
add:
{
	"solid" "6"
	"origin" "-473 -310 -1280"
	"spawnflags" "2"
	"skin" "0"
	"model" "models/props/terror/ammo_stack.mdl"
	"count" "5"
	"body" "0"
	"angles" "0 315 0"
	"classname" "weapon_ammo_spawn"
}

; Remove stubborn throwables and health items
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		; First Aid Kit
		"item2" "0"

		; Pipe Bombs
		"item5" "0"

		; Molotovs
		"item3" "0"

		; Adrenaline
		"item11" "0"

		; Bile Bombs
		"item13" "0"
	}
}

; Theres a car stuck in the ground that incaps you if u stand on it o_0
modify:
{
	match:
	{
		"targetname" "car_white16"
	}
	replace:
	{
		"classname" "prop_dynamic"
	}
}

; Modify the trigger that spawns the tank so that we can teleport the tank to a safe location (the ceiling and in front of the survivors)
modify:
{
	match:
	{
		"targetname" "advancementtrigger_2"
	}
	insert:
	{
		"OnTrigger" "tank_early_timer_2Disable0-1"
		"OnTrigger" "tank_spawned_timerEnable0-1"
		"OnTrigger" "tank_musicPlaySound0-1"
	}
}

; Disable the earlier tank spawn trigger so we get consistent tank spawns
filter:
{
	"targetname" "advancementtrigger_1"
}
{
	"targetname" "finale_tank_trigger_alternator"
}
{
	"targetname" "finale_tank_trigger_alternator_versus"
}

add:
{
	"targetname" "tank_spawned_timer"
	"origin" "196.111450 1573.876831 -305.514404"
	"UseRandomTime" "0"
	"UpperRandomBound" "1"
	"StartDisabled" "1"
	"spawnflags" "0"
	"LowerRandomBound" "1"
	"classname" "logic_timer"
	"RefireTime" "1"

	"OnTimer" "directorBeginScriptl4d_dbd2dc_new_dawn_tank_helper_promod0-1"
}
add:
{
	"targetname" "tank_music_timer"
	"origin" "196.111450 1573.876831 -205.514404"
	"UseRandomTime" "0"
	"UpperRandomBound" "1"
	"StartDisabled" "1"
	"spawnflags" "0"
	"LowerRandomBound" "1"
	"classname" "logic_timer"
	"RefireTime" "1"

	"OnTimer" "directorBeginScriptl4d_dbd2dc_new_dawn_tank_music_helper_promod0-1"
}
add:
{
	"targetname" "tank_music"
	"origin" "196.111450 1573.876831 -105.514404"
	"message" "music/tank/tank.wav"
	"classname" "ambient_generic"
	"spawnflags" "17"
	"volstart" "0"
	"cspinup" "0"
	"fadeinsecs" "0"
	"spinup" "0"
	"fadeoutsecs" "3"
	"spindown" "0"
	"health" "10"
	"lfmodpitch" "0"
	"radius" "99999"
	"lfmodvol" "0"
	"preset" "0"
	"lforate" "0"
	"pitchstart" "100"
	"lfotype" "0"
	"pitch" "100"

}

; Remove rooftop tank
filter:
{
	"targetname" "roof_escape_tank_alternator_a"
}
{
	"targetname" "roof_escape_tank_alternator_b"
}

; Hack to allow early tanks to teleport through the finale start gate.
; because they get stuck behind it.
add:
{
	"targetname" "tank_early_timer_1"
	"origin" "196.111450 1573.876831 -105.514404"
	"UseRandomTime" "0"
	"UpperRandomBound" "1"
	"StartDisabled" "1"
	"spawnflags" "0"
	"LowerRandomBound" "1"
	"classname" "logic_timer"
	"RefireTime" "1"

	"OnTimer" "directorBeginScriptl4d_dbd2dc_new_dawn_tank_early_helper_1_promod0-1"
}
add:
{
	"targetname" "tank_early_timer_2"
	"origin" "196.111450 1573.876831 -5.514404"
	"UseRandomTime" "0"
	"UpperRandomBound" "1"
	"StartDisabled" "1"
	"spawnflags" "0"
	"LowerRandomBound" "1"
	"classname" "logic_timer"
	"RefireTime" "1"

	"OnTimer" "directorBeginScriptl4d_dbd2dc_new_dawn_tank_early_helper_2_promod0-1"
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-3444 1844 -1196"
	}
	insert:
	{
		"OnStartTouch" "tank_early_timer_1Enable0-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-711 1180 -1164.5"
	}
	insert:
	{
		"OnStartTouch" "tank_early_timer_1Disable0-1"
		"OnStartTouch" "tank_early_timer_2Enable0.25-1"
	}
}

;--------------------------------------------------
; The rest of this file blocks areas where you can
; jump over to skip large portions of the map
;--------------------------------------------------
add:
{
	"origin" "-2548 1566 -1265"
	"classname" "prop_dynamic"
	"targetname" "exploit_block_1"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_urban/wood_fence001_256.mdl"
}
{
	"origin" "-2548 1310 -1265"
	"classname" "prop_dynamic"
	"targetname" "exploit_block_6"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_urban/wood_fence001_256.mdl"
}
{
	"origin" "-2548 1054 -1265"
	"classname" "prop_dynamic"
	"targetname" "exploit_block_7"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_urban/wood_fence001_256.mdl"
}

; First white van on the left after the event starts can be hopped over
{
	"origin" "102 266 -844"
	"classname" "prop_dynamic"
	"targetname" "exploit_block_2"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_urban/fence003_128.mdl"
}

; car laying on its side shortly after the white van in exploit_block_2
; with the fire at the base of it can be hopped over
{

	"origin" "-432 371 -830"
	"classname" "prop_dynamic"
	"targetname" "exploit_block_3"
	"angles" "0 90 0"
	"solid" "6"
	"model" "models/props_urban/fence002_128.mdl"
}
{
	"origin" "-307 371 -830"
	"classname" "prop_dynamic"
	"targetname" "exploit_block_4"
	"angles" "0 90 0"
	"solid" "6"
	"model" "models/props_urban/fence002_128.mdl"
}
{
	"origin" "-176 371 -830"
	"classname" "prop_dynamic"
	"targetname" "exploit_block_5"
	"angles" "0 90 0"
	"solid" "6"
	"model" "models/props_urban/fence002_128.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-308 1140 -584"
	"targetname" "exploit_block_8"
	"angles" "0 136.5 0"
	"solid" "6"
	"rendercolor" "173 186 172"
	"model" "models/props_urban/wood_fence001_128.mdl"
}

; pretty hacky i guess.. making the exploit blockers invisible
modify:
{
	match:
	{
		"targetname" "gamemode_planner"
	}
	insert:
	{
		"OnVersus" "exploit_block_1TurnOff0-1"
		"OnVersus" "exploit_block_2TurnOff0-1"
		"OnVersus" "exploit_block_3TurnOff0-1"
		"OnVersus" "exploit_block_4TurnOff0-1"
		"OnVersus" "exploit_block_5TurnOff0-1"
		"OnVersus" "exploit_block_6TurnOff0-1"
		"OnVersus" "exploit_block_7TurnOff0-1"
		"OnVersus" "exploit_block_8TurnOff0-1"
	}
}
