; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; ===========  PROMOD SAFEROOM WEAPONS FIX  ===========
; =====================================================
modify:
; --- fix saferooms having no shotgun/uzi/disappearing weapon spawns
{
    ; no uzi fix
    match:
    {
		"hammerid" "6567277"
	}
	replace:
	{
		"weapon_selection" "any_rifle"
	}
}
{
    ; no shotgun fix
    match:
    {	
	    "hammerid" "6567273"
	}
	replace:
	{
	    "weapon_selection" "tier2_shotgun"
	}
}
{
    ; remove hr
    filter:
    {	
	    "hammerid" "6567279"
	}
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
modify:
; --- make generator at top of elevator unmovable to prevent grief-blocking
{
    match:
    {
        "targetname" "generator01"
    }
    replace:
    {
        "spawnflags" "264"
    }
}
add:
; --- block climbing a section of construction for shortcut
{
    ; invisible block along construction platform
    "origin" "13524 14332 5680"
    "mins" "-164 -60 -49"
    "maxs" "164 60 49"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; --- Block survivors getting on top of the barricades / windows in the open area/break room/tank fight near the beginning
{
    "origin" "12909 12360 267"
    "mins" "-19 -440 -117"
    "maxs" "19 440 117"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; =====================================================
; ===================  GLITCH FIX  ====================
; =====================================================

add:
; --- easy fix for elevator glitch
{
    ; invisible block below elevator
    "targetname" "elevator_glitch_prevent_blocker"
    "parentname" "elevator"
    "origin" "13541 15357 5543"
    "mins" "-222 -222 -5200"
    "maxs" "0 0 0"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; <modify the elevator start button so that it removes the glitch fix block after 50s>
modify:
{
    match:
    {
        "hammerid" "6415593"
    }
    insert:
    {
        "OnPressed" "elevator_glitch_prevent_blockerkill50-1"
    }
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
filter:
; some metal doors before cafeteria
{
    ; 1 metal
    "hammerid" "2868899"
}
{
    ; 2 metal
    "hammerid" "2871605"
}
; doors in cafeteria-area
{
    ; door before double-door section
    "hammerid" "3764893"
}
{
    ; door after double-door section
    "hammerid" "3766207"
}
{
    ; double doors - 1 - a
    "hammerid" "2869173"
}
{
    ; double doors - 1 - b
    "hammerid" "2869178"
}
{
    ; double doors - 2 - a
    "hammerid" "2871136"
}
{
    ; double doors - 2 - b
    "hammerid" "2871141"
}
; railings in cafeteria-area
{
    ; func breakable - 1
    "hammerid" "1617312"
}
{
    ; func breakable - 2
    "hammerid" "1617377"
}
{
    ; func breakable - b 1
    "hammerid" "2776040"
}
{
    ; func breakable - b 2
    "hammerid" "2776118"
}
{
    ; func breakable - b 3
    "hammerid" "2776127"
}
; =====================================================