// ===================================================================================
// Pro Mod - A Competitive L4D2 Configuration Always Looking To Improve
// Developers: Jacob, Blade, CanadaRox, CircleSquared, darkid, Epilimic, Fig Newtons, High Cookie, Jahze, NF, Prodigysim, Sir, Stabby, Tabun, Vintik, Visor
// License CC-BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0/legalcode)
// Version 4.5
// http://github.com/jacob404/Pro-Mod-4.0
// ===================================================================================

; Remove hittable that can be used to get to god spot in warehouse
filter:
{
	"model" "models/props/cs_assault/handtruck.mdl"
	"angles" "0 77 0"
}
