; =====================================================
; =================== Carried Off 2 ===================
; =====================================================

; Remove hittable that can be used to get to god spot in warehouse
;filter:
;{
;	"model" "models/props/cs_assault/handtruck.mdl"
;	"angles" "0 77 0"
;}

; Make sure Event Doors can only be broken by Tank. - Redundant fix for issue that no longer occurs + doesn't allow tank to break the doors
modify:
{
	match:
	{
		"targetname" "glow_trigger"
	}
	insert:
	{
		"OnTrigger" "door_emergencySetUnbreakable0-1"
		"OnTrigger" "door_emergency1SetUnbreakable0-1"
	}
}


add:
; --- RBTV Fixes
; --- Block jumping on saferoom roof
{
	"classname" "env_physics_blocker"
	"origin" "-1724.5 -3560 787"
	"mins" "-72.5 -265 -363"
	"maxs" "72.5 265 363"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from gas station roof / going around gas station
{
	"classname" "env_physics_blocker"
	"origin" "872 -128 924"
	"mins" "-232 -384 -740"
	"maxs" "232 384 740"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "960 384 908"
	"mins" "-272 -128 -756"
	"maxs" "272 128 756"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1196 0 912"
	"mins" "-92 -264 -752"
	"maxs" "92 264 752"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "939 -1088 395"
	"mins" "-57 -72 -389"
	"maxs" "57 72 389"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1100 -776 464"
	"angles" "0 -15 0"
	"mins" "-68 -265 -320"
	"maxs" "68 265 320"
	"boxmins" "-68 -265 -320"
	"boxmaxs" "68 265 320"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block skipping warehouse ladder by jumping off shelf
{
	"classname" "env_physics_blocker"
	"origin" "4081 93 198.5"
	"mins" "-1 -198 -6.5"
	"maxs" "1 198 6.5"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "4083 93 195.5"
	"mins" "-1 -198 -3.5"
	"maxs" "1 198 3.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing in infected only doorways in warehouse
{
	"classname" "env_physics_blocker"
	"origin" "4177 -352 251"
	"mins" "-2 -33 -59"
	"maxs" "2 33 59"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "4177 672 251"
	"mins" "-2 -33 -59"
	"maxs" "2 33 59"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block jumping over warehouse vending machines early
{
	"classname" "env_physics_blocker"
	"origin" "3373 1392 307"
	"mins" "-13 -68 -35"
	"maxs" "13 68 35"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block jesus spot truck after warehouse
{
	"classname" "env_physics_blocker"
	"origin" "5148 3536 186"
	"mins" "-46 -46 -186"
	"maxs" "46 46 186"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "5144 3703 262"
	"mins" "-60 -121 -110"
	"maxs" "60 121 110"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block jesus spot shelves in power plant area
{
	"classname" "env_physics_blocker"
	"origin" "6191 2228 96"
	"mins" "-35 -162 -80"
	"maxs" "35 162 80"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "6411.5 2352 96"
	"mins" "-32.5 -80 -80"
	"maxs" "32.5 80 80"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block jumping over desks in apartment early
{
	"classname" "env_physics_blocker"
	"origin" "8983 4954 386"
	"mins" "-47 -4 -6"
	"maxs" "47 4 6"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Fix being able to spawn tanks early in the warehouse
{
	"classname" "logic_auto"
	"OnMapSpawn" "warehouse_nav_skip_blocker,BlockNav,,1,-1"
}
{
	"classname" "script_nav_blocker"
	"origin" "4272 152 256"
	"extent" "80 568 64"
	"targetname" "warehouse_nav_skip_blocker"
	"teamToBlock" "2"
	"affectsFlow" "0"
}
; --- Block a stuck spot between van and wall
{
	"classname" "env_physics_blocker"
	"origin" "8416 4425 82"
	"angles" "0 0 5.5"
	"mins" "-14 -83.5 -49"
	"maxs" "14 83.5 49"
	"boxmins" "-14 -83.5 -49"
	"boxmaxs" "14 83.5 49"
	"initialstate" "1"
	"BlockType" "0"
}

; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Run nav fixes script
; --- Fix 1: Fixes god spot on top of truck after the alarmed door
; --- Fix 2: Fixes god spot on top of van after the alarmed door
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "director,RunScriptFile,nav_fixes/cwm2_warehouse_navfixes,20,-1"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile on the meeting table in the warehouse offices
{
	"classname" "weapon_ammo_spawn"
	"origin" "2994 1707 302"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
}
; --- Ammo pile in the shop at the start of the apartments
{
	"classname" "weapon_ammo_spawn"
	"origin" "8857 4225 217u"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
}

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block skip over a fence by the starting saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-1584 -2328 704"
	"mins" "-1 -408 -448"
	"maxs" "1 408 448"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors being able to access the bridge
{
	"classname" "env_physics_blocker"
	"origin" "-1536 16 960"
	"mins" "-64 -64 -704"
	"maxs" "64 64 704"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1516 -1840 960"
	"mins" "-40 -16 -704"
	"maxs" "40 16 704"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1642 -952 960"
	"mins" "-86 -904 -704"
	"maxs" "86 904 704"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1430 -920 960"
	"mins" "-86 -872 -704"
	"maxs" "86 872 704"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block standing on gas station window frame
{
	"classname" "env_physics_blocker"
	"origin" "639.38 -272 896"
	"mins" "-0.625 -49 -768"
	"maxs" "0.625 49 768"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block jumping over the hedges to skip the gas station
{
	"classname" "env_physics_blocker"
	"origin" "1200.5 960 832"
	"mins" "-19.5 -448 -832"
	"maxs" "19.5 448 832"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block shelves to right of ladder in warehouse
{
	"classname" "env_physics_blocker"
	"origin" "3832 -463 373"
	"mins" "-80 -33 -123"
	"maxs" "80 33 123"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3492 -463 256"
	"mins" "-100 -33 -240"
	"maxs" "100 33 240"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Remove handtrucks that can be used to access god spots in the warehouse
filter:
{
	"hammerid" "14800"
}
{
	"hammerid" "14796"
}
; --- Block god spot shelves under the walkway in the warehouse
add:
{
	"classname" "env_physics_blocker"
	"origin" "4129.3 622.67 96"
	"angles" "0 349 0"
	"mins" "-32 -78 -80"
	"maxs" "32 78 80"
	"boxmins" "-32 -78 -80"
	"boxmaxs" "32 78 80"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "4143.5 448 96"
	"mins" "-32.5 -77 -80"
	"maxs" "32.5 77 80"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block standing on shelf under the warehouse ladder
{
	"classname" "env_physics_blocker"
	"origin" "4120 -64.5 172"
	"mins" "-40 -80.5 -4"
	"maxs" "40 80.5 4"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block standing on a shelf to the left of the warehouse ladder
{
	"classname" "env_physics_blocker"
	"origin" "3830 91 289"
	"angles" "0 10 0"
	"mins" "-42 -73 -207"
	"maxs" "42 73 207"
	"boxmins" "-42 -73 -207"
	"boxmaxs" "42 73 207"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block jumping on an electrical box on the warehouse walkway
{
	"classname" "env_physics_blocker"
	"origin" "4169.5 123 344"
	"mins" "-6.5 -35 -152"
	"maxs" "6.5 35 152"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block standing on the support beams in the warehouse
{
	"classname" "env_physics_blocker"
	"origin" "3584 -488 401"
	"mins" "-592 -8 -81"
	"maxs" "592 8 81"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3584 -232 401"
	"mins" "-592 -8 -81"
	"maxs" "592 8 81"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3584 24 401"
	"mins" "-592 -8 -81"
	"maxs" "592 8 81"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3584 280 401"
	"mins" "-592 -8 -81"
	"maxs" "592 8 81"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3584 536 401"
	"mins" "-592 -8 -81"
	"maxs" "592 8 81"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3584 792 401"
	"mins" "-592 -8 -81"
	"maxs" "592 8 81"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3584 1048 401"
	"mins" "-592 -8 -81"
	"maxs" "592 8 81"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block shelves at the end of the walkway in the warehouse
{
	"classname" "env_physics_blocker"
	"origin" "3824.5 960 256"
	"mins" "-34.5 -80 -240"
	"maxs" "34.5 80 240"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block being able to skip the event by jumping from a window in the offices over a fence
{
	"classname" "env_physics_blocker"
	"origin" "4360 2328 908"
	"mins" "-8 -400 -756"
	"maxs" "8 400 756"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block standing on blue food truck after the warehouse
{
	"classname" "env_physics_blocker"
	"origin" "4643.86 880.8 884.5"
	"angles" "0 7 0"
	"mins" "-59 -51 -779.5"
	"maxs" "59 51 779.5"
	"boxmins" "-59 -51 -779.5"
	"boxmaxs" "59 51 779.5"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "4624.6 1037.62 832"
	"angles" "0 7 0"
	"mins" "-59 -107 -832"
	"maxs" "59 107 832"
	"boxmins" "-59 -107 -832"
	"boxmaxs" "59 107 832"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block standing on white truck after the warehouse
{
	"classname" "env_physics_blocker"
	"origin" "4971.36 1480.98 832"
	"angles" "0 7 0"
	"mins" "-43 -36 -832"
	"maxs" "43 36 832"
	"boxmins" "-43 -36 -832"
	"boxmaxs" "43 36 832"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "4990.89 1334.27 912"
	"angles" "0 7 0"
	"mins" "-57.5 -112 -752"
	"maxs" "57.5 112 752"
	"boxmins" "-57.5 -112 -752"
	"boxmaxs" "57.5 112 752"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block standing on an electrical box before the event button
{
	"classname" "env_physics_blocker"
	"origin" "6007.5 3365 316"
	"mins" "-4.5 -35 -164"
	"maxs" "4.5 35 164"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block a ledge that can be used to skip the apartments
{
	"classname" "env_physics_blocker"
	"origin" "8682 6010 1000"
	"mins" "-246 -390 -664"
	"maxs" "246 390 664"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block climbing on generator to skip the apartments
{
	"classname" "env_physics_blocker"
	"origin" "8622.93 5533.07 257.5"
	"angles" "0 150 0"
	"mins" "-8 -8 -97.5"
	"maxs" "8 8 97.5"
	"boxmins" "-8 -8 -97.5"
	"boxmaxs" "8 8 97.5"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "8622 5534 371"
	"angles" "0 150 0"
	"mins" "-29 -10 -16"
	"maxs" "29 10 16"
	"boxmins" "-29 -10 -16"
	"boxmaxs" "29 10 16"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block climbing on 2 electrical boxes to skip the apartments
{
	"classname" "env_physics_blocker"
	"origin" "8699.5 5548.5 347"
	"mins" "-4.5 -29.5 -101"
	"maxs" "4.5 29.5 101"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "8697.5 5265 286"
	"mins" "-6.5 -35 -12"
	"maxs" "6.5 35 12"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from accessing a room above the scaffolding
{
	"classname" "env_physics_blocker"
	"origin" "8712 4924 560"
	"mins" "-8 -28 -48"
	"maxs" "8 28 48"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Block a perma-stuck spot between some trucks after the gas station
{
	"classname" "env_physics_blocker"
	"origin" "1900 10 51"
	"mins" "-32 -106 -51"
	"maxs" "32 106 51"
	"initialstate" "1"
	"BlockType" "0"
}


; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================
; --- Fade alarm sound when doors are opened
modify:
{
	match:
	{
		"targetname" "door_open_relay"
	}
	insert:
	{
		"OnTrigger" "alarm_sound,FadeOut,5,3,-1"
		"OnTrigger" "alarm_sound,Kill,,10,-1"
	}
}

; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Infected ladder on the starting saferoom
{
    "classname" "func_simpleladder"
    "origin" "-1017 -3814 226"
    "angles" "0 180 0"
    "model" "*32"
    "normal.x" "0"
    "normal.y" "1"
    "normal.z" "0"
    "team" "2"
}
; --- Infected ladders on the truck outside the starting saferoom
{
    "classname" "func_simpleladder"
    "origin" "-1487.86 634.122 -80"
    "angles" "0 15 0"
    "model" "*98"
    "normal.x" "0.573506"
    "normal.y" "0.819202"
    "normal.z" "0"
    "team" "2"
}
{
    "classname" "func_simpleladder"
    "origin" "-2895.14 -5760.12 -21"
    "angles" "0 195 0"
    "model" "*98"
    "normal.x" "-0.573506"
    "normal.y" "-0.819202"
    "normal.z" "0"
    "team" "2"
}
; --- Infected ladder on fallen delivery truck outside the starting saferoom
{
    "classname" "func_simpleladder"
    "origin" "-1094.6 -1952.75 184"
    "angles" "0 245 0"
    "model" "*32"
    "normal.x" "-0.906308"
    "normal.y" "0.422618"
    "normal.z" "0"
    "team" "2"
}
; --- Infected ladder to climb over fence outside the starting saferoom
{
    "classname" "func_simpleladder"
    "origin" "-2090 -2769 193"
    "angles" "0 90 0"
    "model" "*32"
    "normal.x" "1"
    "normal.y" "0"
    "normal.z" "0"
    "team" "2"
}
{
    "classname" "env_physics_blocker"
    "origin" "-1575 -2096 200"
    "angles" "0 45 0"
    "mins" "0 0 0"
    "maxs" "1.5 13.5 178"
    "boxmins" "0 0 0"
    "boxmaxs" "1.5 13.5 178"
    "initialstate" "1"
    "BlockType" "0"
}
{
    "classname" "env_physics_blocker"
    "origin" "-1575 -2122 200"
    "angles" "0 -45 0"
    "mins" "0 0 0"
    "maxs" "1.5 -13.5 178"
    "boxmins" "0 0 0"
    "boxmaxs" "1.5 -13.5 178"
    "initialstate" "1"
    "BlockType" "0"
}
; --- Infected ladders to climb over the middle of the bridge outside the starting saferoom
{
    "classname" "func_simpleladder"
    "origin" "511 0 0"
    "angles" "0 0 0"
    "model" "*107"
    "normal.x" "0.996193"
    "normal.y" "-0"
    "normal.z" "0.087177"
    "team" "2"
}
{
    "classname" "func_simpleladder"
    "origin" "511 386 0"
    "angles" "0 0 0"
    "model" "*107"
    "normal.x" "0.996193"
    "normal.y" "-0"
    "normal.z" "0.087177"
    "team" "2"
}
{
    "classname" "func_simpleladder"
    "origin" "-507 0 0"
    "angles" "0 0 0"
    "model" "*109"
    "normal.x" "-0.996193"
    "normal.y" "0"
    "normal.z" "0.087177"
    "team" "2"
}
{
    "classname" "func_simpleladder"
    "origin" "-507 570 0"
    "angles" "0 0 0"
    "model" "*109"
    "normal.x" "-0.996193"
    "normal.y" "0"
    "normal.z" "0.087177"
    "team" "2"
}
; --- Infected ladders to climb on trucks after the gas station
{
    "classname" "func_simpleladder"
    "origin" "-793 -1516 -173"
    "angles" "0 0 0"
    "model" "*38"
    "normal.x" "-1"
    "normal.y" "0"
    "normal.z" "0"
    "team" "2"
}
{
    "classname" "func_simpleladder"
    "origin" "3667.45 -2735.06 -200"
    "angles" "0 93 0"
    "model" "*38"
    "normal.x" "0.0523359"
    "normal.y" "-0.99863"
    "normal.z" "0"
    "team" "2"
}
; --- Additional infected ladder to climb on awning at the warehouse entrance
{
    "classname" "func_simpleladder"
    "origin" "0 -512 0"
    "angles" "0 0 0"
    "model" "*40"
    "normal.x" "-0.906183"
    "normal.y" "0"
    "normal.z" "-0.422885"
    "team" "2"
}
; --- Infected ladder to climb back over fallen shelves at the start of the warehouse

{
    "classname" "func_simpleladder"
    "origin" "7627 -37.5634 -79"
    "angles" "0 167 0"
    "model" "*71"
    "normal.x" "0.97437"
    "normal.y" "-0.224951"
    "normal.z" "0"
    "team" "2"
}
; --- Adjusted infected ladder by the alarmed door to help prevent falling off / getting stuck
modify:
{
	match:
	{
		"hammerid" "449022"
	}
	insert:
	{
		"origin" "-4 0 0"
	}
}
; --- Infected ladder by fenced off power transformers to prevent a perma-stuck spot and climb over the fence
add:
{
    "classname" "func_simpleladder"
    "origin" "1885 9979 -95"
    "angles" "0 270 0"
    "model" "*69"
    "normal.x" "0"
    "normal.y" "1"
    "normal.z" "0"
    "team" "2"
}