; =====================================================
; ======= Remove Witch Script + Two Messages ==========
; =====================================================
filter:
{
	"targetname" "versus_cvars"
}
modify:
{
	match:
	{	
		"hammerid" "2109994"
	}
	delete:
	{
		"OnCoop" "versus_end_saferoom_blockKill0-1"
		"OnCoop" "versus_end_saferoom_block_brushKill0-1"
		"OnCoop" "versus_saferoom_door_blockKill0-1"
	}
	insert:
	{
		"OnCoop" "saferoombarrierKill0-1"
		"OnCoop" "endsaferoomclipKill0-1"
		"OnCoop" "checkpoint_kitsKill0-1"
	}
}
modify:
{
	match:
	{	
		"hammerid" "2947295"
	}
	delete:
	{

		"OnCoop" "boss_chooserKill0-1"
		"OnCoop" "left_saferoomKill0-1"
		"OnCoop" "versus_boss_kill_allTrigger0-1"
		"OnCoop" "directorBeginScriptkillconvo0-1"
		"OnCoop" "deagleKill0-1"
		"OnCoop" "weapons_scavengeKill0-1"
		"OnCoop" "weapons_survivalKill0-1"

	}
	insert:
	{
		"OnCoop" "directorBeginScriptdkr_nobosses0-1"
		"OnCoop" "IntroTriggerKill0-1"
		"OnCoop" "EE_scriptKill0-1"
		"OnCoop" "carousel_gate_doorSetSpeed80-1"
		"OnCoop" "weapons_survivalKill0-1"
		"OnCoop" "weapons_scavengeKill0-1"
	}
}
modify:
{
	match:
	{	
		"hammerid" "3514532"
	}
	delete:
	{
		"OnCoop" "carousel_gate_button_versusKill0-1"
	}
	insert:
	{
		"OnCoop" "carousel_gate_buttonKill0-1"
	}
}


; --- Fix broken infected ladder on telephone pole after the warehouse
filter:
{
	"hammerid" "1184297"
}
add:
{
    "classname" "func_simpleladder"
    "origin" "-1.00049 7.33105 -90.5992"
    "angles" "0 0 3"
    "model" "*205"
    "normal.x" "0"
    "normal.y" "-0.99863"
    "normal.z" "-0.052336"
    "team" "2"
}
