; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Run nav fixes script
; --- Fix 1: Fixes jesus spot on table in burger tank
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "@director,RunScriptFile,nav_fixes/c4m5_milltown_escape_navfixes,20,-1"
}
; --- Force all alarm cars to be active
modify:
; --- Alarm by burger tank
{
	match:
	{
		"targetname" "branch_caralarm-car5"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car5Trigger0-1"
	}
}
; --- Alarm by playground saferoom house
{
	match:
	{
		"targetname" "branch_caralarm-car1"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car1Trigger0-1"
	}
}
; --- Alarm by the playground green house
{
	match:
	{
		"targetname" "branch_caralarm-car4"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car4Trigger0-1"
	}
}
; --- Alarm by the garage sale
{
	match:
	{
		"targetname" "branch_caralarm-car2"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car2Trigger0-1"
	}
}
; --- Alarm by the sugarmill saferoom
{
	match:
	{
		"targetname" "branch_caralarm-car3"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car3Trigger0-1"
	}
}


; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
add:
; --- Single magnum spawn before diner
{
	"classname" "weapon_pistol_magnum"
	"origin" "-6652 7633 97"
	"angles" "0 81 90"
	"spawnflags" "1"
}
; --- Make the spawns inside the diner always be the alternative tier 1 type
modify:
{
	match:
	{
		"hammerid" "1799634"
	}
	replace:
	{
		"weapon_selection" "weapon_smg_silenced"
	}
}
{
	match:
	{
		"hammerid" "1799638"
	}
	replace:
	{
		"weapon_selection" "weapon_shotgun_chrome"
	}
}
; --- Remove health cabinets
filter:
{
	"classname" "prop_health_cabinet"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from getting on the roof next to burger tank
{
	"classname" "env_physics_blocker"
	"origin" "-6000 8244 794"
	"mins" "-208 -180 -454"
	"maxs" "208 180 454"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6016 8768 706"
	"mins" "-128 -96 -454"
	"maxs" "128 96 454"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Replace angled clip until angled clip bug is fixed (#34)
;{
;	"classname" "env_physics_blocker"
;	"origin" "-5846 8536 818"
;	"angles" "0 7 0"
;	"mins" "-40 -140 -454"
;	"maxs" "40 140 454"
;	"boxmins" "-40 -140 -454"
;	"boxmaxs" "40 140 454"
;	"initialstate" "1"
;	"BlockType" "1"
;}
{
	"classname" "env_physics_blocker"
	"origin" "-5848 8556 794"
	"mins" "-56 -132 -454"
	"maxs" "56 132 454"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Cliping on pickup truck by burger tank to make the jump to the awning possible on all tickrates
{
	"classname" "env_physics_blocker"
	"origin" "-5374 7281 193"
	"angles" "0 -8.5 0"
	"mins" "-24 -30 -3"
	"maxs" "24 30 3"
	"boxmins" "-24 -30 -3"
	"boxmaxs" "24 30 3"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on floating tree by burger tank
{
	"classname" "env_physics_blocker"
	"origin" "-4744 6788 105"
	"mins" "-54 -48 -7"
	"maxs" "54 48 7"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Add plywood behind ladder on collapsed fence to fix visibility issues
{
	"classname" "prop_dynamic"
	"origin" "-4092 7460 231"
	"angles" "-90 0 0"
	"model" "models/props_highway/plywood_03.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Add missing glass to vehicles
{
	"classname" "prop_dynamic"
	"origin" "-3207.95 7448.24 102.297"
	"angles" "0 356.501 0"
	"model" "models/props_vehicles/pickup_truck_78_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
add:
; --- Tree near the collapsed fence by the burger tank
{
	"classname" "prop_dynamic"
	"origin" "-3794 6922 98"
	"angles" "0 270 0"
	"model" "models/props_foliage/urban_tree_giant01_medium.mdl"
	"solid" "6"
	"disableshadows" "1"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================
; --- Remove the storm effects from the map, also prevents a glitch where the storm becomes permanently active
modify:
{
	; --- Remove trigger from logic_director_query
	match:
	{
		"classname" "logic_director_query"
		"distribution" "3"
	}
	delete:
	{
		"On20SecondsToMob" "relay_storm_startTrigger15-1"
		"On20SecondsToMob" "fx_skybox_general_lightningStop0-1"
	}
}
; --- Remove the storm start relay and storm start effects relay
filter:
{
	"targetname" "relay_storm_start"
}
{
	"targetname" "relay_storm_blendin"
}


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================
; --- Remove TLS infected clips after loading
add:
{
	"classname" "logic_auto"
	; --- Replace broken blocker on generator by burger tank causing physics issues
	"OnMapSpawn" "anv_mapfixes_booster_ginnyjon,Kill,,30,-1"
	; --- Angled clip on top of generator (can be re-enabled if angled blockers get fixed) (#34), replaced with existing Valve commentary blocker
	"OnMapSpawn" "anv_mapfixes_booster_ginnytop,Kill,,30,-1"
}
; --- Replacement for anv_mapfixes_booster_ginnyjon
{
	"classname" "env_physics_blocker"
	"origin" "-5425 6789 385"
	"angles" "0 45 0"
	"mins" "-10 -4 -284"
	"maxs" "6 4 0"
	"boxmins" "-10 -4 -284"
	"boxmaxs" "6 4 0"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Remove Valve's commentary blockers so we can replace them with our own
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "env_player_blocker,Kill,,30,-1"
}
; --- Re-add Valve's blockers copied directly from c4m5_milltown_escape_commentary.txt, excluding the ones we don't want
; --- Block jesus spot on table in the burger tank - REMOVED, nav fixes vscript fixes jesus spot here, so no need to replace this
;{
;	"id" "13567"
;	"classname" "env_physics_blocker"
;	"BlockType" "1"
;	"initialstate" "1"
;	"maxs" "24 56 144"
;	"mins" "-58 -8 -72"
;	"origin" "-5840 7132 136"
;	"mapupdate" "1"
;}
; --- Block jesus spot on the docks - CHANGED, now only blocks survivors
{
	"id" "13705"
	"classname" "env_physics_blocker"
	"BlockType" "1"
	"initialstate" "1"
	"maxs" "4 8 8"
	"mins" "-4 -256 -80"
	"origin" "-7184 8604 109"
	"mapupdate" "1"
}
; --- Block survivors from jumping on top of the generator lights - Replacement for anv_mapfixes_booster_ginnytop, modified Z
{
	"id" "14000"
	"classname" "env_physics_blocker"
	"BlockType" "1"
	"initialstate" "1"
	"maxs" "58 58 1180"
	"mins" "-4 -8 -8"
	"origin" "-5451 6765 386.06"
	"mapupdate" "1"
}
; --- Block players going past the kill trigger in the water at the docks
{
	"classname" "env_physics_blocker"
	"initialstate" "1"
	"maxs" "400 200 3000"
	"mins" "-500 -528 -80"
	"origin" "-7580.84 6948.33 -303"
	"mapupdate" "1"
	"BlockType" "0"
}
; --- Block survivors from standing on trees by the burger tank
; --- Tree to right of burger tank - REPLACED
;{
;	"classname" "env_physics_blocker"
;	"BlockType" "1"
;	"initialstate" "1"
;	"maxs" "275 200 3000"
;	"mins" "-50 -150 0"
;	"origin" "-6376 6720 265.496"
;	"mapupdate" "1"
;}
; --- Tree by the semi truck - REPLACED
;{
;	"classname" "env_physics_blocker"
;	"BlockType" "1"
;	"initialstate" "1"
;	"maxs" "275 200 3000"
;	"mins" "-50 -150 0"
;	"origin" "-4840 6800 281.496"
;	"mapupdate" "1"
;}
{
	"classname" "env_physics_blocker"
	"BlockType" "1"
	"initialstate" "1"
	"maxs" "350 300 3000"
	"mins" "0 -100 0"
	"origin" "-7144 8120 249.496"
	"mapupdate" "1"
}
{
	"classname" "env_physics_blocker"
	"BlockType" "1"
	"initialstate" "1"
	"maxs" "300 200 3000"
	"mins" "-50 -120 0"
	"origin" "-4800 8480 281.496"
	"mapupdate" "1"
}
{
	"classname" "env_physics_blocker"
	"BlockType" "1"
	"initialstate" "1"
	"maxs" "300 200 3000"
	"mins" "-50 -120 0"
	"origin" "-5520 7936 281.496"
	"mapupdate" "1"
}
{
	"classname" "env_physics_blocker"
	"BlockType" "1"
	"initialstate" "1"
	"maxs" "200 200 3000"
	"mins" "0 -100 0"
	"origin" "-6900.06 7183.3 249.496"
	"mapupdate" "1"
}
; --- Clips outside the playable area - REMOVED
;{
;	"classname" "env_physics_blocker"
;	"initialstate" "1"
;	"maxs" "50 1200 3000"
;	"mins" "-50 -52 -80"
;	"origin" "-957.801 3798.52 351.499"
;	"mapupdate" "1"
;}
;{
;	"classname" "env_physics_blocker"
;	"initialstate" "1"
;	"maxs" "50 300 2000"
;	"mins" "-50 -52 -80"
;	"origin" "-2852.78 5296.57 290.201"
;	"mapupdate" "1"
;}
;{
;	"classname" "env_physics_blocker"
;	"initialstate" "1"
;	"maxs" "50 1000 2000"
;	"mins" "-50 -52 -80"
;	"origin" "-2948.78 5232.57 290.201"
;	"mapupdate" "1"
;}
; --- Replacement clips on trees
; --- Tree to right of burger tank
{
	"classname" "env_physics_blocker"
	"origin" "-6257 6827 984"
	"mins" "-37 -93 -552"
	"maxs" "37 93 552"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6306 6705 928"
	"mins" "-97 -29 -608"
	"maxs" "97 29 608"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6319 6626 956"
	"mins" "-18 -51 -580"
	"maxs" "18 51 580"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6222 6660 960"
	"mins" "-79 -16 -576"
	"maxs" "79 16 576"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6158 6735 928"
	"mins" "-51 -38 -608"
	"maxs" "51 38 608"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Tree by the semi truck
{
	"classname" "env_physics_blocker"
	"origin" "-4802 6801 984"
	"mins" "-24 -11 -552"
	"maxs" "24 11 552"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4803 6893 952"
	"mins" "-26 -15 -584"
	"maxs" "26 15 584"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4757 6887 952"
	"mins" "-21 -112 -584"
	"maxs" "21 112 584"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4708 6819 956"
	"mins" "-29 -23 -580"
	"maxs" "29 23 580"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4681 6776 936"
	"mins" "-55 -20 -604"
	"maxs" "55 20 604"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4653 6739 940"
	"mins" "-18 -18 -596"
	"maxs" "18 18 596"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4738 6733 932"
	"mins" "-23 -53 -604"
	"maxs" "23 53 640"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Infected ladder to prevent players getting perma-stuck in the green dumpster by the burger tank
{
	"classname" "func_simpleladder"
	"origin" "-29 -205 -117"
	"angles" "0 0 0"
	"model" "*120"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to get on the taller building by the burger tank from behind the fences
{
	"classname" "func_simpleladder"
	"origin" "2402 14762 0"
	"angles" "0 90 0"
	"model" "*56"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to get on awning by playground saferoom
{
	"classname" "func_simpleladder"
	"origin" "4095 14448 -39"
	"angles" "0 90 0"
	"model" "*60"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Prop for ladder
{
	"classname" "prop_dynamic"
	"origin" "-3680 8145 277"
	"angles" "0 180 0"
	"model" "models/props_downtown/gutter_downspout_straight_160_01.mdl"
	"solid" "0"
	"disableshadows" "1"
}


; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================