; Map name: dprm2_downpour_a
; =====================================================
; =========== PROMOD USELESS PILL REMOVAL =============
; =====================================================
filter:
{"hammerid" "6463708"}
{"hammerid" "6463710"}
{"hammerid" "6463712"}
{"hammerid" "6463714"}
{"hammerid" "6463716"}
{"hammerid" "6463718"}
{"hammerid" "6463720"}
{"hammerid" "6463722"}
{"hammerid" "6463724"}
{"hammerid" "6463726"}
{"hammerid" "6463728"}
{"hammerid" "6463730"}
{"hammerid" "6463732"}
{"hammerid" "6463734"}
{"hammerid" "6463736"}
{"hammerid" "6463738"}
{"hammerid" "6463740"}
{"hammerid" "6463742"}
{"hammerid" "6463744"}
{"hammerid" "6463746"}
{"hammerid" "6463748"}
{"hammerid" "6463750"}
{"hammerid" "6463752"}
{"hammerid" "6463754"}
{"hammerid" "6463756"}
{"hammerid" "6463758"}
{"hammerid" "6463760"}
{"hammerid" "6463762"}
{"hammerid" "6463764"}
{"hammerid" "6463766"}
{"hammerid" "6463768"}
{"hammerid" "6463770"}
{"hammerid" "6463772"}
{"hammerid" "6463774"}

; --- filter out bugged witches in 1v1

filter:

{
	"targetname" "spawn_witch"
}

; --- Block jumping on gas station roof
add:
{
	"classname" "env_physics_blocker"
	"origin" "-1593 -13616 894"
	"mins" "-330 -228 -580"
	"maxs" "330 228 580"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1761 -13422 894"
	"mins" "-354 -162 -580"
	"maxs" "354 162 580"
	"initialstate" "1"
	"BlockType" "1"
}
