; =====================================================
; ==============  HUNTER CONFIG PROPS  ================
; =====================================================

{
	"classname" "prop_dynamic"
	"angles" "0 181 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"origin" "-8126 -7467 -560.994"
}
{
	"classname" "prop_dynamic"
	"angles" "0 209.5 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"origin" "-8126 -7467 -521.994"
}
{
	"classname" "prop_dynamic"
	"angles" "0 238.5 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"origin" "-8126 -7467 -483.994"
}

; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================
filter:
{
    "hammerid" "1814273"
}
{
    "hammerid" "1787790"
}
{
    "hammerid" "1787818"
}
{ 
    "hammerid" "1787826"
}
{
    "hammerid" "1814310"
}
{
    "hammerid" "1787830"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block drainage tunnel hole near rescue closet to prevent getting knocked inside
{
    ; invisible block in drainage tunnel hole
    "origin" "-8044 -7280 -408"
    "mins" "-4 -104 -56"
    "maxs" "4 104 56"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing wall with common to bypass event
{
    ; invisible block along wall section
    "origin" "-8050 -8422 -487"
    "mins" "-26 -75 -88"
    "maxs" "26 75 88"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block common jumping up into windows to get on roofs and off map
{
    ; invisible block in windows
    "origin" "-6452 -6008 136"
    "mins" "-167 -8 -44"
    "maxs" "167 8 44"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block bhopping into windows near end of map
{
    ; invisible block in windows
    "origin" "-8252 -6008 16"
    "mins" "-352 -8 -64"
    "maxs" "352 8 64"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block two stuck spots underneath hanging lights in the saferoom
{
    ; invisible block left side
    "origin" "-11407 -8917 -482"
    "mins" "-1 -22.5 -111.5"
    "maxs" "1 22.5 111.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    ; invisible block right side
    "origin" "-11001 -8917 -482"
    "mins" "-1 -22.5 -111.5"
    "maxs" "1 22.5 111.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; =====================================================