; =====================================================
; ==============  HUNTER CONFIG PROPS  ================
; =====================================================

{
	"classname" "prop_dynamic"
	"angles" "0 2.5 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"origin" "956 1381 248.006"
}
{
	"classname" "prop_dynamic"
	"angles" "-1.57094 167.094 -6.8223"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6""
	"origin" "956 1356 285.006"
}

; =====================================================
; ================  VAN PUSH BRUSHES  =================
; =====================================================

; --- Remove triggers that push you out of the way of the moving event van

filter:
{
	"targetname" "van_push1_trigger"
}
filter:
{
	"targetname" "van_push2_trigger"
}
filter:
{
	"targetname" "van_push3_trigger"
}
filter:
{
	"targetname" "van_push4_trigger"
}
filter:
{
	"targetname" "van_push5_trigger"
}
filter:
{
	"targetname" "van_push6_trigger"
}

; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================

filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; ==================  EVENT REMOVAL  ==================
; =====================================================

; --- Remove the metal detector event and add some changes to compensate for difficulty change

filter:
{
	"targetname" "securityalarmtrigger1"
}
{
	"targetname" "onslaught_hint_trigger"
}

; -- get rid of some annoying debris props
{
	"model" "models/props_interiors/trashcan01.mdl"
}

; --- Remove all doors

{
	"classname" "prop_door_rotating"
}

; --- Fix area portals

modify:
{
    match:
    {
        "classname" "func_areaportal"
    }
    replace:
    {
        "StartOpen" "1"
    }
}

; --- new props in final stretch

add:
; --- clips for the new props
{
    "origin" "2986 4106 279"
    "mins" "-178.5 -11.5 -128"
    "maxs" "178.5 11.5 128"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "2818 4295 279"
    "mins" "-12.5 -185.5 -128"
    "maxs" "12.5 185.5 128"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_unique/airport/luggage_pile1.mdl"
	"solid" "6"
	"origin" "2647 2431 150.846"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"solid" "6"
	"origin" "3033 4109 152"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"solid" "6"
	"origin" "2888 4106 152"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 90"
	"disableshadows" "1"
	"model" "models/props_unique/airportdeparturedesk01.mdl"
	"solid" "6"
	"origin" "3160 4119 209"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"solid" "6"
	"origin" "2818 4180 152"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"solid" "6"
	"origin" "2813 4325 152"
}
{
	"classname" "prop_dynamic"
	"angles" "0 357.5 0"
	"disableshadows" "1"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"solid" "6"
	"origin" "2826 4441 152"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_unique/airportdeparturepodium01.mdl"
	"solid" "6"
	"origin" "3131 3645 150.923"
}
{
	"classname" "prop_dynamic"
	"angles" "0 122 0"
	"disableshadows" "1"
	"model" "models/props_unique/airportdeparturepodium01.mdl"
	"solid" "6"
	"origin" "3073 4244 151.923"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_unique/airportdeparturescreen01.mdl"
	"solid" "6"
	"origin" "2983 3925 151.25"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:

; --- block using crashed airplane to ledge-hang up onto roofs
{
    ; invisible block across front of crashed airplane
    "origin" "2472 1866 358"
    "mins" "-16 -118 -38"
    "maxs" "16 118 38"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; --- block a stuck spot at the start
{
    "origin" "580 3565 524"
    "mins" "-23 -23 -12"
    "maxs" "23 23 12"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================

add:
{
    "solid" "6"
    "disableshadows" "1"
    "origin" "110 3500 340"
    "angles" "0 75 0"
    "model" "models/props_debris/barricade_tall04a.mdl"
    "classname" "prop_dynamic"
}

; =====================================================