; =====================================================
; ==============  HUNTER CONFIG PROPS  ================
; =====================================================

{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-1824 3373 -140.998"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-1824 3373 -175.998"
}
{
	"classname" "prop_dynamic"
	"angles" "0 166.5 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-1867 3378 -140.998"
}
{
	"classname" "prop_dynamic"
	"angles" "0 346.5 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-1867 3378 -175.998"
}
{
	"classname" "prop_dynamic"
	"angles" "0 225 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3762 2375 163.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3762 2375 128.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 315 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3711 2345 163.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 135 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3711 2345 128.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3738 2399 128.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 225 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3738 2399 163.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-1824 3373 -140.998"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-1824 3373 -175.998"
}
{
	"classname" "prop_dynamic"
	"angles" "0 166.5 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-1867 3378 -140.998"
}
{
	"classname" "prop_dynamic"
	"angles" "0 346.5 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-1867 3378 -175.998"
}
{
	"classname" "prop_dynamic"
	"angles" "0 225 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3762 2375 163.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3762 2375 128.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 315 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3711 2345 163.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 135 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3711 2345 128.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3738 2399 128.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 225 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3738 2399 163.002"
}

; =====================================================
; ===========  PROMOD SAFEROOM WEAPONS FIX  ===========
; =====================================================
modify:
; --- fix saferooms having no shotgun/uzi/disappearing weapon spawns
{
    ; no uzi fix
    match:
    {	
	    "hammerid" "1833723"
	}
	replace:
	{
	    "weapon_selection" "any_rifle"
	}
}
{
    ; no shotgun fix
    match:
    {	
	    "hammerid" "1833642"
	}
	replace:
	{
	    "weapon_selection" "tier2_shotgun"
	}
}
filter:
{	
	"hammerid" "1833737"
}
; --- fix people getting kicked from the game for being in saferoom area
{
	"targetname" "stadium_entrance_door_killtrigger"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block saferoom-door jump to glitch-area
{
    ; invisible block over fence
    "origin" "-1048 2208 -100"
    "angles" "0 -45 0"
    "mins" "-200 0 0"
    "maxs" "0 20 80"
    "boxmins" "-200 0 0"
    "boxmaxs" "0 20 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block top of two tents near saferoom (to avoid tanks punching survs up there)
{
    ; invisible block above tents
    "origin" "-2163.5 1888.2 -150"
    "mins" "-2 -160 -100"
    "maxs" "278 10 220"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block tops of tents further down the corridor
{
    ; invisible block above tent
    "origin" "-2428 2119 -113"
    "angles" "0 160 0"
    "mins" "0 0 0"
    "maxs" "130 130 120"
    "boxmins" "0 0 0"
    "boxmaxs" "130 130 120"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above open tent
    "origin" "-2690 2131 -113"
    "angles" "0 -178 0"
    "mins" "0 0 0"
    "maxs" "130 130 120"
    "boxmins" "0 0 0"
    "boxmaxs" "130 130 120"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block top of unmarked food cart at concert entrance
{
    ; invisible block above food cart
    "origin" "-4094 3264 -10"
    "angles" "0 3 0"
    "mins" "-110 -56 -98"
    "maxs" "110 56 98"
    "boxmins" "-110 -56 -98"
    "boxmaxs" "110 56 98"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; --- block tops of awnings in starting area to prevent being punched on top of
{
    ; invisible block 
    "origin" "-1960 2261 -74"
    "mins" "-203 -22 -63"
    "maxs" "203 22 63"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; --- Block survivors from getting hit onto the 9 metal support beams underneath the stadium roof
{
    "origin" "-1275 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-1544 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-2060 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-2296 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-2549 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-2822.5 2261 367.71"
    "mins" "-11.5 -506 -65"
    "maxs" "11.5 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-3065 2261 368"
    "mins" "-11.5 -506 -65"
    "maxs" "11.5 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-3318 2261 368"
    "mins" "-11.5 -506 -65"
    "maxs" "11.5 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; --- Block the tops of the soda machines in the usual camping spot
{
    "origin" "-1823.5 1766.5 282.13"
    "mins" "-74.5 -22.5 -154.5"
    "maxs" "74.5 22.5 154.5"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-2780.5 1767 576.13"
    "mins" "-51.5 -23 -448.5"
    "maxs" "51.5 23 448.5"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; --- improve clipping around a trash can near the top of the stadium
{
    "origin" "-2576.5 1935.5 148.25"
    "mins" "-16.5 -16.5 -21"
    "maxs" "16.5 16.5 21"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}

; --- Prevent Survivors from getting stuck underneath the left-side helicopter when it arrives
; --- add two props to block the spot
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/anvil_case_casters_64.mdl"
	"solid" "6"
	"origin" "-3488 2870 -127.998"
}
{
	"classname" "prop_dynamic"
	"angles" "-14.9977 1.03528 89.7321"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/bass_case.mdl"
	"solid" "6"
	"origin" "-3466 2899 -106"
}

; =====================================================
; =====      remove all-or-nothing forklift       =====
; =====================================================
filter:
{
    "hammerid" "2383226"
}

; ====================================================
add:
{
	"classname" "prop_dynamic_override"
	"angles" "0 315 0"
	"disableshadows" "1"
	"model" "models/props_interiors/stair_metal_02.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-840 1792 136"
}
{
	"classname" "prop_dynamic"
	"angles" "45 224.5 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/barricade_gate001_64_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-986 2296 -255.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-1115 2126 -148"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-1025 2216 -148"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-935 2306 -148"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-845 2396 -148"
}
{
	"classname" "prop_dynamic"
	"angles" "45 224.5 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/barricade_gate001_64_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-1019 2330 -255.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-733 2242 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-682 2293 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-631 2344 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-580 2395 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-529 2446 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-478 2497 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-427 2548 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-376 2599 318"
}

add:
; --- make the pipes easier to climb
{
    ; first pipe
    "origin" "-1115 2126 -144"
    "angles" "0 45 0"
    "mins" "-75 0 0"
    "boxmins" "-75 0 0"
    "maxs" "75 15 10"
    "boxmaxs" "75 15 10"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible step
    "origin" "-1143 2036 -184"
    "angles" "0 135 0"
    "mins" "-20 -10 -50"
    "boxmins" "-20 -10 -50"
    "maxs" "20 10 0"
    "boxmaxs" "20 10 0"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; extra pipes
    "origin" "-1025 2216 -144"
    "angles" "0 45 0"
    "mins" "-75 0 0"
    "boxmins" "-75 0 0"
    "maxs" "75 15 10"
    "maxs" "75 15 10"
    "boxmaxs" "75 15 10"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; extra pipes
    "origin" "-845 2396 -144"
    "angles" "0 45 0"
    "mins" "-75 0 0"
    "boxmins" "-75 0 0"
    "maxs" "75 15 10"
    "maxs" "75 15 10"
    "boxmaxs" "75 15 10"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; extra pipes
    "origin" "-935 2306 -144"
    "angles" "0 45 0"
    "mins" "-75 0 0"
    "boxmins" "-75 0 0"
    "maxs" "75 15 10"
    "maxs" "75 15 10"
    "boxmaxs" "75 15 10"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}

; --- Reduce volume of overhead fireworks

modify:
{
    match:
    {
        "targetname" "stage_fireworks_explode_sound"
    }
    replace:
    {
        "health" "2"
    }
}
