; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
; replace hr with ammo pile, replace t2any with t1any
modify:
{
    match:
    {
        "weapon_selection" "any_sniper_rifle"
    }
    replace:
    {
        "classname" "weapon_ammo_spawn"
		"spawnflags" "2"
        "solid" "6"
		"model" "models/props/terror/ammo_stack.mdl"
		"disableshadows" "1"
        "count" "5"
		"angles" "0 0 0"
    }
}
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block using fence/ledge to get off map at start
{
    ; invisible block above fence opening to behind starting area
    "origin" "-11084 7220 428"
    "mins" "-4 -124 -155"
    "maxs" "4 124 155"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing railroad crossing pole
{
    ; invisible block on railroad crossing pole
    "origin" "-11886 10495 482"
    "mins" "-20 -19 -308"
    "maxs" "20 19 308"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block off corner that SI can become unteleportably stuck
{
    ; invisible block inside corner by tank
    "origin" "-10754 8610 216"
    "mins" "-62 -58 -56"
    "maxs" "62 58 56"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; --- block roof of jones & son building
{
    ; invisible block above building roof
    "origin" "-8304 7216 628"
    "mins" "-276 -296 -396"
    "maxs" "276 296 396"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block jesus spots on sections of the docks
{
    ; invisible block by pier
    "origin" "-5391 6772 -48"
    "mins" "-79 -20 -72"
    "maxs" "79 20 72"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block by left post
    "origin" "-5379 6628 -5"
    "mins" "-5 -8 -46"
    "maxs" "5 8 46"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block by right post
    "origin" "-5379 6372 -5"
    "mins" "-4 -8 -46"
    "maxs" "4 8 46"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block roof of lower house after ferry
{
    ; invisible block
    "origin" "-2168 8502 590"
    "mins" "-272 -6 -434"
    "maxs" "272 6 434"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block roof of upper house after ferry
{
    ; invisible block
    "origin" "-824 7537 652"
    "mins" "-8 -199 -372"
    "maxs" "8 199 372"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block top of upper level overhead section
{
    ; invisible block above overhead (front)
    "origin" "-1027 5272 648"
    "mins" "-95 -8 -376"
    "maxs" "95 8 376"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above overhead (back)
    "origin" "-1027 4607 648"
    "mins" "-95 -5 -376"
    "maxs" "95 5 376"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above overhead (left)
    "origin" "-936 5192 648"
    "mins" "-4 -72 -376"
    "maxs" "4 72 376"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above overhead (right)
    "origin" "-1118 5192 648"
    "mins" "-4 -72 -376"
    "maxs" "4 72 376"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above small shack after ferry
    "origin" "-4008 6724 577"
    "mins" "-88 -81.5 -444.5"
    "maxs" "88 81.5 444.5"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block off corner that SI can become unteleportably stuck
{
    ; invisible block inside corner by tank
    "origin" "-10754 8610 216"
    "mins" "-62 -58 -56"
    "maxs" "62 58 56"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; --- block off stuck spot on a copy machine in the building near event
{
    ; stuck fix - upper copy machine
    "origin" "-6224.03 6600.53 220.03"
    "mins" "-50 0 0"
    "maxs" "0 40 80"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}

; --- block off stuck spot next to the white tank next to the gas station
{
    "origin" "-10759 8713 211.48"
    "mins" "-62 -158 -54.5"
    "maxs" "62 158 54.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}

; --- block survivors getting punched onto above white tank
{
    "origin" "-10749 8719 417.48"
    "mins" "-72 -164 -260.5"
    "maxs" "72 164 260.5"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}


; =====================================================
; ===================  GLITCH FIX  ====================
; =====================================================

modify:
; --- fix weapon spawning under the map at 80% of map
{
    match:
    {
        "hammerid" "2690476"
    }
    replace:
    {
        "origin" "-2336 3196 10"
    }
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================

add:
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_urban/fence_cover001_128.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-11584 8577 167.25"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-11265 9665 167.25"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_urban/fence_cover001_64.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-10968 9586 167.25"
}
{
	"classname" "prop_dynamic"
	"angles" "0 148 0"
	"disableshadows" "1"
	"model" "models/props_urban/oil_drum001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-914.58 4822.77 143.585"
}
{
	"classname" "prop_dynamic"
	"angles" "0 43 0"
	"disableshadows" "1"
	"model" "models/props_urban/oil_drum001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-915 4863 143.585"
}
{
	"classname" "prop_dynamic"
	"angles" "0 148 0"
	"disableshadows" "1"
	"model" "models/props_urban/oil_drum001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-914.58 4844.77 191.585"
}
{
	"classname" "prop_dynamic"
	"angles" "0 271.5 0"
	"disableshadows" "1"
	"model" "models/props_mill/wood_stack.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-913.58 4846.77 113.585"
}
{
	"classname" "prop_dynamic"
	"angles" "0 315 0"
	"disableshadows" "1"
	"model" "models/props_urban/oil_drum001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3992.81 6631 1"
}
{
	"classname" "prop_dynamic"
	"angles" "0 60 0"
	"disableshadows" "1"
	"model" "models/props_urban/oil_drum001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-4033 6629.18 1"
}
{
	"classname" "prop_dynamic"
	"angles" "0 60 0"
	"disableshadows" "1"
	"model" "models/props_urban/oil_drum001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-4011.01 6629.94 49"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 -25.5"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-6791 7712 200"
}
{
	"classname" "prop_dynamic"
	"angles" "-5 88.5 3"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_shrubwall_block_128_deep.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12543.4 10072.4 181.932"
}
{
	"classname" "prop_dynamic"
	"angles" "0 215 0"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_shrubwall_block_128_deep.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12550.2 9119.21 148.872"
}
{
    ; invisible block above barrel stack intended for SI after ferry
    "origin" "-4012 6630 115"
    "mins" "-38 -21.5 -115"
    "maxs" "38 21.5 115"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================