; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}
; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================
filter:
{
    "hammerid" "662060"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block hang-leg-up exploit near barge (pre-event)
{
    ; invisible block along barge edge
    "targetname" "barge_exploit_blocker"
    "origin" "-5032 -226 120"
    "angles" "0 -175 0"
    "mins" "0 0 -400"
    "maxs" "1300 10 180"
    "boxmins" "0 0 -400"
    "boxmaxs" "1300 10 180"
    "initialstate" "0"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; <make blocker appear only on coop & versus>
modify:
{
    match:
    {
        "classname" "info_gamemode"
    }
    insert:
    {
        "OnCoop" "barge_exploit_blockerEnable0-1"
        "OnVersus" "barge_exploit_blockerEnable0-1"
    }
}
; <remove blocker only when panic event triggered>
modify:
{
    match:
    {
        "targetname" "panic_trigger"
    }
    insert:
    {
        ; delay, because you can't get on the barge earlier anyway
        "OnTrigger" "barge_exploit_blockerKill15-1"
    }
}
add:
; --- block sitting in saferoom roof as SI preventing round end
{
    ; invisible block above destroyed saferoom roof
    "origin" "-11104 3112 309"
    "mins" "-208 -152 -3"
    "maxs" "208 152 3"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; =====================================================