; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block jumping subway cars @ 2-car choke point
{
    ; invisible block (front side)
    "origin" "6170 3350 -170"
    "mins" "-150 -150 0"
    "maxs" "180 50 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block (back side)
    "origin" "7050 2860 -170"
    "mins" "-100 -100 0"
    "maxs" "0 80 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block two climbs to get on roofs and off map
{
    ; invisible block above fence section
    "origin" "8600 5556 788"
    "mins" "-512 -76 -620"
    "maxs" "512 76 620"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block on electrical boxes
    "origin" "9639 5562 217"
    "mins" "-31 -6 -201"
    "maxs" "31 6 201"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- prevent SI getting permanently stuck behind saferoom building
{
    ; dumpster behind fence
    "solid" "6"
    "origin" "10699 5330 16"
    "model" "models/props_junk/dumpster.mdl"
    "disableshadows" "1"
    "classname" "prop_dynamic"
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
{
	"classname" "prop_dynamic"
	"angles" "0 98.5 -90"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_256_001a.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "7649 2867 -297.547"
}
{
	"classname" "prop_dynamic"
	"angles" "0 68.5 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/van_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "10190 5491 7.29482"
}
{
	"classname" "prop_dynamic"
	"angles" "0 68.5 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/van.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "10190 5491 7.29482"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 -24"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "10761 5205 58.8184"
}
{
	"classname" "prop_dynamic"
	"angles" "0 105 -90"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_256_001a.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "2135 3981 -307.091"
}
{
	"classname" "prop_dynamic"
	"angles" "0 38.5 -90"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_256_001a.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "6459 3323 -292.722"
}
{
	"classname" "prop_dynamic"
	"angles" "30.5021 40.4368 -83.4303"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_256_001a.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "6410 3325 -291.722"
}
{
	"classname" "prop_dynamic"
	"angles" "0 53.5 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5960 4685 -336.966"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5996 4660 -336.966"
}
{
	"classname" "prop_dynamic"
	"angles" "0 61.5 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5980 4689 -297"
}
; =====================================================