; =====================================================
; ===================   Detour Ahead 1   ==============
; =====================================================

; Make it so windows on house can be entered by survivors (necessary for newest version of detour head)
modify:
{
	match:
	{
		"classname" "info_gamemode"
	}
	delete:
	{
		"OnVersus" "versus_survivor_blockEnable0-1"
	}
}
filter:
{
	"targetname" "versus_survivor_block"
}

; Prevent map from triggering natural hordes
modify:
{
	match:
	{
		"targetname" "coop_scriptstart"
	}
	delete:
	{
		"OnTrigger" "directorBeginScriptcdta01_passive0-1"
	}
	insert:
	{
		"OnTrigger" "directorBeginScriptcdta01_passive_promod0-1"
	}
}
