; =====================================================
; ====================  Customogl  ====================
; =================== Carried Off 1 ===================
; =====================================================

; Box to block fenced in area behind trailer
add:
{
	"solid" "6"
	"origin" "2108 1751 112"
	"angles" "0 70 0"
	"model" "models/props_unique/spawn_apartment/boxes_rooftop.mdl"
	"classname" "prop_dynamic"
}

; Van to help survivors get out of fenced in area behind trailer
add:
{
	"solid" "6"
	"origin" "2863 1542 111"
	"angles" "0 270 0"
	"model" "models/props_vehicles/van_interior.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "2799 1561 198"
	"angles" "0 -52 0"
	"model" "models/props/cs_militia/boxes_garage_lower.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "2700 1507 111"
	"angles" "0 0 0"
	"model" "models/props/cs_militia/boxes_garage_lower.mdl"
	"classname" "prop_dynamic"
}
