; =====================================================
; ====================  Customogl  ====================
; =================== Carried Off 3 ===================
; =====================================================

; Ammo pickup half way through event
add:
{
	"solid" "6"
	"origin" "564 -255 112"
	"spawnflags" "2"
	"skin" "0"
	"model" "models/props/terror/ammo_stack.mdl"
	"count" "5"
	"body" "0"
	"angles" "0 315 0"
	"classname" "weapon_ammo_spawn"
}

; Block some of death charge area upon entering the bridge event area
{
	"solid" "6"
	"origin" "-332 335 112"
	"angles" "0 90 0"
	"model" "models/props_mill/mill_railing_128.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "-332 202 112"
	"angles" "0 90 0"
	"model" "models/props_mill/mill_railing_128.mdl"
	"classname" "prop_dynamic"
}

; Extend fencing in sewers outside of safe room to prevent people from getting punched over
{
	"solid" "6"
	"origin" "-1280 -2240 -388"
	"angles" "0 270 0"
	"model" "models/props_urban/fence001_256.mdl"
	"classname" "prop_dynamic"
}
