;---- Remove Random T2 Spawner (Does not get converted to T1)
filter:
{
	"hammerid" "215937"
}

;---- Add some Weapon Spawns.
add:
{
	"origin" "4281 6468 -65"
	"weapon_selection" "tier1_any"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 115.5 90"
	"classname" "weapon_spawn"
}
{
	"origin" "-634.272 6729.65 45"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 243.5 90"
	"classname" "weapon_spawn"
}
{
	"origin" "-612 6715 45"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 264 90"
	"classname" "weapon_spawn"
}
{
	"origin" "1023 7064.16 7.13"
	"weapon_selection" "tier1_any"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 8.155 88.6681"
	"classname" "weapon_spawn"
}

;---- Prevent Mobtimers to get set back to default by VScript
modify:
{
    match:
    {
        "targetname" "alarm_off_relay"
    }
    delete:
    {
        "OnTrigger" "directorBeginScriptsb_map3_jail_crescendo_cooldown5-1"
    }
    insert:
    {
        "OnTrigger" "directorBeginScriptsb_map3_jail_crescendo_cooldown_promod5-1"
    }
}
{
    match:
    {
        "targetname" "dynamic_on2"
    }
    delete:
    {
        "OnTrigger" "directorBeginScriptsb_map3_jail_crescendo_cooldown43-1"
    }
    insert:
    {
        "OnTrigger" "directorBeginScriptsb_map3_jail_crescendo_cooldown_promod43-1"
    }
}

