; =====================================================
; ================= PROMOD FINALE FIX =================
; =====================================================

filter:
; --- filter out restricted junk
{
	"classname" "weapon_item_spawn"
}
modify:
; --- fix vanishing finale pills in proper placements
{
	match:
	{
		"hammerid" "4376594"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"hammerid" "4376596"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"hammerid" "4376652"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"hammerid" "4376676"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
