
; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================


; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "2"
	}
}


; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================
filter:
{
    "hammerid" "1629697"
}
{
    "hammerid" "1629671"
}
{
    "hammerid" "1558088"
}
{ 
    "hammerid" "1629705"
}

; =====================================================
; ============  PROMOD NON-HITTABLE CARS  =============
; =====================================================
filter:
{
    ; car 1 - glass
    "hammerid" "1659784"
}
{
    ; car 1
    "hammerid" "1659788"
}
{
    ; car 2 - glass
    "hammerid" "1659851"
}
{
    ; car 2
    "hammerid" "1659855"
}
{
    ; car 3 - glass
    "hammerid" "1659985"
}
{
    ; car 3
    "hammerid" "1659989"
}
{
    ; car 4 - glass
    "hammerid" "1660119"
}
{
    ; car 4
    "hammerid" "1660123"
}
{
    ; car 5 - glass
    "hammerid" "1660186"
}
{
    ; car 5
    "hammerid" "1660190"
}
{
    ; car 6 - glass
    "hammerid" "1660253"
}
{
    ; car 6
    "hammerid" "1660257"
}

; =====================================================
; ================  STATIC AMMO PILES  ================
; =====================================================
add:
; --- maintenence room ammo
{
		"classname" "weapon_ammo_spawn"
        "origin" "-13664 -5192 -373"
        "spawnflags" "2"
        "solid" "6"
        "model" "models/props/terror/ammo_stack.mdl"
        "disableshadows" "1"
        "count" "5"
        "angles" "0 0 0"
}
; --- tunnel ammo
{
		"classname" "weapon_ammo_spawn"
        "origin" "-12708 -6310 -44"
        "spawnflags" "2"
        "solid" "6"
        "model" "models/props/terror/ammo_stack.mdl"
        "disableshadows" "1"
        "count" "5"
        "angles" "0 0 0"
}
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block jump across bridge to skip ladders
{
    ; invisible block on right side
    "origin" "-12072 -11992 -18"
    "mins" "0 0 0"
    "maxs" "18 20 200"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block on left side
    "origin" "-12584 -11992 -18"
    "mins" "-26 0 0"
    "maxs" "0 20 200"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block a stuck spot underneath a displacement in the ladder choke canyon
{
    ; invisible block
    "origin" "-10127 -12130 -475.99"
    "mins" "-78 -157 -37.5"
    "maxs" "78 157 37.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}

; --- Block infected out of map exploits
{
    "origin" "-9484 -11781.5 412.5"
    "mins" "-1108 -1453 -955.5"
    "maxs" "1108 1453 955.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-10597.5 -10811 848.5"
    "mins" "-264.5 -483 -519.5"
    "maxs" "264.5 483 519.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-11331 -9930 848.5"
    "mins" "-469 -448 -519.5"
    "maxs" "469 448 519.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-12432 -9589.5 848.5"
    "mins" "-632 -107.5 -519.5"
    "maxs" "632 107.5 519.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-13705 -9159 745"
    "mins" "-556 -555 -623"
    "maxs" "556 555 623"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-14327.5 -9908.5 745"
    "mins" "-252.5 -194.5 -623"
    "maxs" "252.5 194.5 623"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-14959 -10429.5 -279.76"
    "mins" "-836 -673.5 -262.5"
    "maxs" "836 673.5 262.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-15137.5 -11236 -279.76
    "mins" "-657 -133 -262.5"
    "maxs" "657 133 262.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-9344 -15744 650"
    "mins" "-640 -256 -608"
    "maxs" "640 256 608"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; --- Block being able to skip the bridge choke with a well timed jump
{
    "origin" "-12333.5 -11854.5 522.5"
    "mins" "-292.5 -0.5 -132.5" 
    "maxs" "292.5 0.5 132.5" 
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================

add:
; --- block hunters falling off and under map at end of map (confogl only)
{
    ; invisible block along back rocky section
    "origin" "-11872 -4626 1034"
    "mins" "-448 -238 -470"
    "maxs" "448 238 470"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; --- block SI getting permanently stuck in corner near SI ladder (confogl only)
{
    ; invisible block in corner near rocks
    "origin" "-11353 -4837 591"
    "mins" "-71 -45 -21"
    "maxs" "71 45 21"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}

; =====================================================
; --- remove startkits
filter:
{
"hammerid" "1400699"
}
{
"hammerid" "1400051"
}
{
"hammerid" "1479253"
}
{
"hammerid" "1479313"
}

; =====================================================

add:
{
	"classname" "prop_dynamic"
	"angles" "0 75 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_84sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12145 -13460 -65"
}
{
	"classname" "prop_dynamic"
	"angles" "0 75 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_84sedan.mdl"
	"rendercolor" "128 0 0"
	"solid" "6"
	"origin" "-12145 -13460 -65"
}
{
	"classname" "prop_dynamic"
	"angles" "-2 150 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12489 -13129 -57.4806"
}
{
	"classname" "prop_dynamic"
	"angles" "-2 150 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan.mdl"
	"rendercolor" "0 128 0"
	"solid" "6"
	"origin" "-12489 -13129 -57.4806"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12224 -10240 -63.75"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"rendercolor" "255 128 64"
	"solid" "6"
	"origin" "-12224 -10240 -63.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12230 -9558 -64.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"rendercolor" "0 0 128"
	"solid" "6"
	"origin" "-12230 -9558 -64.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12398 -9043 -65.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan.mdl"
	"rendercolor" "0 128 0"
	"solid" "6"
	"origin" "-12398 -9043 -65.75"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_82hatchback_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12468 -8114 -63.75"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_82hatchback.mdl"
	"rendercolor" "128 128 128"
	"solid" "6"
	"origin" "-12468 -8114 -63.75"
}
