; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Remove a script that caused natural hordes to spawn before the event
filter:
{
	"hammerid" "8442672"
}
; --- Remove natural horde script after the event
modify:
{
	match:
	{
		"hammerid" "320879"
	}
	delete:
	{
		"OnPressed" "directorBeginScriptc1_mall_crescendo_cooldown0-1"
	}
	insert:
	{
		"OnPressed" "director,EndScript,,0,-1"
	}
}


; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Remove a badly placed item spawn at the start that is impossible to reach and in an area with plenty of other item spawns
filter:
{
	"hammerid" "8442701"
}
; --- Add guarenteed spawns for shotgun and SMG in the back corner before the event path
add:
{
	"classname" "weapon_spawn"
	"origin" "2795 -1781 302"
	"angles" "0 90 90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
modify:
{
	match:
	{
		"hammerid" "321383"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}


; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile by the gun spawn after the 2nd set of escalators
{
	"classname" "weapon_ammo_spawn"
	"origin" "3578 -2683 -64"
	"angles" "0 90 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Stop nearby item spawn from being an ammo pile
modify:
{
	match:
	{
		"hammerid" "321575"
	}
	replace:
	{
		"item1" "0"
	}
}
add:
; --- Ammo pile in stairwell in offices before event
{
	"classname" "weapon_ammo_spawn"
	"origin" "538 -566 88"
	"angles" "0 30 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ammo pile before the button at the end of the event
{
	"classname" "weapon_ammo_spawn"
	"origin" "284 -4793 536"
	"angles" "0 90 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================
; --- Move the hand truck at the start of the event path to a less obstructive position
modify:
{
	match:
	{
		"hammerid" "49558"
	}
	replace:
	{
		"origin" "782 -1147 280"
		"angles" "0 90 0"
	}
}


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block standing on a door frame by the drop leading to the event
{
	"classname" "env_physics_blocker"
	"origin" "1509 -993 466"
	"mins" "-34 -1 -70"
	"maxs" "34 1 70"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block skipping the path to the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-1744 -4509 634"
	"mins" "-112 -3 -94"
	"maxs" "112 3 94"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Clipping to eliminate need to jump into tall shelves by the saferoom
add:
{
	"classname" "env_physics_blocker"
	"origin" "6331 -1636.5 25.6"
	"mins" "-112 -0.5 -2"
	"maxs" "112 0.5 2"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "7185.55 -1796.55 25.6"
	"angles" "0 135 0"
	"mins" "-112 -0.5 -2"
	"maxs" "112 0.5 2"
	"boxmins" "-112 -0.5 -2"
	"boxmaxs" "112 0.5 2"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "7424.45 -2035.45 25.6"
	"angles" "0 135 0"
	"mins" "-112 -0.5 -2"
	"maxs" "112 0.5 2"
	"boxmins" "-112 -0.5 -2"
	"boxmaxs" "112 0.5 2"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Make the office chair used for the return shortcut solid
modify:
{
	match:
	{
		"hammerid" "1553193"
	}
	replace:
	{
		"spawnflags" "256"
	}
}
; --- Fix event trigger doors on the lower route opening slowly
modify:
{
	match:
	{
		"targetname" "door_hallway_lower4"
	}
	replace:
	{
		"speed" "200"
	}
	delete:
	{
		"OnOpen" "!selfSetSpeed1000.1-1"
	}
}
{
	match:
	{
		"targetname" "door_hallway_lower4a"
	}
	replace:
	{
		"speed" "200"
	}
	delete:
	{
		"OnOpen" "!selfSetSpeed1000.1-1"
	}
}
; --- Remove glass that looks like leftover beta content hiding inside another glass panel
filter:
{
	"hammerid" "1574131"
}
; --- Remove some glass panels around the event to help infected
; --- Glass by main escalator
filter:
{
	"hammerid" "1663586"
}
{
	"hammerid" "1663589"
}
{
	"hammerid" "1663577"
}
{
	"hammerid" "1663574"
}
{
	"hammerid" "1663571"
}
; --- Glass by ladders lower floor
{
	"hammerid" "1663688"
}
{
	"hammerid" "1663700"
}
{
	"hammerid" "1663736"
}
{
	"hammerid" "1663712"
}
{
	"hammerid" "1663721"
}
{
	"hammerid" "1663853"
}
{
	"hammerid" "1663844"
}
{
	"hammerid" "1663868"
}
{
	"hammerid" "1663835"
}
{
	"hammerid" "1663778"
}
{
	"hammerid" "1663820"
}
{
	"hammerid" "1663787"
}
{
	"hammerid" "8564847"
}
; --- Glass by ladders, top floor
{
	"hammerid" "1663490"
}
{
	"hammerid" "1663580"
}
{
	"hammerid" "1663502"
}
{
	"hammerid" "1663565"
}
{
	"hammerid" "1663553"
}
{
	"hammerid" "1663514"
}
{
	"hammerid" "1663535"
}
{
	"hammerid" "1663655"
}
{
	"hammerid" "1663613"
}
{
	"hammerid" "1663646"
}
{
	"hammerid" "8565094"
}
; --- Remove some glass panels around the end saferoom to help infected
{
	"hammerid" "661764"
}
{
	"hammerid" "661565"
}
{
	"hammerid" "1310382"
}
{
	"hammerid" "661584"
}
{
	"hammerid" "661626"
}
{
	"hammerid" "661636"
}
{
	"hammerid" "661645"
}
{
	"hammerid" "661656"
}


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
add:
; --- Shelves by second set of escalators behind the collapsed gate
{
	"classname" "prop_dynamic"
	"origin" "5134 -2376 280"
	"angles" "0 155.5 0"
	"model" "models/props_mall/mall_display_07.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Boxes by fences by second set of escalators
{
	"classname" "prop_dynamic"
	"origin" "3629 -2480 280"
	"angles" "0 113.5 0"
	"model" "models/props/cs_militia/boxes_garage_lower.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Additional kiosks after second set of escalators
{
	"classname" "prop_dynamic"
	"origin" "2694.03 -2553.97 0"
	"angles" "0 180 0"
	"model" "models/props_mall/mall_kioskc.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Kiosks in dark area before drop into the offices
{
	"classname" "prop_dynamic"
	"origin" "2268 -1514 280"
	"angles" "0 90 0"
	"model" "models/props_mall/mall_kioskc.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2268 -1627 280"
	"angles" "0 270 0"
	"model" "models/props_mall/mall_kioskc.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2268 -1570.5 384"
	"mins" "-43 -107.5 -104"
	"maxs" "43 107.5 104"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Shelves by fences before drop into the offices
{
	"classname" "prop_dynamic"
	"origin" "1836 -1293 280"
	"angles" "0 90 0"
	"model" "models/props_mall/mall_display_07.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Desk to block survivors from standing in a safe on the drop to the event path
{
	"classname" "prop_dynamic"
	"origin" "1636 -1107 419"
	"angles" "0 0 -76.5"
	"model" "models/props_office/desk_01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1660 -1088 396"
	"mins" "-47 -32 -116"
	"maxs" "47 32 116"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Vending machine to return on the one-way drop
{
	"classname" "prop_dynamic"
	"origin" "1613 -1087 303"
	"angles" "0 90 -90"
	"model" "models/props_equipment/snack_machine2.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Clip to make the jump easier for survivors
{
	"classname" "env_physics_blocker"
	"origin" "1615 -1024 311"
	"mins" "-4 -32 -31"
	"maxs" "4 32 31"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Shelves at the entrance of the saferoom escalator room
{
	"classname" "prop_dynamic"
	"origin" "-107 -4463 280"
	"angles" "0 247 0"
	"model" "models/props_mall/mall_display_07.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Kiosk on floor below the end saferoom
{
	"classname" "prop_dynamic"
	"origin" "-2068 -4208 280"
	"angles" "0 270 0"
	"model" "models/props_mall/mall_kioskc.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Kiosks on the upper floor by the end saferoom
{
	"classname" "prop_dynamic"
	"origin" "-479 -4381 536"
	"angles" "0 270 0"
	"model" "models/props_mall/mall_kioskc.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-479 -4061 536"
	"angles" "0 90 0"
	"model" "models/props_mall/mall_kioskc.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-2055 -3973 536"
	"angles" "0 90 0"
	"model" "models/props_mall/mall_kioskc.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Boxes and plywood on the upper floor by the end saferoom
{
	"classname" "prop_dynamic"
	"origin" "-2129 -4288 536"
	"angles" "0 57.5 0"
	"model" "models/props/cs_militia/boxes_garage_lower.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-2115 -4268 536"
	"angles" "0 15 0"
	"model" "models/props_industrial/plywood_leaning.mdl"
	"solid" "6"
	"disableshadows" "1"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================
; --- Fade out event alarm sound after a few seconds
modify:
{
	match:
	{
		"targetname" "relay_door_minifinale"
	}
	insert:
	{
		"OnTrigger" "sound_alarm,FadeOut,5,3,-1"
		"OnTrigger" "sound_alarm,Kill,,10,-1"
	}
}

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================

; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                LOWER EVENT PATH                 ==
; ==  Use the lower route for the path to the event  ==
; =====================================================
; --- Remove the original logic for determining the path leading to the event
filter:
{
	"hammerid" "196210"
}
{
	"targetname" "compare_minifinale"
}
; --- Force survivors to always take the lower path leading to the event
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "relay_hallway_close,Trigger,,0,-1"
}
; --- Force the specific set of escalators we want to spawn for the event
add:
{
	"classname" "logic_auto"
	; --- Event - Lower floor - Spawn both
	"OnMapSpawn" "escalator_lower_01*,FireUser1,,0,-1"
	"OnMapSpawn" "escalator_lower_02*,FireUser1,,0,-1"
	; --- Event - Upper floor - Spawn standard versus path
	"OnMapSpawn" "escalator_upper_01*,FireUser1,,0,-1"
}
; --- Remove relay on lower path that sets the escalator positions when the doors that trigger the event are opened
filter:
{
	"targetname" "relay_director_set_paths"
}
; --- Remove an unused relay for setting paths from the lower path
{
	"targetname" "relay_director_set_paths2"
}
; --- Remove a trigger on the upper path that sets the escalator positions
{
	"hammerid" "221997"
}
; --- Open up the Just For Kidz store so tanks don't need to use the vent, survivors can still go to this area but the path back remains blocked
filter:
{
	"targetname" "trigger_glass_breakable"
}
{
	"targetname" "brush_shop_blocked"
}
{
	"targetname" "breakble_glass_minifinale"
}
{
	"targetname" "nav_blocker_storefront"
}
{
	"targetname" "window_glow"
}
{
	"targetname" "instructor_window"
}
{
	"targetname" "filter_breakglass"
}
{
	"targetname" "filter_melee"
}
{
	"targetname" "filter_invunerable"
}
{
	"targetname" "trigger_glass_breakable"
}
{
	"targetname" "prop_door_mallshop_straight"
}
; --- Close the partially open door before the store
modify:
{
	match:
	{
		"hammerid" "118980"
	}
	replace:
	{
		"spawnpos" "0"
	}
}
; --- Remove item spawns on the upper path
filter:
; --- Just For Kidz store items
;{
;	"hammerid" "8569913" ; --- Ammo pile on table
;}
{
	"hammerid" "354419"
}
{
	"hammerid" "8569915"
}
{
	"hammerid" "8569911"
}
; --- Room opposite to Just For Kidz pill room
{
	"hammerid" "1549716"
}
{
	"hammerid" "1549729"
}
{
	"hammerid" "1313698"
}
; --- Bathroom items
{
	"hammerid" "321240"
}
{
	"hammerid" "321242"
}
{
	"hammerid" "321244"
}
{
	"hammerid" "321246"
}
{
	"hammerid" "321238"
}
{
	"hammerid" "321236"
}
{
	"hammerid" "321316"
}
{
	"hammerid" "321318"
}
{
	"hammerid" "321314"
}
{
	"hammerid" "321310"
}
{
	"hammerid" "321312"
}
; --- Room opposite to bathrooms
{
	"hammerid" "1551939"
}
{
	"hammerid" "1551926"
}

; =====================================================
; ==              SAFEROOM ROUTE REWORK              ==
; ==       Extend the path to the end saferoom       ==
; =====================================================
; --- Modify map logic so the escalators are always spawned
add:
{
	"classname" "logic_auto"
	; --- Lower floor - Spawn escalator set facing towards the saferoom
	"OnMapSpawn" "escalator_lower_04*,FireUser1,,0,-1"
	; --- Upper floor - Spawn escalators leading to saferoom
	"OnMapSpawn" "escalator_upper_03*,FireUser1,,1,-1"
}
modify:
{
	match:
	{
		"hammerid" "1310675"
	}
	delete:
	{
		"OnMapSpawn" "escalator_upper_03-liftDisableCollision0-1"
	}
}
; --- Move the escalator by the end saferoom over the hole
{
	match:
	{
		"targetname" "escalator_upper_03-lift"
	}
	replace:
	{
		"origin" "-1404 -4281 381.669"
	}
	delete:
	{
		"OnUser1" "escalator_upper_03-railing_breakableKill0-1"
		"OnUser1" "escalator_upper_03-navblockerUnblockNav0-1"
		"OnUser1" "escalator_upper_03-railingDisable0-1"
		"OnUser1" "escalator_upper_03-navblocker_blockBlockNav0-1"
	}
}
{
	match:
	{
		"targetname" "escalator_03-brush_lift_collision"
	}
	replace:
	{
		"origin" "-1403.99 -4258.01 409.1"
	}
}
; --- Remove glass at top and bottom of new escalator position
filter:
{
	"hammerid" "661312"
}
{
	"hammerid" "661724"
}
; -- Add fences to block the short path to the escalator
add:
{
	"classname" "prop_dynamic"
	"origin" "-1125 -3957 280"
	"angles" "0 0 0"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-1120 -3876 280"
	"angles" "0 1 0"
	"model" "models/props_fortifications/barricade001_64_reference.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-1118 -3798 280"
	"angles" "0 5 0"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-1181.9 -3991 280"
	"angles" "0 268 0"
	"model" "models/props_fortifications/barricade001_64_reference.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1166.5 -4013 353"
	"mins" "-39.5 -3 -72"
	"maxs" "39.5 3 72"
	"initialstate" "1"
	"BlockType" "1"
	"targetname" "saferoom_barricade_blocker1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1234.5 -4013 353"
	"mins" "-28.5 -3 -72"
	"maxs" "28.5 3 72"
	"initialstate" "1"
	"BlockType" "1"
	"targetname" "saferoom_barricade_blocker2"
}
; --- Trigger to remove the extended part of the blocker once survivors reach the escalator
{
	"classname" "logic_auto"
	"OnMapSpawn" "saferoom_barricade_trigger,AddOutput,mins -16 -208 -96,0,-1"
	"OnMapSpawn" "saferoom_barricade_trigger,AddOutput,maxs 16 208 96,0,-1"
	"OnMapSpawn" "saferoom_barricade_trigger,AddOutput,boxmins -16 -208 -96,0,-1"
	"OnMapSpawn" "saferoom_barricade_trigger,AddOutput,boxmaxs 16 208 96,0,-1"
	"OnMapSpawn" "saferoom_barricade_trigger,AddOutput,solid 2,0,-1"
}
{
	"classname" "trigger_once"
	"origin" "-1472 -3888 376"
	"targetname" "saferoom_barricade_trigger"
	"filtername" "filter_survivor"
	"spawnflags" "1"
	; --- Trigger event output here
	"OnTrigger" "saferoom_barricade_blocker2,Kill,,0,-1"
}
; --- Kiosk where the original escalators were before the end saferoom
{
	"classname" "prop_dynamic"
	"origin" "-840 -4222 280"
	"angles" "0 270 0"
	"model" "models/props_mall/mall_kioskc.mdl"
	"solid" "6"
	"disableshadows" "1"
}