; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================


; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Ensure both T1 guns spawn in the saferoom
modify:
{
	match:
	{
		"hammerid" "21242"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
{
	match:
	{
		"hammerid" "21252"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
; --- Fix finale pills disappearing (confoglcompmod issue)
filter:
{
	"classname" "weapon_item_spawn"
}
{
	"classname" "weapon_pain_pills_spawn"
}
modify:
{
	match:
	{
		"hammerid" "276559"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"hammerid" "276561"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"hammerid" "276563"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"hammerid" "276565"
	}
	replace:
	{
		"spawnflags" "2"
	}
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile in the shop connecting to The Sacrifice
{
	"classname" "weapon_ammo_spawn"
	"origin" "512 1840 200"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ammo pile by the construction site generator
{
	"classname" "weapon_ammo_spawn"
	"origin" "1838 842 -96"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Disable jukebox to prevent trolling
modify:
{
	match:
	{
		"targetname" "jukebox_button"
	}
	replace:
	{
		"spawnflags" "33"
	}
}
; --- Solidify awning on store at the top of the ramp
add:
{
	"classname" "prop_dynamic"
	"origin" "607.7 1759.75 296.467"
	"angles" "0 180.0 0"
	"model" "models/props_street/awning_department_store.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================


; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================