; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
add:
; --- Fix scavenge spawn positions when using thesaccing addon, as the spawn points use the L4D1 survivor names but the addon spawns L4D2 survivors
{
	"classname" "info_survivor_position"
	"origin" "6089.54 342.04 146.017"
	"angles" "0 195 0"
	"targetname" "scavenge_position3"
	"SurvivorName" "Rochelle"
	"Order" "1"
	"GameMode" "scavenge"
}
{
	"classname" "info_survivor_position"
	"origin" "6077.26 256.76 149.017"
	"angles" "0 195 0"
	"targetname" "scavenge_position4"
	"SurvivorName" "Ellis"
	"Order" "1"
	"GameMode" "scavenge"
}
{
	"classname" "info_survivor_position"
	"origin" "6147.4 267.4 150.017"
	"angles" "0 180 0"
	"targetname" "scavenge_position2"
	"SurvivorName" "Nick"
	"Order" "1"
	"GameMode" "scavenge"
}
{
	"classname" "info_survivor_position"
	"origin" "6139.4 315.4 149.017"
	"angles" "0 180 0"
	"targetname" "scavenge_position1"
	"SurvivorName" "Coach"
	"Order" "1"
	"GameMode" "scavenge"
}
; --- Add L4D2 survivor spawn positions to the saferoom, as thesaccing.vpk causes L4D2 survivors to be used when transitioning to this map
{
	"classname" "info_survivor_position"
	"origin" "13915 2567 32.2028"
	"angles" "0 270 0"
	"targetname" "survivorPos_intro_01"
	"SurvivorName" "Nick"
	"Order" "1"
}
{
	"classname" "info_survivor_position"
	"origin" "13864.5 2593.2 32.2028"
	"angles" "0 270 0"
	"targetname" "survivorPos_intro_02"
	"SurvivorName" "Rochelle"
	"Order" "1"
}
{
	"classname" "info_survivor_position"
	"origin" "13806.5 2583 33"
	"angles" "0 270 0"
	"targetname" "survivorPos_intro_03"
	"SurvivorName" "Coach"
	"Order" "1"
}
{
	"classname" "info_survivor_position"
	"origin" "13765.1 2545 33"
	"angles" "0 270 0"
	"targetname" "survivorPos_intro_04"
	"SurvivorName" "Ellis"
	"Order" "1"
}
; --- Automatically open the 2nd train car door 20 seconds after the first one is opened
modify:
{
	match:
	{
		"targetname" "tankdoorin_button"
	}
	insert:
	{
		"OnTimeUp" "tankdoorout,Open,,20,-1"
		"OnTimeUp" "tankdoorout_button,Kill,,20,-1"
	}
}


; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================

; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile in the brick factory, by the front loader
{
	"classname" "weapon_ammo_spawn"
	"origin" "3580 1337 0"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Clipping on fence leaning on the cooling tank in saferoom to stop players getting stuck
{
	"classname" "env_physics_blocker"
	"origin" "13848 2329 -6"
	"angles" "0 10 0"
	"mins" "-50 -10 -5"
	"maxs" "50 10 5"
	"boxmins" "-50 -10 -5"
	"boxmaxs" "50 10 5"
	"initialstate" "1"
	"BlockType" "0"
}


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; =====================================================
; ==                   LADDER NERF                   ==
; ==         Nerf ladder attacks for infected        ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================


; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================