; =====================================================
; ====================  Customogl  ====================
; =================== Carried Off 3 ===================
; =====================================================

; Ammo pickup half way through event
add:
{
	"solid" "6"
	"origin" "564 -255 112"
	"spawnflags" "2"
	"skin" "0"
	"model" "models/props/terror/ammo_stack.mdl"
	"count" "5"
	"body" "0"
	"angles" "0 315 0"
	"classname" "weapon_ammo_spawn"
}

; Block some of death charge area upon entering the bridge event area
{
	"solid" "6"
	"origin" "-332 335 112"
	"angles" "0 90 0"
	"model" "models/props_mill/mill_railing_128.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "-332 202 112"
	"angles" "0 90 0"
	"model" "models/props_mill/mill_railing_128.mdl"
	"classname" "prop_dynamic"
}

; Extend fencing in sewers outside of safe room to prevent people from getting punched over
{
	"solid" "6"
	"origin" "-1280 -2240 -388"
	"angles" "0 270 0"
	"model" "models/props_urban/fence001_256.mdl"
	"classname" "prop_dynamic"
}


; --- Block survivors getting to an unreachable platform in the sewers
{
	"classname" "env_physics_blocker"
	"origin" "-1160 -2240 -312"
	"mins" "-248 -1 -184"
	"maxs" "248 1 184"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1344 -1860 -256"
	"mins" "-32 -628 -128"
	"maxs" "32 628 128"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1290 -1710 -256"
	"mins" "-22 -41 -128"
	"maxs" "22 41 128"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block jumping out of bounds on dirt platforms in sewers
{
	"classname" "env_physics_blocker"
	"origin" "-1152 1427 -321"
	"mins" "-240 -19 -191"
	"maxs" "240 19 191"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "456 -1503 -303"
	"mins" "-40 -177 -143"
	"maxs" "40 177 143"
	"initialstate" "1"
	"BlockType" "1"
}

; --- Block jumping back up onto walkway after saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-1344 -938 -430"
	"mins" "-32 -6 -6"
	"maxs" "32 6 6"
	"initialstate" "1"
	"BlockType" "1"
}

; --- Block walking on fence to get on walkway right of saferoom / go out of bounds
{
	"classname" "env_physics_blocker"
	"origin" "-1156 -2240 -321"
	"mins" "-254 -2 -191"
	"maxs" "254 2 191"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block various skips / props around the bridge event
; --- Pipes
{
	"classname" "env_physics_blocker"
	"origin" "-772 58 337"
	"mins" "-60 -44 -105"
	"maxs" "60 44 105"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-772 -134 337"
	"mins" "-60 -44 -105"
	"maxs" "60 44 105"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block jumping around the fence by the second gate to skip the 2nd half of the event / get back up after the drop
{
	"classname" "env_physics_blocker"
	"origin" "350 -756 176"
	"mins" "-18 -2 -64"
	"maxs" "18 2 64"
	"initialstate" "1"
	"BlockType" "1"
}

; --- Trigger on pole to activate alarm car to prevent skip
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "car_alarm_pole_trigger,AddOutput,mins -2 -2 -4,0,-1"
	"OnMapSpawn" "car_alarm_pole_trigger,AddOutput,maxs 2 2 4,0,-1"
	"OnMapSpawn" "car_alarm_pole_trigger,AddOutput,boxmins -2 -2 -4,0,-1"
	"OnMapSpawn" "car_alarm_pole_trigger,AddOutput,boxmaxs 2 2 4,0,-1"
	"OnMapSpawn" "car_alarm_pole_trigger,AddOutput,solid 2,0,-1"
}
{
	"classname" "filter_activator_team"
	"targetname" "filter_survivor"
	"Negated" "Allow entities that match criteria"
	"filterteam" "2"
}
{
	"classname" "trigger_once"
	"origin" "2192 -752 267"
	"targetname" "car_alarm_pole_trigger"
	"filtername" "filter_survivor"
	"spawnflags" "1"
	"OnTrigger" "caralarm_car1,SurvivorStandingOnCar,,0,-1"
}
; --- Block jumping on swing set to skip the alarm car
{
	"classname" "env_physics_blocker"
	"origin" "2192 -575 888"
	"mins" "-29 -77 -520"
	"maxs" "29 77 520"
	"initialstate" "1"
	"BlockType" "1"
}


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
; --- Fix broken ladders in sewer
filter:
{
	"model" "*40"
}
{
	"model" "*42"
}
{
	"model" "*45"
}
add:
{
	"classname" "func_simpleladder"
	"origin" "-2416 1264 0"
	"angles" "0 180 0"
	"model" "*77"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-2416 175 0"
	"angles" "0 180 0"
	"model" "*77"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-973 -607 56"
	"angles" "0 180 0"
	"model" "*77"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}
; --- Fix broken ladders at the event
filter:
{
	"model" "*50"
}
{
	"model" "*79"
}
{
	"model" "*56"
}
{
	"model" "*78"
}
add:
{
	"classname" "func_simpleladder"
	"origin" "114 506 -16"
	"angles" "0 180 0"
	"model" "*46"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "270 648 145"
	"angles" "0 180 0"
	"model" "*46"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-2 118 -404"
	"angles" "0 0 0"
	"model" "*57"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-207 -1174 -52"
	"angles" "0 180 0"
	"model" "*47"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-207 -1174 -232"
	"angles" "0 180 0"
	"model" "*47"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}
; --- Fix broken ladder on fence
filter:
{
	"model" "*73"
}
add:
{
	"classname" "func_simpleladder"
	"origin" "2872 -3863 0"
	"angles" "0 180 0"
	"model" "*72"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}
; --- Fix broken ladder on hedge
filter:
{
	"model" "*65"
}
add:
{
	"classname" "func_simpleladder"
	"origin" "2318 1476 -260"
	"angles" "0 0 0"
	"model" "*57"
	"normal.x" "-1"
	"normal.y" "0"
	"normal.z" "0"
	"team" "2"
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Ensure both SMG and shotgun always spawn in the sewer exit room
modify:
{
	match:
	{
		"hammerid" "358199"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
{
	match:
	{
		"hammerid" "358212"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile by the van after the event (also accessible from the other side of the fence)
{
	"classname" "weapon_ammo_spawn"
	"origin" "1376 -1707 120"
	"angles" "0 90 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
}

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from accessing the wall cavity by the starting saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-1563 480 -240"
	"mins" "-107 -96 -112"
	"maxs" "107 96 112"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1728 480 -168"
	"mins" "-64 -96 -56"
	"maxs" "64 96 56"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the signal boxes around the event
{
	"classname" "env_physics_blocker"
	"origin" "-560 240 760"
	"mins" "-48 -16 -648"
	"maxs" "48 16 648"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-648 -523 760"
	"mins" "-48 -16 -648"
	"maxs" "48 16 648"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors getting onto the higher platforms around the event
; --- Sewer exit side
{
	"classname" "env_physics_blocker"
	"origin" "-372 776 840"
	"mins" "-140 -136 -568"
	"maxs" "140 136 568"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-648 448 840"
	"mins" "-152 -192 -568"
	"maxs" "152 192 568"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1072 -248 840"
	"mins" "-288 -504 -568"
	"maxs" "288 504 568"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Halfway point side
; --- 添加空气墙阻挡近路
{
    "classname" "env_physics_blocker"
    "targetname" "EB001"
    "BlockType" "1"
    "initialstate" "1"
    "maxs" "200 760 500"
    "mins" "-4 -128 -120"
    "origin" "608 -640 256"
}
{
    "classname" "env_physics_blocker"
    "targetname" "EB002"
    "BlockType" "1"
    "initialstate" "1"
    "maxs" "4 128 500"
    "mins" "-4 -128 -80"
    "boxmaxs" "4 128 500"
    "boxmins" "-4 -128 -80"
    "origin" "504 128 256"
    "angles" "0 55 0"
}
; --- Block survivors from getting on or behind the fences around the event
; --- Sewer exit side
{
	"classname" "env_physics_blocker"
	"origin" "-234 -101.5 760"
	"mins" "-2 -65.5 -648"
	"maxs" "2 65.5 648"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-234 -381.5 760"
	"mins" "-2 -128.5 -648"
	"maxs" "2 128.5 648"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-406 -508 760"
	"mins" "-170 -2 -648"
	"maxs" "170 2 648"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Halfway point side
{
	"classname" "env_physics_blocker"
	"origin" "386.5 158 760"
	"mins" "-2.5 -65 -648"
	"maxs" "2.5 65 648"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "387.5 -465 760"
	"mins" "-3.5 -66 -648"
	"maxs" "3.5 66 648"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "369.5 -693 760"
	"mins" "-1.5 -65 -648"
	"maxs" "1.5 65 648"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "497.5 -757 760"
	"mins" "-126.5 -1 -648"
	"maxs" "126.5 1 648"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the metal shacks around the event
{
	"classname" "env_physics_blocker"
	"origin" "-678 -416 849.5"
	"mins" "-106 -100 -558.5"
	"maxs" "106 100 558.5"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "574 -128 833.5"
	"mins" "-66 -68 -574.5"
	"maxs" "66 68 574.5"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "504.5 -132 760"
	"mins" "-3.5 -44 -648"
	"maxs" "3.5 44 648"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block standing on the windows at the drop after the event
{
	"classname" "env_physics_blocker"
	"origin" "-587 -949.5 399"
	"mins" "-5 -42.5 -245"
	"maxs" "5 42.5 245"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-587 -1077.5 399"
	"mins" "-5 -42.5 -245"
	"maxs" "5 42.5 245"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the back of the truck after the event
{
	"classname" "env_physics_blocker"
	"origin" "-71.5 -1659 380"
	"mins" "-14.5 -13 -212"
	"maxs" "14.5 13 212"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from going over a fence after the event to skip to the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "1427.14 -2104.04 760"
	"angles" "0 2.5 0"
	"mins" "-2 -49 -648"
	"maxs" "2 49 648"
	"boxmins" "-2 -49 -648"
	"boxmaxs" "2 49 648"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1432.28 -2020.43 760"
	"angles" "0 -3 0"
	"mins" "-2 -24.5 -648"
	"maxs" "2 24.5 648"
	"boxmins" "-2 -24.5 -648"
	"boxmaxs" "2 24.5 648"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1436 -1940 833"
	"mins" "-4 -48 -575"
	"maxs" "4 48 575"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1435.72 -1840.04 760"
	"angles" "0 1.5 0"
	"mins" "-2 -49 -648"
	"maxs" "2 49 648"
	"boxmins" "-2 -49 -648"
	"boxmaxs" "2 49 648"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1427.38 -1735.84 760"
	"angles" "0 7.5 0"
	"mins" "-2 -49 -648"
	"maxs" "2 49 648"
	"boxmins" "-2 -49 -648"
	"boxmaxs" "2 49 648"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivor access to windows near the van after the event
{
	"classname" "env_physics_blocker"
	"origin" "1474 -1660 582"
	"mins" "-158 -4 -50"
	"maxs" "158 4 50"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors accessing the apartment roof with ledge hangs
{
	"classname" "env_physics_blocker"
	"origin" "2208 -1344 1021"
	"mins" "-416 -232 -387"
	"maxs" "416 232 387"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors accessing a balcony near the apartments fire escape
{
	"classname" "env_physics_blocker"
	"origin" "1732 -1128 967"
	"mins" "-36 -24 -441"
	"maxs" "36 24 441"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors dropping into a window from the fire escape to skip the apartments
{
	"classname" "prop_dynamic"
	"origin" "1813 -1120 378.444"
	"angles" "0 270 0"
	"model" "models/props_pipes/gutter_512_002a.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1818 -1112 393"
	"mins" "-10 -8 -64"
	"maxs" "10 8 64"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1856 -1096 462.5"
	"mins" "-36 -24 -27.5"
	"maxs" "36 24 27.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on semi truck by the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "2534.5 -2476.51 936"
	"angles" "0 244.5 0"
	"mins" "-52.5 -267.5 -824"
	"maxs" "52.5 267.5 824"
	"boxmins" "-52.5 -267.5 -824"
	"boxmaxs" "52.5 267.5 824"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2852 -2598 178"
	"angles" "0 -10 0"
	"mins" "-36 -54 -66"
	"maxs" "36 54 66"
	"boxmins" "-36 -54 -66"
	"boxmaxs" "36 54 66"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
; --- Block out of bounds area by the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "3782 -3120 936"
	"mins" "-70 -20 -824"
	"maxs" "70 20 824"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3832 -2662 936"
	"mins" "-20 -454 -824"
	"maxs" "20 454 824"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3797.5 -2097.5 936"
	"angles" "0 66.5 0"
	"mins" "-51.5 -266.5 -824"
	"maxs" "51.5 266.5 824"
	"boxmins" "-51.5 -266.5 -824"
	"boxmaxs" "51.5 266.5 824"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3911.5 -1775.5 936"
	"angles" "0 336 0"
	"mins" "-51.5 -266.5 -824"
	"maxs" "51.5 266.5 824"
	"boxmins" "-51.5 -266.5 -824"
	"boxmaxs" "51.5 266.5 824"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Clipping to fix getting stuck on car stops by the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "3600 -2444 114.5"
	"mins" "-48 -4 -2.5"
	"maxs" "48 4 2.5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3384 -2444 114.5"
	"mins" "-48 -4 -2.5"
	"maxs" "48 4 2.5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3160 -2448 114.5"
	"mins" "-48 -4 -2.5"
	"maxs" "48 4 2.5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2952 -2448 114.5"
	"mins" "-48 -4 -2.5"
	"maxs" "48 4 2.5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2740 -2444 114.5"
	"mins" "-48 -4 -2.5"
	"maxs" "48 4 2.5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1836 -2448 114.5"
	"mins" "-48 -4 -2.5"
	"maxs" "48 4 2.5"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping to fix getting stuck on fallen fence by the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "2644 -2472 118.5"
	"mins" "-84 -40 -6.5"
	"maxs" "84 40 6.5"
	"initialstate" "1"
	"BlockType" "0"
}

; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
add:
; --- Additional pipe on the drop before the sewer exit to assist with climbing back up
{
	"classname" "prop_dynamic"
	"origin" "-592 -1328 -488"
	"angles" "0 180 0"
	"model" "models/props_pipes/pipeset32d_corner128d_001a.mdl"
	"solid" "6"
	"disableshadows" "1"
}

; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Infected ladder to climb up to the walkway after the starting saferoom
{
    "classname" "func_simpleladder"
    "origin" "-2240 -2333 -50"
    "angles" "0 270 0"
    "model" "*77"
    "normal.x" "0"
    "normal.y" "-1"
    "normal.z" "0"
    "team" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1344 -940 -430"
	"mins" "-32 -6 -6"
	"maxs" "32 6 6"
	"initialstate" "1"
	"BlockType" "1"
}