; =====================================================
; =================== Carried Off 4 ===================
; =====================================================

; Remove hardcoded throwables
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		; Pipe Bombs
		"item5" "0"

		; Molotovs
		"item3" "0"

		; Adrenaline
		"item11" "0"

		; Bile Bombs
		"item13" "0"
	}
}

; Some barriers around the hole in the hallway
add:
{
	"solid" "6"
	"origin" "-285 472 768"
	"angles" "0 -23 0"
	"model" "models/props_office/filecabinet01group.mdl"
	"classname" "prop_dynamic"
}
add:
{
	"solid" "6"
	"origin" "-475 423 767"
	"angles" "0 0 0"
	"model" "models/props/cs_militia/boxes_garage_lower.mdl"
	"classname" "prop_dynamic"
}

; Make tank spawns equal for both teams
; This just starts a reoccurring script that will teleport the
; tank to a safe distance away from the survivors once he spawns
modify:
{
	match:
	{
		"targetname" "trigger_stopgauntlet"
	}
	insert:
	{
		"OnTrigger" "tank_spawned_timerEnable0-1"
	}
}

add:
{
	"targetname" "tank_spawned_timer"
	"origin" "284.567841 668.269165 1506.031250"
	"UseRandomTime" "0"
	"UpperRandomBound" "1"
	"StartDisabled" "1"
	"spawnflags" "0"
	"LowerRandomBound" "1"
	"classname" "logic_timer"
	"RefireTime" "1"

	"OnTimer" "directorBeginScriptcwm4_building_tank_helper_promod0-1"
}



; --- RBTV Fixes
; --- Block jumping on floodlight as a shortcut
{
	"classname" "env_physics_blocker"
	"origin" "-504 416 1196"
	"mins" "-12 -22 -44"
	"maxs" "12 22 44"
	"initialstate" "1"
	"BlockType" "1"
}

; --- Block a stuck spot between stairs and boxes
{
	"classname" "env_physics_blocker"
	"origin" "27 -232 942"
	"angles" "33 0 0"
	"mins" "-27.5 -40 -2"
	"maxs" "27.5 40 2"
	"boxmins" "-27.5 -40 -2"
	"boxmaxs" "27.5 40 2"
	"initialstate" "1"
	"BlockType" "0"
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Ensure both SMG and shotgun always spawn in the kitchen
modify:
{
	match:
	{
		"hammerid" "209182"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
{
	match:
	{
		"hammerid" "209184"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
; --- Ensure both SMG and shotgun always spawn in the side room before the tank
{
	match:
	{
		"hammerid" "209196"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
{
	match:
	{
		"hammerid" "209194"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
; ---  Ensure both SMG and shotgun always spawn up the stairs after the tank
{
	match:
	{
		"hammerid" "209206"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
{
	match:
	{
		"hammerid" "209208"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile by the one way drop hole
{
	"classname" "weapon_ammo_spawn"
	"origin" "483 -29 576"
	"angles" "0 90 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
}

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Wooden boards as a guide to make dropping to the middle floor easier (with clipping to allow ledge hangs)
{
	"classname" "prop_dynamic"
	"origin" "277 781 1152"
	"angles" "0 333 0"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "255.82 818.73 1152.5"
	"angles" "0 333 0"
	"mins" "-36.5 -24.5 -0.5"
	"maxs" "36.5 24.5 0.5"
	"boxmins" "-36.5 -24.5 -0.5"
	"boxmaxs" "36.5 24.5 0.5"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-579 819 1152"
	"angles" "0 202 0"
	"model" "models/props_highway/plywood_02.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-525.5 814.73 1153.5"
	"angles" "0 202 0"
	"mins" "-48.5 -24.5 -0.5"
	"maxs" "48.5 24.5 0.5"
	"boxmins" "-48.5 -24.5 -0.5"
	"boxmaxs" "48.5 24.5 0.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Metal plate and board as a guide to make dropping to the lower floor easier (with clipping to allow ledge hangs)
{
	"classname" "prop_dynamic"
	"origin" "13 806 960.5"
	"angles" "0 15 0"
	"model" "models/props_urban/metal_plate001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "13 806 960.5"
	"angles" "0 15 0"
	"mins" "-66.5 -36.5 -0.5"
	"maxs" "66.5 36.5 0.75"
	"boxmins" "-66.5 -36.5 -0.5"
	"boxmaxs" "66.5 36.5 0.75"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-388 758 960"
	"angles" "0 310.5 0"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-393.13 800.96 960.5"
	"angles" "0 310.5 0"
	"mins" "-36.5 -24.5 -0.5"
	"maxs" "36.5 24.5 0.5"
	"boxmins" "-36.5 -24.5 -0.5"
	"boxmaxs" "36.5 24.5 0.5"
	"initialstate" "1"
	"BlockType" "1"
}