; =====================================================
; ======= Remove Witch Script + Two Messages ==========
; =====================================================
filter:
{
	"targetname" "witch_script"
}
{
	"targetname" "versus_cvars"
}
modify:
{
	match:
	{
		"classname" "info_gamemode"
	}
	delete:
	{
		"OnVersus" "directorBeginScriptwitch_glow0-1"
	}
}


; --- Fix falling off a ladder to climb on the kitchen at the event
modify:
{
	match:
	{
		"hammerid" "40456"
	}
	insert:
	{
		"origin" "4 -4 3"
	}
}
; --- Fix broken ladder behind the kitchen at the event
{
	match:
	{
		"hammerid" "4620699"
	}
	replace:
	{
	    "normal.x" "-1"
		"normal.y" "0"
	}
}