; =====================================================
; ======= Remove Witch Script + Two Messages ==========
; =====================================================
filter:
{
	"targetname" "witch_script"
}
{
	"targetname" "versus_cvars"
}
modify:
{
	match:
	{
		"classname" "info_gamemode"
	}
	delete:
	{
		"OnVersus" "directorBeginScriptwitch_glow0-1"
	}
}

; --- block a hang spot on wire hole
; --- 电线杆有挂边，需要加一个空气墙
add:
{
	"classname" "env_player_blocker"
	"BlockType" "1"
	"initialstate" "1"
	"maxs" "24 64 800"
	"mins" "-24 -64 -2"
	"origin" "2912 6016 312"
;	"targetname" "eb_fix01"
}


; --- Fix broken infected ladder on telephone pole after the warehouse
filter:
{
	"hammerid" "1184297"
}
add:
{
    "classname" "func_simpleladder"
    "origin" "-1.00049 7.33105 -90.5992"
    "angles" "0 0 3"
    "model" "*205"
    "normal.x" "0"
    "normal.y" "-0.99863"
    "normal.z" "-0.052336"
    "team" "2"
}