; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Fix starting saferoom nav not being applied (newest version)
modify:
{
	match:
	{
		"hammerid" "4326660"
	}
	replace:
	{
		"spawnflags" "10370"
	}
}


; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Pistols on the docks
add:
{
	"classname" "weapon_pistol_spawn"
	"origin" "-6933 7745 148"
	"angles" "0 255 -90"
	"ammo" "999"
	"spawnflags" "1"
}
{
	"classname" "weapon_pistol_spawn"
	"origin" "-6934 7761 148"
	"angles" "0 270 -90"
	"ammo" "999"
	"spawnflags" "1"
}
; --- Remove out of bounds weapon spawns (newest version)
filter:
{
	"hammerid" "740143"
}
{
	"hammerid" "740141"
}
{
	"hammerid" "740135"
}
{
	"hammerid" "740137"
}
{
	"hammerid" "740139"
}
{
	"hammerid" "740145"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from jumping on house by the playground
{
	"classname" "env_physics_blocker"
	"origin" "-1473 7605 958"
	"mins" "-176 -376 -626"
	"maxs" "176 376 626"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1817 7805 958"
	"mins" "-168 -176 -626"
	"maxs" "168 176 626"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Allow any infected to break the Save 4 Less store windows
modify:
{
	match:
	{
		"targetname" "glass_1s"
	}
	replace:
	{
		"BreakableType" "1"
	}
}
{
	match:
	{
		"targetname" "glass_2s"
	}
	replace:
	{
		"BreakableType" "1"
	}
}
{
	match:
	{
		"targetname" "glass_3s"
	}
	replace:
	{
		"BreakableType" "1"
	}
}
{
	match:
	{
		"targetname" "glass_4s"
	}
	replace:
	{
		"BreakableType" "1"
	}
}


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
modify:
; --- Fix broken ladder on Self Storage building (old version)
{
	match:
	{
		"hammerid" "19283"
	}
	replace:
	{
		"normal.x" "-1.00"
		"normal.y" "0.00"
	}
}
; --- Fix broken ladder on broken fence after the burger tank (newest version)
{
	match:
	{
		"hammerid" "1639791"
	}
	insert:
	{
		"origin" "0 4 0"
	}
}
; --- Fix broken ladders on house by the playground (newest version)
{
	match:
	{
		"hammerid" "2591916"
	}
	insert:
	{
		"origin" "0 1 0"
	}
}
{
	match:
	{
		"hammerid" "2591878"
	}
	insert:
	{
		"origin" "0 -1 0"
	}
}
; --- Fix broken ladders on house by the playground (old version)
{
	match:
	{
		"hammerid" "24123"
	}
	insert:
	{
		"origin" "0 1 0"
	}
}
{
	match:
	{
		"hammerid" "24120"
	}
	insert:
	{
		"origin" "0 -1 0"
	}
}
; --- Fix broken ladder by garage sale (newest version)
{
	match:
	{
		"hammerid" "4273049"
	}
	insert:
	{
		"origin" "1 0 0"
	}
}
; --- Fix broken infected ladder by the one-way drop house (old version) (credit: Wicket)
add:
{
	"classname" "func_simpleladder"
	"origin" "9905.00 2248.00 -88.00"
	"angles" "0 90 0"
	"model" "*191"
	"normal.x" "0.86"
	"normal.y" "0.00"
	"normal.z" "-0.50"
	"team" "2"
	"rendermode" "10" ; --- On newest this is visible in an incorrect spot so hide it
}
; --- Infected ladder to climb on the house by the flower garden (newest version only)
{
	"classname" "func_simpleladder"
	"origin" "-3111 -227.5 203"
	"angles" "0 270 0"
	"model" "*153"
	"normal.x" "0.00"
	"normal.y" "0.89"
	"normal.z" "-0.44"
	"team" "2"
}
; --- Infected ladder to climb on the sugarmill saferoom roof (newest version only)
{
	"classname" "func_simpleladder"
	"origin" "-1712 -1870 -28"
	"angles" "0 270 0"
	"model" "*179"
	"normal.x" "0.89"
	"normal.y" "0.00"
	"normal.z" "-0.44"
	"team" "2"
}

; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================