; =====================================================
; ===================   CUSTOMOGL   ===================
; ================= Haunted Forest 1 ==================
; =====================================================

; Force both dynamic paths to be available
filter:
{
	"classname" "logic_case"
	"targetname" "case_dynamic_path_a"
}
{
	"targetname" "brush_path2"
}
{
	"targetname" "prop_dyna_car_path2"
}
{
	"targetname" "prop_dyna_tree_path2"
}
{
	"targetname" "brush_path1"
}
{
	"targetname" "prop_dyna_tree_path1"
}
{
	"targetname" "prop_dyna_rock_path1"
}
{
	"targetname" "prop_dyna_car_path1"
}
{
	"targetname" "decal_blood_path1"
}
{
	"targetname" "smoke_path1"
}
{
	"targetname" "light_pathlight"
}
{
	"targetname" "sprite_pathlight"
}
{
	"targetname" "spotlight_pathlight"
}
{
	"targetname" "navblock_tunnelpath"
}
{
	"targetname" "navblock_carpath"
}

; Right path after the 3 hanging bodies
; If your standing in the path by the props here looking forward:
; Less Y moves things to the right
; Less X moves things down the slope towards you
;add:
;{
;   "solid" "6"
;   "origin" "-7799 8253 165"
;   "angles" "0 0 0"
;   "model" "models/props_wasteland/rockcliff_cluster03b.mdl"
;   "classname" "prop_dynamic"
;}
;add:
;{
;   "solid" "6"
;   "origin" "-7869 8153 60"
;   "angles" "0 0 0"
;   "model" "models/props_foliage/urban_tree_base_bushes01_large.mdl"
;   "classname" "prop_dynamic"
;}
add:
{
	"solid" "6"
	"origin" "-7423 7965 60"
	"angles" "0 0 0"
	"model" "models/props_foliage/urban_trees_small01.mdl"
	"classname" "prop_dynamic"
}


; ############  DIRECTOR, EVENTS & NAV MESH ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==  Modify existing director behaviour and events  ==
; =====================================================
; --- Speed up the really long intro camera sequence
modify:
{
	match:
	{
		"targetname" "camera_intro_survivor_01"
	}
	replace:
	{
		"origin" "-11284 4974.61 126.821"
	}
}
{
	match:
	{
		"targetname" "camera_intro_survivor_02"
	}
	replace:
	{
		"origin" "-11278 4974.87 126.821"
	}
}
{
	match:
	{
		"targetname" "camera_intro_survivor_03"
	}
	replace:
	{
		"origin" "-11286 4974.52 126.821"
	}
}
{
	match:
	{
		"targetname" "camera_intro_survivor_04"
	}
	replace:
	{
		"origin" "-11275 4975 126.821"
	}
}
{
	match:
	{
		"targetname" "intro_train"
	}
	replace:
	{
		"target" "track08"
		"origin" "-11283 4975 129"
	}
}
{
	match:
	{
		"classname" "path_track"
	}
	replace:
	{
		"orientationtype" "1"
	}
}
{
	match:
	{
		"targetname" "fade_intro"
	}
	replace:
	{
		"holdtime" "1"
		"duration" "2"
	}
}
{
	match:
	{
		"targetname" "relay_intro_start"
	}
	delete:
	{
		"OnTrigger" "relay_intro_survivor_camerasTrigger14-1"
	}
	insert:
	{
		"OnTrigger" "relay_intro_survivor_cameras,Trigger,,3.5,-1"
	}
}

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from standing on the tunnel exit after the starting saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-11801 7784 506.5"
	"mins" "-260 -208 -309.5"
	"maxs" "260 208 309.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from climbing on the cliff behind the truck
{
	"classname" "env_physics_blocker"
	"origin" "-12231.3 10271 388"
	"angles" "0 25 0"
	"mins" "-38 -57 -428"
	"maxs" "38 57 428"
	"boxmins" "-38 -57 -428"
	"boxmaxs" "38 57 428"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivor access to cliff above the roadblock tunnel exit
{
	"classname" "env_physics_blocker"
	"origin" "-7936 8684.5 336"
	"mins" "-379 -283.5 -480"
	"maxs" "379 283.5 480"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from climbing on the long tunnel entrance
{
	"classname" "env_physics_blocker"
	"origin" "-5453 6844 536"
	"mins" "-99 -28 -280"
	"maxs" "99 28 280"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-5631.2 6817.25 536"
	"angles" "0 18 0"
	"mins" "-91 -28 -280"
	"maxs" "91 28 280"
	"boxmins" "-91 -28 -280"
	"boxmaxs" "91 28 280"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-5864 6704 644"
	"mins" "-96 -136 -172"
	"maxs" "96 136 172"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6496 6676 644"
	"mins" "-536 -108 -172"
	"maxs" "536 108 172"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-7128 6704 644"
	"mins" "-96 -136 -172"
	"maxs" "96 136 172"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from climbing on the hill by the tunnel exit
{
	"classname" "env_physics_blocker"
	"origin" "-6716 3688 558"
	"mins" "-84 -64 -414"
	"maxs" "84 64 414"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6644.5 3036 622"
	"mins" "-187.5 -36 -350"
	"maxs" "187.5 36 350"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the mine tunnel entrance (godspot)
{
	"classname" "env_physics_blocker"
	"origin" "-4552 -692 543"
	"mins" "-760 -60 -433"
	"maxs" "760 60 433"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the bridge archways
{
	"classname" "env_physics_blocker"
	"origin" "-832 -2568.5 594"
	"mins" "-134 -30.5 -314"
	"maxs" "134 30.5 314"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-832 -3241.5 594"
	"mins" "-134 -30.5 -314"
	"maxs" "134 30.5 314"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors standing on invisible walls either side of the bridge archways
{
	"classname" "env_physics_blocker"
	"origin" "-612 -3247.5 448"
	"mins" "-60 -2.5 -464"
	"maxs" "60 2.5 464"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1052 -3247.5 448"
	"mins" "-60 -2.5 -464"
	"maxs" "60 2.5 464"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
; --- Block a survivor out of bounds spot at the starting saferoom
add:
{
	"classname" "env_physics_blocker"
	"origin" "-10308 4598 552"
	"mins" "-4 -200 -592"
	"maxs" "4 200 592"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivor out of bounds spots on cliffs on the sides of the bridge before the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-306 -1927 131"
	"mins" "-194 -31 -107"
	"maxs" "194 31 107"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-312 -4065 111"
	"mins" "-176 -18 -127"
	"maxs" "176 18 127"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1612 -4160 466"
	"mins" "-76 -176 -442"
	"maxs" "76 176 442"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Fix a few spots where infected can get stuck behind fences around the starting saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-10880 5250 146"
	"mins" "-88 -9 -6"
	"maxs" "88 9 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-10247.7 4942.73 66"
	"angles" "0 60 0"
	"mins" "-88 -13 -6"
	"maxs" "88 13 6"
	"boxmins" "-88 -13 -6"
	"boxmaxs" "88 13 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-10166.3 5104.7 71"
	"angles" "0 66 0"
	"mins" "-88 -13 -6"
	"maxs" "88 13 6"
	"boxmins" "-88 -13 -6"
	"boxmaxs" "88 13 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-10166.3 5104.7 84"
	"angles" "0 66 0"
	"mins" "0 -13 -6"
	"maxs" "88 13 6"
	"boxmins" "0 -13 -6"
	"boxmaxs" "88 13 6"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix perma-stuck spots in 2 rock clusters by the truck
{
	"classname" "env_physics_blocker"
	"origin" "-10928 8753 148"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-10353 10380 247"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix survivor perma-stuck spot by tree before the roadblock tunnel
{
	"classname" "env_physics_blocker"
	"origin" "-9421.5 8705 -95"
	"mins" "-61.5 -27 -183"
	"maxs" "61.5 27 183"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Fix perma-stuck spot in rock cluster by the roadblock tunnel
{
	"classname" "env_physics_blocker"
	"origin" "-9378 8645 -194"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block a perma-stuck spot behind a bush near the truck (and block a displacement clip / stuck spot)
{
	"classname" "env_physics_blocker"
	"origin" "-10975 10782 64"
	"mins" "-217 -61 -62"
	"maxs" "217 61 62"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix a perma-stuck spot in rock cluster on path around the roadblock tunnel
{
	"classname" "env_physics_blocker"
	"origin" "-8143 8368 64"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix 5 perma-stuck spots in rock clusters around the house
{
	"classname" "env_physics_blocker"
	"origin" "-7813 4458 211"
	"mins" "-51 -33 -84"
	"maxs" "51 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8309 4120 156"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8202 4293 111"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-7359 2237 179"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6474 3033 248"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix sliding stuck spot in some fallen trees before the mines
{
	"classname" "env_physics_blocker"
	"origin" "-4484 4243 -126"
	"mins" "-28 -51 -33"
	"maxs" "28 51 33"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix a perma-stuck spot in a rock cluster before the mines
{
	"classname" "env_physics_blocker"
	"origin" "-4880 363 -72"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
; --- add a big rock fix a spot (Si can get the under of level) before the mine
; --- 添加一块石头模型，阻止特感到地下
{
	"classname" "prop_dynamic"
	"origin" "-4048 -664 176"
	"angles" "-29 180 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/lostcoast/props_wasteland/rock_coast02c.mdl"
	"disableshadows" "1"
}
; --- Fix a perma-stuck spot in a rock cluster after the mines
{
	"classname" "env_physics_blocker"
	"origin" "-212 -822 133"
	"mins" "-32 -33 -84"
	"maxs" "32 33 84"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix a perma-stuck spot in a tree cluster after the mines
{
	"classname" "env_physics_blocker"
	"origin" "-298.5 -894 207"
	"mins" "-16.5 -18 -136"
	"maxs" "16.5 18 136"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block a stuck spot between cliff and skybox near the final bridge
{
	"classname" "env_physics_blocker"
	"origin" "250 -2036 406"
	"mins" "-336 -28 -502"
	"maxs" "336 28 502"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block a survivor perma-stuck spot after the final bridge
{
	"classname" "env_physics_blocker"
	"origin" "-1464 -4207 131"
	"mins" "-72 -42 -107"
	"maxs" "72 42 107"
	"initialstate" "1"
	"BlockType" "1"
}


; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
; --- Fix falling off the ladder in the starting saferoom
modify:
{
	match:
	{
		"hammerid" "764352"
	}
	insert:
	{
		"origin" "5 3 0"
	}
}
; --- Fix falling off the ladder by the truck
{
	match:
	{
		"hammerid" "653067"
	}
	insert:
	{
		"origin" "0 -1 0"
	}
}
; --- Fix falling off a ladder by the roadblock tunnel
{
	match:
	{
		"hammerid" "876288"
	}
	insert:
	{
		"origin" "0 2 0"
	}
}
; --- Fix falling off a ladder before the mines
{
	match:
	{
		"hammerid" "758418"
	}
	insert:
	{
		"origin" "-1 0 2"
	}
}
; --- Fix being unable to climb a ladder from the right side after the mines
{
	match:
	{
		"hammerid" "647439"
	}
	insert:
	{
		"origin" "2 -1 0"
	}
}
; --- Fix falling off a ladder after the mines
{
	match:
	{
		"hammerid" "647450"
	}
	insert:
	{
		"origin" "6 -2 0"
	}
}
