
; =====================================================
; ============ [l4d2_city17_04] [m4/5] [city 17]
; =====================================================

; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================

; ---- add a Svv-ladder mechanism with bridge event
; ---- 1,enable this ladder when event button pressed
; ---- 2,this ladder can climb to 1st bridge
; ---- 在桥机关点添加一个生还爬梯机制
; ---- 1.当生还按下大轮回机关按钮后，激活新增的人梯
; ---- 2.新梯子可以爬上小轮回

; --- add trigger outputs into event button 为机关按钮添加触发输出
modify:
{
    match:
    {
        "hammerid" "208558"
		"classname" "func_button"
    }
    insert:
    {
		"OnPressed" "zmod_ladder1,Enable,,6,-1"
		"OnPressed" "zmod_ladder1,StartGlowing,,7,1"
		"OnPressed" "eb_lad01,Disable,,6.5,1"
    }
}

add:
; -- visible ladder1 model 爬梯1的模型
{
	"classname" "prop_dynamic"
	"targetname" "zmod_ladder1"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_highway/billboard_ladder.mdl"
	"rendercolor" "33 33 33"
	"origin" "1112 2708 -340"
	"solid" "0"
	"StartDisabled" "1"
	"glowrange" "256"
	"glowrangemin" "64"
	"glowstate" "2"
}
; -- ladder1 clipwall 爬梯1的空气墙
{
	"classname" "env_physics_blocker"
	"angles" "0 0 0"
	"targetname" "eb_lad01"
	"BlockType" "1"
	"maxs" "18 4 0"
	"mins" "-18 0 -264"
	"boxmaxs" "18 4 0"
	"boxmins" "-18 0 -264"
	"initialstate" "1"
	"origin" "1112 2680 92"
}
; -- ladder1 ladder 爬梯1本体
add:
{
    "model" "*279"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "0"
    "classname" "func_simpleladder"
    "origin" "1.00 -1.00 0.00"
    "angles" "0.00 0.00 0.00"
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; ---- remove too random pills spawn 剔除位置偏僻的药
filter:
{
	"classname" "weapon_item_spawn"
	"item4" "1"
}
{
	"hammerid" "124076"
}
{
	"hammerid" "207789"
}
{
	"hammerid" "218253"
}
{
	"hammerid" "220009"
}
{
	"hammerid" "220011"
}
{
	"hammerid" "271445"
}
{
	"hammerid" "330428"
}
{
	"hammerid" "330557"
}

; ---- add useful pills spawn 添加位置合理的药
add:
; -- the event button area 大轮回放桥机关点
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"spawnflags" "2"
	"origin" "-20 2640 256"
}
; -- after the event 大轮回放桥机关点后
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"spawnflags" "2"
	"origin" "-36 4052 320"
}
; -- after plane crash house 坠机房后不远处
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"spawnflags" "2"
	"origin" "-4676 6292 308"
}
; -- the middle section of the hospital 医院的中段路程处
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"spawnflags" "2"
	"origin" "-6588 5080 348"
}

; --- remove health cabinet spawn 移除药箱
filter:
{
	"classname" "prop_health_cabinet"
}

; --- remove first-aid kit spawns 删除医疗包
filter:
{
	"classname" "weapon_first_aid_kit_spawn"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; --- block the spots out the map 封闭卡点
add:
{
	"classname" "env_player_blocker"
	"BlockType" "0"
	"initialstate" "1"
	"maxs" "2000 40 800"
	"mins" "-4 -128 -80"
	"targetname" "eb_fix03a"
	"origin" "-4336 7000 560"
}
{
	"classname" "env_player_blocker"
	"BlockType" "0"
	"initialstate" "1"
	"maxs" "400 40 800"
	"mins" "-4 -128 -80"
	"targetname" "eb_fix03b"
	"origin" "-2880 6360 560"
}
{
	"classname" "env_player_blocker"
	"BlockType" "0"
	"initialstate" "1"
	"maxs" "200 40 800"
	"mins" "-4 -600 -80"
	"targetname" "eb_fix03c"
	"origin" "-2536 6832 560"
}


; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; --- block the spots cant get out 封闭无法出去的点位
add:
{
	"classname" "env_player_blocker"
	"BlockType" "0"
	"initialstate" "1"
	"maxs" "300 128 40"
	"mins" "-4 -120 -200"
	"targetname" "eb_fix01"
	"origin" "-1432 3792 312"
}

{
	"classname" "env_player_blocker"
	"BlockType" "0"
	"initialstate" "1"
	"maxs" "400 180 80"
	"mins" "-200 -8 -120"
	"targetname" "eb_fix02"
	"origin" "-1072 2484 176"
}

; --- down the 1st hole in hospital 医院内的第1个下洞口
{
	"classname" "env_physics_blocker"
	"angles" "0 0 0"
	"BlockType" "0"
	"maxs" "300 80 0"
	"mins" "-8 -128 -8"
	"boxmaxs" "300 80 0"
	"boxmins" "-8 -128 -8"
	"initialstate" "1"
	"targetname" "eb_fix04a"
	"origin" "-6000 6296 164"
}
{
	"classname" "env_physics_blocker"
	"angles" "0 0 0"
	"BlockType" "0"
	"maxs" "200 64 8"
	"mins" "-8 -120 -8"
	"boxmaxs" "200 64 8"
	"boxmins" "-8 -120 -8"
	"initialstate" "1"
	"targetname" "eb_fix04b"
	"origin" "-5984 6296 164"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; --- add middle crate behind starting fence 出门的围栏后加木箱模型
add:
{
	"classname" "prop_dynamic"
	"origin" "-2992 2920 4"
	"angles" "0 3 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props/de_nuke/crate_small.mdl"
	"disableshadows" "1"
}

; --- add pole & crate models on starting road 在出门的大路上加栏杆和木箱模型
add:
{
	"classname" "prop_dynamic"
	"origin" "-1364 3012 -4"
	"angles" "0 90 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_fortifications/concrete_post001_48.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-1696 3012 -4"
	"angles" "0 90 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_fortifications/concrete_post001_48.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-512 3016 -4"
	"angles" "0 90 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_fortifications/concrete_post001_48.mdl"
	"disableshadows" "1"
}

{
	"classname" "prop_dynamic"
	"origin" "-1400 3332 4"
	"angles" "0 105 10"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props/de_nuke/crate_small.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-1376 3012 0"
	"angles" "0 180 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_street/stopsign01.mdl"
	"disableshadows" "1"
}


; --- add a orange handrail model at the building gap before the event
; --- 机关点前的建筑缺口处添加一个橙色栏杆模型
add:
{
	"classname" "prop_dynamic"
	"origin" "660 2868 160"
	"angles" "0 90 0"
	"solid" "6"
	"rendercolor" "255 100 26"
	"model" "models/props_C17/handrail04_short.mdl"
	"disableshadows" "1"
}


; --- add models below the opposite side of the event bridge, make Svv could jump down fastly
; --- 在机关桥的另一端下方添加模型，使生还可以快速下到地面
add:
{
	"classname" "prop_dynamic"
	"origin" "192 3488 156"
	"angles" "0 270 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_rooftop/acunit01.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "132 3500 -76"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"disableshadows" "1"
}


; ---- add barricades & playwoods models in the plane crash house
; ---- 在坠机房周围添加路障、木板等模型
add:
{
	"classname" "prop_dynamic"
	"origin" "-3108.75 6221.06 349"
	"angles" "0 28 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-3100.75 6205.06 309"
	"angles" "0 28 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-3128 5516 500"
	"angles" "0 90 180"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_update/plywood_256.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-3840 5480 308"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props/de_nuke/crate_extralarge.mdl"
	"disableshadows" "1"
}


{
	"classname" "prop_dynamic_override"
	"origin" "-3296 5604 500"
	"angles" "90 0 -137"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_debris/wood_board04a.mdl"
	"disableshadows" "1"
}


; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; --- lower the volume of the plane crash 降低坠机音量
modify:
{
	match:
	{
		"targetname" "planecrash_trigger"
	}
	delete:
	{
		"OnTrigger" "plane_crash_soundPlaySound0-1"
	}
	insert:
	{
		"OnTrigger" "plane_crash_sound,Volume,6,0,-1"
		"OnTrigger" "plane_crash_sound,Volume,4,8,-1"
	}
}

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================

; --- remove smogs to improve FPS 删烟提升帧数
filter:
{
	"classname" "func_precipitation"
}
{
	"classname" "func_smokevolume"
}

; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; -- remove Si clipwalls in plane crash house
; -- 移除坠机房的特感空气墙
filter:
{
	"classname" "func_playerinfected_clip"
}

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================

; -- starting area bus 出门公交车
add:
{
    "model" "*273"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "276.00 -235.00 -396.00"
    "angles" "0.00 0.00 0.00"
}

; -- up the building gap before the event 机关前的建筑缺口
add:
{
    "model" "*269"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "880.00 -9.00 -132.00"
    "angles" "0.00 0.00 0.00"
}

; -- below 1st bridge 小轮回下方的栏杆
add:
{
    "model" "*269"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "464.98 5736.00 -272.00"
    "angles" "0.00 180.00 0.00"
}
{
    "model" "*269"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "1008.00 -32.00 -276.00"
    "angles" "0.00 0.00 0.00"
}

; ---- plane crash event 坠机房间爬梯

; -- visible model 可见模型
add:
{
	"classname" "prop_dynamic"
	"origin" "-3320 5636 492"
	"angles" "0 0 -180"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_urban/telephone_pole001.mdl"
	"disableshadows" "1"
}
; -- ladder clipwall 小型空气墙
{
	"classname" "env_player_blocker"
	"BlockType" "0"
	"initialstate" "1"
	"maxs" "12 8 80"
	"mins" "-12 -8 -80"
	"targetname" "eb03"
	"origin" "-3328 5628 388"
}
; -- Si ladder 爬梯本体
{
    "model" "*269"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-3054.00 2763.00 250.50"
    "angles" "0.00 0.00 0.00"
}
; -- remove the breakable plank at ladder top 移除爬梯顶部木板
filter:
{
	"classname" "func_breakable"
	"origin" "-3394.5 5723.09 474"
}
; -- usability optimization 爬梯的使用优化
modify:
{
	match:
	{
		"targetname" "brush_broken_boards_gunshipshowdown_01"
	}
	replace:
	{
		"StartDisabled" "0"
	}
}

; -- down the 1st hole in hospital 医院内的第1个下洞口
add:
{
	"classname" "prop_dynamic"
	"origin" "-5908 6168 152"
	"angles" "-90 180 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_pipes/pipeset32d_256_001a.mdl"
	"disableshadows" "1"
}
add:
{
    "model" "*269"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-5634.00 3309.00 29.50"
    "angles" "0.00 0.00 0.00"
}



; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================
