;---- Make random Tier 1 spawn a Shotgun and place an Uzi near it.
modify:
{
	match:
	{
		"targetname" "vs_tier1"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
add:
{
	"origin" "-418 933 -6"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 161 -90"
	"classname" "weapon_spawn"
}

;---- Prevent Survivors from starting the button during ready-up
;---- Trigger explosions and horde and such when pressing the button, rather then walking up to the button.
;---- Make the Wall towards the elevator only breakable by SI.
;---- Break the Wall towards the elevator.
;
modify:
{
	match:
	{
		"targetname" "power restore floor cons"
	}
	replace:
	{
		"spawnflags" "3073"
	}
	insert:
	{
		"OnPressed" "cons_bombTrigger0-1"
	}
}
{
	match:
	{
		"targetname" "elevator_door"
	}
	insert:
	{
		"OnFullyClosed" "power restore floor consUnlock0-1"
		"OnFullyClosed" "bottom_floor_triggerEnable0-1"
		"OnFullyClosed" "glass_blowEnable0-1"
		"OnFullyClosed" "glass3_triggerEnable0-1"
		"OnFullyClosed" "elevator stop cons relay triggerEnable0-1"
	}
}
{
	match:
	{
		"targetname" "cons_bomb"
	}
	delete:
	{
		"OnTrigger" "elevator_ventBreak2-1"
		"OnTrigger" "cons_zombie_triggerTrigger3-1"
		"OnTrigger" "cons_bomb2Trigger15-1"
	}
	insert:
	{
		"OnTrigger" "cons wall2Break0-1"
		"OnTrigger" "cons_zombie_triggerTrigger0-1"
		"OnTrigger" "cons_bomb2Trigger13-1"
	}
}
{
	match:
	{
		"targetname" "cons wall2"
	}
	replace:
	{
		"minhealthdmg" "5"
	}
}
filter:
{
	"hammerid" "1388440"
}

;---- Disable Elevator shaft stuff when Survivors jump down the Elevator shaft before going down the Elevator. (In ready up)
modify:
{
	match:
	{
		"hammerid" "1528146"
	}
	replace:
	{
		"StartDisabled" "1"
	}
	insert:
	{
		"targetname" "bottom_floor_trigger"
	}
}
{
	match:
	{
		"targetname" "glass_blow"
	}
	insert:
	{
		"StartDisabled" "1"
	}
}
{
	match:
	{
		"hammerid" "1568433"
	}
	replace:
	{
		"StartDisabled" "1"
	}
	insert:
	{
		"targetname" "elevator stop cons relay trigger"
	}
}
{
	match:
	{
		"hammerid" "1449067"
	}
	replace:
	{
		"StartDisabled" "1"
	}
	insert:
	{
		"targetname" "glass3_trigger"
	}
}
	
;---- Fix Randoming Pathing/Weapon Spawns. (Forced to take the longer route)
filter:
{
	;Path Picker 2.
	"hammerid" "2411828"
}
{
	;Path Picker 1.
	"hammerid" "2411730"
}
	;Query.
	"hammerid" "1951907"
}
modify:
{
	match:
	{
		"hammerid" "66462"
	}
	delete:
	{
		"OnPressed" "path_pickerPickRandom0-1"
	}
}

;----- Prevent Horde Settings, Add our own VScript
{
	match:
	{
		"targetname" "elevator stop relay"
	}
	delete:
	{
		"OnTrigger" "directorBeginScriptsb_map1_default0-1"
	}
	insert:
	{
		"OnTrigger" "directorBeginScriptsb_map1_default_promod0-1"
	}
}
