
; =====================================================
; ================= (v3) stripper by 锋锋(Aiden)
; ============ [l4d2_ff01_woods] [m1/5] [fatal freight]
; =====================================================

; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================


; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; ---- remove too radom pills 删除阴间药
filter:
{
    "classname" "weapon_item_spawn"
    "item4" "1"
}

; ---- add obvious pills 加阳间药
add:
{
    "classname" "weapon_pain_pills_spawn"
    "angles" "0 0 0"
    "solid" "6"
    "spawnflags" "2"
    "origin" "-5680 2819 18"
}

; ---- remove health kits 删包
filter:
{
    "classname" "weapon_first_aid_kit_spawn"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================


; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================

; --- Make a red cars unhittable 把红车铁改成不能打
filter:
{
    "targetname" "car3"
}
{
    "parentname" "car3"
}
add:
{
    "classname" "prop_dynamic"
    "origin" "-2624 6712 -298"
    "angles" "0 90 0"
    "model" "models/props_vehicles/cara_95sedan.mdl"
    "solid" "6"
    "disableshadows" "1"
}
{
    "classname" "prop_dynamic"
    "origin" "-2624 6712 -298"
    "angles" "0 90 0"
    "model" "models/props_vehicles/cara_95sedan_glass.mdl"
    "solid" "6"
    "disableshadows" "1"
}


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; --- add clip for top of the white truck round dumpster
; --- 给垃圾箱旁边的白色货车加上空气墙
add:
{
    "classname" "env_physics_blocker"
    "BlockType" "1"
    "initialstate" "1"
    "maxs" "20 100 80"
    "mins" "-20 -120 -80"
    "boxmaxs" "20 100 80"
    "boxmins" "-20 -120 -80"
    "targetname" "EB_01"
    "origin" "-2916 7456 -200"
    "angles" "0 -170 0"
}
{
    "classname" "env_physics_blocker"
    "BlockType" "1"
    "initialstate" "1"
    "maxs" "80 110 80"
    "mins" "-60 -120 -80"
    "boxmaxs" "80 110 80"
    "boxmins" "-60 -120 -80"
    "targetname" "EB_02"
    "origin" "-2843.28 7447.81 -40"
    "angles" "0 -170 0"
}


; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; ---- add a fence at saferoom entrence 起点出口加个铁丝网
add:
{
    "classname" "prop_dynamic"
    "origin" "-4672 10180 -744"
    "angles" "0 270 0"
    "model" "models/props_wasteland/exterior_fence002c.mdl"
    "solid" "6"
    "disableshadows" "1"
}

; ---- round the entrance 入口附近
add:
{
    "classname" "prop_dynamic"
    "origin" "-3168 6580 -300"
    "angles" "0 0 0"
    "model" "models/props_unique/airport/temp_barricade.mdl"
    "solid" "6"
    "disableshadows" "1"
    "rendercolor" "255 255 255"
}
{
    "classname" "prop_dynamic"
    "origin" "-3552 6436 -300"
    "angles" "0 0 0"
    "model" "models/props_crates/static_crate_40.mdl"
    "solid" "6"
    "disableshadows" "1"
    "rendercolor" "255 255 255"
}


; ---- add some brushwoods help Si spawn round parking area
; ---- 在停车场附近加一些草丛复活位
add:
{
    "classname" "prop_dynamic"
    "origin" "-4832 4276 408"
    "angles" "0 0 0"
    "model" "models/props_foliage/urban_hedge_128_64_high.mdl"
    "solid" "6"
    "disableshadows" "1"
}
{
    "classname" "prop_dynamic"
    "origin" "-5324 3844 204"
    "angles" "0 0 0"
    "model" "models/props_foliage/urban_hedge_128_64_high.mdl"
    "solid" "6"
    "disableshadows" "1"
}
{
    "classname" "prop_dynamic"
    "origin" "-4588 3852 204"
    "angles" "0 0 0"
    "model" "models/props_foliage/urban_hedge_128_64_high.mdl"
    "solid" "6"
    "disableshadows" "1"
}
{
    "classname" "prop_dynamic"
    "origin" "-4824 4920 64"
    "angles" "0 0 0"
    "model" "models/props/cs_militia/boxes_garage_lower.mdl"
    "solid" "6"
    "disableshadows" "1"
}

; ---- add some containers help Si spawn round parking area
; ---- 在停车场附近加一些集装箱复活位
add:
{
    "classname" "prop_dynamic"
    "origin"  "-4408 2948 -24"
    "angles" "0 0 0"
    "model" "models/props_equipment/cargo_container04.mdl"
    "solid" "6"
    "disableshadows" "1"
    "rendercolor" "136 0 0"
}
{
    "classname" "prop_dynamic"
    "origin"  "-4324 3004 104"
    "angles" "0 0 0"
    "model" "models/props_equipment/cargo_container04.mdl"
    "solid" "6"
    "disableshadows" "1"
    "rendercolor" "136 0 0"
}
{
    "classname" "prop_dynamic"
    "origin"  "-4260 3068 -24"
    "angles" "0 0 0"
    "model" "models/props_equipment/cargo_container04.mdl"
    "solid" "6"
    "disableshadows" "1"
}
{
    "classname" "prop_dynamic"
    "origin" "-4164 3828 140"
    "angles" "-10 22 0"
    "model" "models/props_foliage/rock_coast02c.mdl"
    "solid" "6"
    "disableshadows" "1"
}

; ---- round the alarmcar 警报车附近
add:
{
    "classname" "prop_dynamic"
    "origin" "-3580 2912 -24"
    "angles" "0 90 0"
    "model" "models/props_equipment/cargo_container04.mdl"
    "solid" "6"
    "disableshadows" "1"
    "rendercolor" "255 255 255"
}
{
    "classname" "prop_dynamic"
    "origin"  "-3276 2328 -24"
    "angles" "0 90 0"
    "model" "models/props_fortifications/police_barrier001_128_reference.mdl"
    "solid" "6"
    "disableshadows" "1"
    "rendercolor" "255 255 255"
}


; --- Block LOS of shelf
add:
{
    "classname" "logic_auto"
    "OnMapSpawn" "losfix_shelf,AddOutput,mins -360 -20 -80,0,-1"
    "OnMapSpawn" "losfix_shelf,AddOutput,maxs 160 20 0,0,-1"
    "OnMapSpawn" "losfix_shelf,AddOutput,solid 2,0,-1"
}
{
    "classname" "func_brush"
    "origin" "-3292 1748 96"
    "targetname" "losfix_shelf"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================

; ---- add 2 ladders help Si get top of hill
; ---- 加两个梯子帮助特感快速上山
add:
{
    "model" "*113"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-242.00 2306.00 -354.00"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*35"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "88.00 2332.00 18.00"
    "angles" "0.00 0.00 0.00"
}

; ---- parking area 停车场附近的特感梯
add:
{
    "model" "*113"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9067.00 15999.99 -1.00"
    "angles" "0.00 180.00 0.00"
}
add:
{
    "model" "*32"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "582.00 1044.00 168.00"
    "angles" "0.00 0.00 0.00"
}
add:
{
    "model" "*146"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-1571.00 8157.00 -50.00"
    "angles" "0.00 90.00 0.00"
}
add:
{
    "model" "*147"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-8787.00 -813.00 -14.00"
    "angles" "0.00 270.00 0.00"
}
add:
{
    "model" "*147"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9612.00 7495.99 -2.00"
    "angles" "0.00 180.00 0.00"
}

add:
{
    "model" "*83"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-997.00 6993.00 126.00"
    "angles" "0.00 90.00 0.00"
}
add:
{
    "model" "*83"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-929.00 6909.00 0.00"
    "angles" "0.00 90.00 0.00"
}
add:
{
    "model" "*34"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9412.00 5503.99 -152.00"
    "angles" "0.00 180.00 0.00"
}

; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================