
; =====================================================
; ============ [l4d2_city17_03] [m3/5] [city 17]
; =====================================================

; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================


; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; ---- remove overly remote pills spawn 剔除位置偏僻的药
filter:
{
	"classname" "weapon_item_spawn"
	"item4" "1"
}
{
	"hammerid" "71630"
}
{
	"hammerid" "125445"
}
{
	"hammerid" "175785"
}

; ---- add useful pills spawn 添加位置合理的药
add:
; -- 2nd floor of the ruined building 废墟建筑的2楼
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"spawnflags" "2"
	"origin" "992 1776 192"
}
; -- down the yellow ladder 下黄色爬梯处
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"spawnflags" "2"
	"origin" "-520 208 0"
}
; -- broken stairs before event 机关前的坏楼梯处
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"spawnflags" "2"
	"origin" "-616 200 64"
}
; -- weapons room 武器房间
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"spawnflags" "2"
	"origin" "-4272 464 32.816"
}

; --- remove first-aid kit spawns 删除医疗包
filter:
{
	"classname" "weapon_first_aid_kit_spawn"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================

; --- add a smg at event side 机关点加一把微冲
add:
{
	"classname" "weapon_smg_silenced_spawn"
	"angles" "0 180 -90"
	"count" "5"
	"disableshadows" "1"
	"solid" "6"
	"spawnflags" "2"
	"origin" "-880 64 0"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; --- add Svv clipwall for the building left the yellow ladder platform
; --- 为黄色爬梯平台后左侧建筑添加空气墙
add:
{
	"classname" "env_player_blocker"
	"BlockType" "1"
	"initialstate" "1"
	"maxs" "8 8 800"
	"mins" "-480 -600 -80"
	"targetname" "eb_fx03"
	"origin" "-40 184 208"
}
; --- add Svv clipwall for the building after start saferoom
; --- 为出门后的废墟添加空气墙
{
	"classname" "env_physics_blocker"
	"angles" "0 0 0"
	"BlockType" "1"
	"boxmaxs" "16 96 400"
	"boxmins" "-36 -96  -200"
	"initialstate" "1"
	"targetname" "eb_fx04a"
	"origin" "2940 -728 216"
}
{
	"classname" "env_physics_blocker"
	"angles" "0 -23 0"
	"BlockType" "1"
	"boxmaxs" "16 56 400"
	"boxmins" "-16 -64 -200"
	"initialstate" "1"
	"targetname" "eb_fx04b"
	"origin" "2944 -576 216"
}
{
	"classname" "env_physics_blocker"
	"angles" "0 0 0"
	"BlockType" "1"
	"boxmaxs" "240 360 400"
	"boxmins" "-100 -100  -200"
	"initialstate" "1"
	"targetname" "eb_fx05"
	"origin" "2996 -1206 328"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; --- block the building gap right of the alarm-car with planks
; --- 用木板阻挡警报车右边楼房的间隙
add:
{
	"classname" "prop_dynamic"
	"origin" "2600 856 80"
	"angles" "0 123 90"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_update/plywood_128.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2672 744 104"
	"angles" "0 120 90"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_update/plywood_128.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2696 680 104"
	"angles" "0 120 90"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_update/plywood_128.mdl"
	"disableshadows" "1"
}

; --- level the sand patch between ruined building
; --- 垫平废墟建筑过渡地段的沙地
{
	"classname" "env_player_blocker"
	"BlockType" "0"
	"initialstate" "1"
	"maxs" "120 180 4"
	"mins" "-96 -320 -20"
	"targetname" "eb_fx01"
	"origin" "1120 1528 120"
}

; --- block the final tunnel before end saferoom
; --- 为终点门前的桥洞添加空气墙
{
	"classname" "env_player_blocker"
	"BlockType" "0"
	"initialstate" "1"
	"maxs" "400 180 80"
	"mins" "-200 -8 -120"
	"targetname" "eb_fx02"
	"origin" "-6624 3000 168"
}


; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; ---- add obstacle models near the small grass patch (crate & tree & container ...)
; ---- 在小草地附近添加障碍物模型(箱子&树&集装箱等...)
add:
{
	"classname" "prop_dynamic"
	"angles" "0 60 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_tree_giant01_medium.mdl"
	"rendercolor" "255 255 255"
	"origin" "2520 -1640 96"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 300 0"
	"disableshadows" "1"
	"model" "models/props/de_nuke/crate_extralarge.mdl"
	"rendercolor" "255 255 255"
	"origin" "2720 -888 -8"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 298 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"origin" "1888 -352 32"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 298 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"origin" "1872 -360 -8"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 60 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_tree_giant01_medium.mdl"
	"rendercolor" "255 255 255"
	"origin" "1856 -1424 40"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_tree_giant01_medium.mdl"
	"rendercolor" "255 255 255"
	"origin" "1832 -1400 40"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 207 0"
	"disableshadows" "1"
	"model" "models/props_equipment/cargo_container02.mdl"
	"rendercolor" "99 103 100"
	"origin" "1944 776 0"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 93 0"
	"disableshadows" "1"
	"model" "models/props_fairgrounds/foodcart.mdl"
	"rendercolor" "255 255 255"
	"origin" "2536 400 -4"
	"solid" "6"
}

{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_exteriors/wood_stairs_120_swamp.mdl"
	"rendercolor" "255 255 255"
	"origin" "1640 496 416"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_exteriors/wood_stairs_120_swamp.mdl"
	"rendercolor" "255 255 255"
	"origin" "1824 400 416"
	"solid" "6"
}


; ---- add crate near ruined building 废墟楼附近添加一个大箱子
add:
{
	"classname" "prop_dynamic"
	"angles" "0 300 0"
	"disableshadows" "1"
	"model" "models/props/de_nuke/crate_extralarge.mdl"
	"rendercolor" "255 255 255"
	"origin" "352 1328 0"
	"solid" "6"
}

; ---- add obstacle models down the yellow ladder 下黄色梯子处添加障碍物
add:
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/van.mdl"
	"rendercolor" "255 255 255"
	"origin" "-312 704 0"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/van_glass.mdl"
	"rendercolor" "255 255 255"
	"origin" "-312 704 0"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/hmmwv_supply.mdl"
	"rendercolor" "255 255 255"
	"origin" "-176 416 -5"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 135 0"
	"disableshadows" "1"
	"model" "models/props_industrial/pallet_barrels_water01_docks.mdl"
	"rendercolor" "255 255 255"
	"origin" "-32 352 -4"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"rendercolor" "255 255 255"
	"origin" "-300 194 256"
	"solid" "0"
}

; ---- add models front of the barricade event (poles & crate)
; ---- 在机关点前侧添加模型(铁杆和箱子)
add:
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_post001_48.mdl"
	"rendercolor" "255 255 255"
	"origin" "-2232 320 -8"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_post001_48.mdl"
	"rendercolor" "255 255 255"
	"origin" "-1984 320 -8"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_post001_48.mdl"
	"rendercolor" "255 255 255"
	"origin" "-1376 320 -8"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_post001_48.mdl"
	"rendercolor" "255 255 255"
	"origin" "-1192 320 -8"
	"solid" "6"
}

{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props/de_nuke/crate_small.mdl"
	"rendercolor" "255 255 255"
	"origin" "-1184 672 0"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_swamp/ferry.mdl"
	"rendercolor" "255 255 255"
	"origin" "-1688 264 0"
	"solid" "6"
}



; ---- add models before end saferoom
; ---- 在安全屋前添加一些模型
add:
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/bus01.mdl"
	"rendercolor" "255 255 255"
	"origin" "-6364 1488 -16"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_urban/fence_cover001_128.mdl"
	"rendercolor" "255 255 255"
	"origin" "-6808 2168 -16"
	"solid" "6"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props/de_nuke/crate_extralarge.mdl"
	"rendercolor" "255 255 255"
	"origin" "-6840 2336 -16"
	"solid" "6"
}

; ---- remove oil barrel models before end saferoom
; ---- 移除终点安全门前的卡脚大油桶模型
filter:
{
	"classname" "prop_physics"
	"model" "models/props_c17/oildrum001.mdl"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================

; --- remove the storm trigger logics and effects
; --- 移除暴雨天气的触发效果和相关事件
filter:
{
	"targetname" "relay_storm_start"
}
{
	"targetname" "relay_storm_blendin"
}
{
	"targetname" "director_query"
}


; --- remove sun 删太阳
filter:
{
	"classname" "env_sun"
}

; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================

;before ruined building 废墟楼之前
;lad01
add:
{
    "model" "*6"
    "normal.z" "0.00"
    "normal.y" "-0.99"
    "normal.x" "0.12"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "362.03 -100.35 -125.00"
    "angles" "0.00 -20.00 0.00"
}
;lad02
add:
{
    "model" "*6"
    "normal.z" "0.00"
    "normal.y" "0.46"
    "normal.x" "0.88"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "2782.00 -1384.99 40.00"
    "angles" "0.00 90.00 0.00"
}


;near ruined building 废墟楼附近
add:
{
    "model" "*6"
    "normal.z" "0.00"
    "normal.y" "-0.99"
    "normal.x" "0.04"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-1893.17 1808.57 48.00"
    "angles" "0.00 -25.00 0.00"
}
add:
{
    "model" "*10"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-351.00 407.00 -4.00"
    "angles" "0.00 270.00 0.00"
}

;after ruined building 废墟楼之后
;lad03
add:
{
    "model" "*11"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-130.00 878.00 -62.00"
    "angles" "0.00 0.00 0.00"
}
;lad04
add:
{
    "model" "*11"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-1059.00 1832.00 -190.00"
    "angles" "0.00 90.00 0.00"
}
;lad05
add:
{
    "model" "*105"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-2289.00 -2410.00 0.00"
    "angles" "0.00 270.00 0.00"
}
;lad06
add:
{
    "model" "*105"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "640.00 -113.00 84.00"
    "angles" "0.00 0.00 0.00"
}
;lad07
add:
{
    "model" "*13"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "430.00 -212.00 319.00"
    "angles" "0.00 0.00 0.00"
}

; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================
