; =====================================================
; ============ [noecho_m3] [m3/5] [no echo match]
; =====================================================

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; add clipwall for the truck model near the alarm event door
; prevent Svv from skipping the event
add:
{
	"classname" "env_physics_blocker"
	"angles" "0 20 0"
	"BlockType" "1"
	"maxs" "64 56 1000"
	"mins" "-64 -56 -128"
	"boxmaxs" "64 56 1000"
	"boxmins" "-64 -56 -128"
	"initialstate" "1"
	"targetname" "eb_fix01"
	"origin" "1328 4760 152"
}
