; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Fix "finale" escape sequence / rounds not ending after getting into the helicopter and follow The Parish's original escape sequence logic
; --- Remove Overgrowth's own escape sequence trigger
filter:
{
	"targetname" "end_trigger"
}
; --- Modify the leftover trigger_finale to be a functional gauntlet for starting the finale escape sequence
modify:
{
	match:
	{
		"targetname" "finale"
	}
	replace:
	{
		"type" "1"
	}
}
; --- Modify nav properties in the helicopter
; --- 2 - Empty, 64 - Finale, 1024 - Not Clearable, 8192 - No Mobs, 32768 - Rescue Vehicle / Removed: 2048 - Checkpoint
modify:
{
	match:
	{
		"targetname" "finale_nav_area"
	}
	replace:
	{
		"spawnflags" "42050"
	}
}
; --- Add "Finale" nav attribute to the bridge and everything after it so the finale is actually able to trigger, as all survivors must be on a nav marked as Finale
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "finale_nav_area,ApplyNavAttributes,,10,-1"
}
{
	"classname" "script_nav_attribute_region"
	"origin" "320 -6832 1210"
	"extent" "6016 3344 1402"
	"spawnflags" "64"
	"targetname" "finale_nav_area"
	"remove_attributes" "0"
}
; --- Add a trigger to start the visual helicopter sequence at the warehouse exit before the helipad
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "trigger_helicopter_start,AddOutput,mins -8 -160 -89,0,-1"
	"OnMapSpawn" "trigger_helicopter_start,AddOutput,maxs 8 160 89,0,-1"
	"OnMapSpawn" "trigger_helicopter_start,AddOutput,boxmins -8 -160 -89,0,-1"
	"OnMapSpawn" "trigger_helicopter_start,AddOutput,boxmaxs 8 160 89,0,-1"
	"OnMapSpawn" "trigger_helicopter_start,AddOutput,solid 2,0,-1"
}
{
	"classname" "trigger_multiple"
	"origin" "1099 -8416 281"
	"targetname" "trigger_helicopter_start"
	"filtername" "filter_survivors"
	"spawnflags" "1"
	"wait" "-1"
	; --- Trigger event output here
	"OnTrigger" "relay_start_heli,Trigger,,0,1"
}
; --- Remove the original trigger which is out of bounds
filter:
{
	"targetname" "warn survivors_trigger"
}
; --- Make the trigger inside the helicopter start the finale and enable the escape sequence
modify:
{
	match:
	{
		"targetname" "trigger_heli"
	}
	insert:
	{
		"OnEntireTeamStartTouch" "finale,ForceFinaleStart,,0,-1"
		"OnEntireTeamStartTouch" "finale,FinaleEscapeVehicleReadyForSurvivors,,0.1,-1"
	}
}
; --- Remove escape sequence teleport triggers
filter:
{
	"targetname" "Leave"
}
{
	"hammerid" "3892296"
}
; --- Remove the survivor positions outside of the map where survivors can occassionally spawn
{
	"targetname" "survivor_pos1"
}
{
	"targetname" "survivor_pos2"
}
{
	"targetname" "survivor_pos3"
}
{
	"targetname" "survivor_pos4"
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================


; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================