;;EXAMPLE - remove all physics props
;remove:
;{
;"classname" "/prop_physics.*/"
;}

;;EXAMPLE - replace all garbage cans with a hostage
;modify:
;{
;	match:
;	{	
;	"model" "models/props_junk/garbage_metalcan002a.mdl"
;	"classname" "prop_physics_multiplayer"
;	}
;	replace:
;	{
;	"classname" "hostage_entity"
;	}
;	delete:
;	{
;	"model" "models/props_junk/garbage_metalcan002a.mdl"
;	}
;	insert:
;	{
;	"scale" "0.99"
;	}
;}