; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================
filter:
{
    "hammerid" "1629697"
}
{
    "hammerid" "1629671"
}
{
    "hammerid" "1558088"
}
{ 
    "hammerid" "1629705"
}

; =====================================================
; ============  PROMOD NON-HITTABLE CARS  =============
; =====================================================
filter:
{
    ; car 1 - glass
    "hammerid" "1659784"
}
{
    ; car 1
    "hammerid" "1659788"
}
{
    ; car 2 - glass
    "hammerid" "1659851"
}
{
    ; car 2
    "hammerid" "1659855"
}
{
    ; car 3 - glass
    "hammerid" "1659985"
}
{
    ; car 3
    "hammerid" "1659989"
}
{
    ; car 4 - glass
    "hammerid" "1660119"
}
{
    ; car 4
    "hammerid" "1660123"
}
{
    ; car 5 - glass
    "hammerid" "1660186"
}
{
    ; car 5
    "hammerid" "1660190"
}
{
    ; car 6 - glass
    "hammerid" "1660253"
}
{
    ; car 6
    "hammerid" "1660257"
}

; =====================================================
; ================  STATIC AMMO PILES  ================
; =====================================================
add:
; --- maintenence room ammo
{
		"classname" "weapon_ammo_spawn"
        "origin" "-13664 -5192 -373"
        "spawnflags" "2"
        "solid" "6"
        "model" "models/props/terror/ammo_stack.mdl"
        "disableshadows" "1"
        "count" "5"
        "angles" "0 0 0"
}
; --- tunnel ammo
{
		"classname" "weapon_ammo_spawn"
        "origin" "-12708 -6310 -44"
        "spawnflags" "2"
        "solid" "6"
        "model" "models/props/terror/ammo_stack.mdl"
        "disableshadows" "1"
        "count" "5"
        "angles" "0 0 0"
}
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block jump across bridge to skip ladders
{
    ; invisible block on right side
    "origin" "-12072 -11992 -18"
    "mins" "0 0 0"
    "maxs" "18 20 200"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block on left side
    "origin" "-12584 -11992 -18"
    "mins" "-26 0 0"
    "maxs" "0 20 200"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block a stuck spot underneath a displacement in the ladder choke canyon
{
    ; invisible block
    "origin" "-10127 -12130 -475.99"
    "mins" "-78 -157 -37.5"
    "maxs" "78 157 37.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}

; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block hunters falling off and under map at end of map (confogl only)
{
    ; invisible block along back rocky section
    "origin" "-11872 -4626 1034"
    "mins" "-448 -238 -470"
    "maxs" "448 238 470"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; --- block SI getting permanently stuck in corner near SI ladder (confogl only)
{
    ; invisible block in corner near rocks
    "origin" "-11353 -4837 591"
    "mins" "-71 -45 -21"
    "maxs" "71 45 21"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}

; =====================================================
; --- remove startkits
filter:
{
"hammerid" "1400699"
}
{
"hammerid" "1400051"
}
{
"hammerid" "1479253"
}
{
"hammerid" "1479313"
}

; =====================================================
add:
{
	"classname" "prop_dynamic"
	"angles" "0 75 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_84sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12145 -13460 -65"
}
{
	"classname" "prop_dynamic"
	"angles" "0 75 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_84sedan.mdl"
	"rendercolor" "128 0 0"
	"solid" "6"
	"origin" "-12145 -13460 -65"
}
{
	"classname" "prop_dynamic"
	"angles" "-2 150 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12489 -13129 -57.4806"
}
{
	"classname" "prop_dynamic"
	"angles" "-2 150 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan.mdl"
	"rendercolor" "0 128 0"
	"solid" "6"
	"origin" "-12489 -13129 -57.4806"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12224 -10240 -63.75"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"rendercolor" "255 128 64"
	"solid" "6"
	"origin" "-12224 -10240 -63.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12230 -9558 -64.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"rendercolor" "0 0 128"
	"solid" "6"
	"origin" "-12230 -9558 -64.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12398 -9043 -65.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 120 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_69sedan.mdl"
	"rendercolor" "0 128 0"
	"solid" "6"
	"origin" "-12398 -9043 -65.75"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_82hatchback_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-12468 -8114 -63.75"
}
{
	"classname" "prop_dynamic"
	"angles" "-0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_82hatchback.mdl"
	"rendercolor" "128 128 128"
	"solid" "6"
	"origin" "-12468 -8114 -63.75"
}
