; =====================================================
; ===================   CUSTOMOGL   ===================
; ================= Haunted Forest 2 ==================
; =====================================================

; Force dynamic ladder chokes to both be available
filter:
{
	"classname" "logic_case"
	"targetname" "case_path_a"
}
{
	"targetname" "brush_clipsteeplehole_a1"
}
{
	"targetname" "brush_steeplehole_a1"
}
{
	"targetname" "brush_clipsteeplehole_a2"
}
{
	"targetname" "brush_steeplehole_a2"
}
{
	"targetname" "blocker_path_a2"
}
{
	"targetname" "blocker_hole_a1"
}
{
	"targetname" "spotlight_altpath"
}
{
	"targetname" "bulb_altpath"
}
{
	"targetname" "sprite_altpath"
}
{
	"targetname" "prop_path"
}

; Reblock one of the paths
add:
{
	"solid" "6"
	"origin" "3442 -1092 229"
	"angles" "90 0 0"
	"model" "models/props_cemetery/cemetery_gate_128.mdl"
	"classname" "prop_dynamic"
}

; Nerf the SI hit on the ladder in the beginning
add:
{
	"classname" "prop_dynamic"
	"origin" "3388 -1219 143"
	"angles" "0 270 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_mill/pipeset32d_corner128ra.mdl"
}

; Remove all hittables except alarm car
filter:
{
	"hammerid" "84414"
}
{
	"hammerid" "176286"
}
{
	"hammerid" "176294"
}
{
	"hammerid" "176455"
}
{
	"hammerid" "176500"
}
{
	"hammerid" "176734"
}


; Re-add props as non-hittable entities
add:
{
	"classname" "prop_dynamic"
	"origin" "-5979 -350.462 -135"
	"angles" "-1.25849 128.983 1.55454"
	"solid" "6"
	"rendercolor" "24 53 19"
	"model" "models/props_vehicles/cara_95sedan.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-5979 -350.462 -135"
	"angles" "-1.25849 128.983 1.55454"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-6011 -1458.47 -135"
	"angles" "0 65.5 0"
	"solid" "6"
	"rendercolor" "0 0 0"
	"model" "models/props_vehicles/cara_69sedan.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-6011 -1458.47 -135"
	"angles" "0 65.5 0"
	"solid" "6"
	"rendercolor" "0 0 0"
	"model" "models/props_vehicles/cara_69sedan_glass.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-5696 -1702 -125"
	"solid" "6"
	"angles" "0 158 0"
	"rendercolor" "255 255 255"
	"model" "models/props_junk/dumpster.mdl"
}


; Add planks to allow spawns on mountain where broken SI ladder is
add:
{
	"classname" "prop_dynamic"
	"origin" "-4833 -859 219"
	"angles" "0 183 24.5"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_swamp/plank001b_192.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-4829 -1035 297"
	"angles" "0 178.5 24.5"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_swamp/plank001b_192.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-4854 -1217 364"
	"angles" "0.549853 167.069 15.9133"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_swamp/plank001b_192.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-5097 -2338 302"
	"angles" "-0.120959 269.515 -13.9995"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_foliage/swamp_fallentree_dry01.mdl"
}


; There are lots of weapon_item_spawns but barely any have kits or pills enabled.
; The ones that actually have kit spawns are in bad locations so just remove them.
; Enable pills on the rest.
filter:
{
	; First remove all possible kit spawn locations
	"classname" "weapon_item_spawn"
	"item2" "1"
}

modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item4" "1"
	}
}

; Use custom rolling tunnel script so the horde is less thick
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-7367 -5539 -480"
	}
	delete:
	{
		"OnStartTouch" "directorBeginScripthf02_rolling_tunnel3-1"
	}
	insert:
	{
		"OnStartTouch" "directorBeginScripthf02_thesteeple_rolling_tunnel_promod3-1"
	}
}

; Remove pills next to safe room
filter:
{
	"origin" "-3931 -7757 -319"
	"classname" "weapon_item_spawn"
}
{
	"origin" "-4186.33 -8089.94 -376"
	"classname" "weapon_item_spawn"
}
{
	"origin" "-3612.73 -7795.28 -376"
	"classname" "weapon_item_spawn"
}
