; =====================================================
; =================== Suicide Blitz 5 =================
; =====================================================

filter:
;---- Remove all the grenade launcher gimmick stuff.
{
	"hammerid" "1455556"
}
{
	"hammerid" "1455634"
}
{
	"hammerid" "1455636"
}
{
	"hammerid" "1455638"
}
;---- Stubborn Kits
{
	"classname" "weapon_first_aid_kit_spawn"
}

;---- Don't warn about the Gimmick.
modify:
{
	match:
	{
		"targetname" "warn survivors_trigger"
	}
	delete:
	{
		"OnTrigger" "ldq_launcherHowAngry01"
	}
}

;---- Activate VScript (Horde comes from the front)
modify:
{
	match:
	{
		"targetname" "end_btn"
	}
	insert:
	{
		"OnPressed" "directorBeginScriptl4d2_stadium5_stadium_promod0-1"
	}
}

; Remove second tank
filter:
{
	"classname" "trigger_once"
	"origin" "-3918 -3715 224.5"
}