name: Check all plugins

on:
  pull_request:
    paths:
      - 'addons/sourcemod/scripting/**/*.sp'
      - 'addons/sourcemod/scripting/**/*.inc'
    branches:
      - master
  push:
    paths:
      - 'addons/sourcemod/scripting/**/*.sp'
      - 'addons/sourcemod/scripting/**/*.inc'
    branches:
      - master
  workflow_dispatch:
    paths:
      - 'addons/sourcemod/scripting/**/*.sp'
      - 'addons/sourcemod/scripting/**/*.inc'
    branches:
      - master

jobs:
  build:
    name: build with sm${{ matrix.sm_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sm_version:
          #- "1.9"
          #- "1.10"
          #- "1.11"
          - "1.12"
          - "1.13"

    steps:
      - uses: actions/checkout@v4
      - name: Set environment variables
        run: |
          echo "SCRIPTS_PATH=$GITHUB_WORKSPACE/addons/sourcemod/scripting" >> $GITHUB_ENV

      - name: Setup SourcePawn Compiler ${{ matrix.SM_VERSION }}
        uses: rumblefrog/setup-sp@master
        with:
          version: ${{ matrix.SM_VERSION }}

      - name: Compile plugins
        run: |
          errors=0
          for file in *.sp
          do
            echo -e "\nCompiling $file..."
            spcomp -E -w234 -w217 -O2 -v2 -i $SCRIPTS_PATH/include $file || {
              errors=$((errors + 1))
              continue
            }
          done
          if [ "$errors" -gt 0 ]; then
            echo -e "\n$errors plugin(s) failed to compile."
            exit 1
          else
            echo -e "\nAll plugins compiled successfully."
            exit 0
          fi
        working-directory: ${{ env.SCRIPTS_PATH }}/
