; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================

; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "2"
	}
}

; =====================================================
; ==================  EVENT TWEAK  ====================
; =====================================================
; --- move cola into the small closet during the event and remove the doors

modify:
{
	match:
	{
		"hammerid" "406237"
		"targetname" "cola"
	}
	replace:
	{
		"origin" "-7172 -2027 429"
		"angles" "0 90 0"
	}
}

filter:
{
	"hammerid" "220485"
}
{
	"hammerid" "220500"
}
; =====================================================
; ================  HITTABLE REMOVAL  =================
; =====================================================
; -- remove police car from bottom of first hill

; --- car
filter:
{
	"hammerid" "1896093"
}

; --- glass
{
	"hammerid" "1896089"
}
; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
; remove weapons since they are on the gun wall / in end saferoom. replace hr spawns with other spawns.
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}
; =====================================================
; ================  HORDE BLOCK REMOVAL ===============
; =====================================================
modify:
{
    match:
    {
        "classname" "trigger_once"
        "origin" "-5128 -992 548"
    }
    delete:
    {
        "OnTrigger" "directorBeginScriptC1_gunshop_quiet0.1-1"
    }
}
; =====================================================

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block hunter SI getting off/under map and behind a one-way wall
{
    ; invisible block above building in missing clip
    "origin" "-3648 2152 1464"
    "mins" "-240 -136 -8"
    "maxs" "240 136 8"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
filter:
; --- replace barrel with non-movable type to prevent shortcut
{
    "hammerid" "1719887"
}
add:
{
    ; non-movable barrel
    "solid" "6"
    "angles" "8 344.5 -5"
    "origin" "-5503 319 312"
	"disableshadows" "1"
    "model" "models/props_fairgrounds/traffic_barrel.mdl"
    "classname" "prop_dynamic"
}
; --- Block a stuck spot on top of the copy machine in saferoom
{
    ; invisible block 
    "origin" "2539 5199 534"
    "mins" "-32 -17 -86"
    "maxs" "32 17 86"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; --- Block a stuck spot on the desk and chairs in saferoom
{
    ; invisible block 
    "origin" "2226 5255 508"
    "mins" "-16 -57.5 -68"
    "maxs" "16 57.5 68"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; --- Block Survivors from being tank-punched on top of the white van at the start
{
    ; invisible block 
    "origin" "1161 2489 1304"
    "mins" "-113 -55.5 -575"
    "maxs" "113 55.5 575"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block 
    "origin" "1319 2485 1496"
    "mins" "-46 -46.5 -926.5"
    "maxs" "46 46.5 926.5"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- Block Survivors from being tank-punched on top of the bushes along the road at the start
{
    ; invisible block 
    "origin" "2941 2749 1042"
    "mins" "-383 -40.5 -586.5"
    "maxs" "383 40.5 586.5"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block 
    "origin" "2656 3296 1470"
    "mins" "-416 -32 -766"
    "maxs" "416 32 766"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block 
    "origin" "719 2751 1232"
    "mins" "-262 -42 -721.5"
    "maxs" "262 42 721.5"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block 
    "origin" "-15 2756 1204"
    "mins" "-247.5 -34 -804.5"
    "maxs" "247.5 34 804.5"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block 
    "origin" "-737 2752 1192"
    "mins" "-124 -33 -875"
    "maxs" "124 33 875"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- Block Survivors from climbing the generator pole near the CEDA tent
{
    ; invisible block 
    "origin" "1533 2589 713"
    "mins" "-6 -6.5 -143"
    "maxs" "6 6.5 143"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- Block Survivors from getting Tank punched onto an electrical box outside the entrance to the pill building
{
    ; invisible block 
    "origin" "-3296 2284 750"
    "mins" "-54 -18 -622.5"
    "maxs" "54 18 622.5"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-1124 2344 320"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-1254 2343 320"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 3.99999"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-1380 2342 313"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 3.99998"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-1513 2343 306"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 3.99998"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-1643 2343 298"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 3.99998"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-1775 2342 290"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-1906 2342 291"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-2036 2342 291"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-2296 2341 291"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-2166 2341 291"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-2816 2340 291"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-2686 2340 291"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-2556 2341 291"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-2426 2341 291"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 -2.5"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-2946 2339 289"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 -3.5"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3076 2339 295"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 -2"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3203 2339 302"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 -2"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_block001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3332 2339 306"
}
{
	"classname" "prop_dynamic"
	"angles" "0 313 0"
	"disableshadows" "1"
	"model" "models/props/cs_militia/boxes_garage_lower.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-4513 2223 321.002"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0.499997 0"
	"disableshadows" "1"
	"model" "models/props_urban/outhouse001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-4507 2270 320.25"
}
{
	"classname" "prop_dynamic"
	"angles" "-41 270 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_03.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-4798 -1600 623"
}
{
	"classname" "prop_dynamic"
	"angles" "0 91 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-4775 -1574 543.006"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/acvent04.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-4702.62 -1909.24 672"
}
{
	"classname" "prop_dynamic"
	"angles" "0 139.5 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_wall001_96_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-8311 -390 385"
}
{
	"classname" "prop_dynamic"
	"angles" "0 139.5 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/concrete_wall001_96_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-8254 -323 385"
}
{
	"classname" "prop_dynamic"
	"angles" "0 359.5 0"
	"disableshadows" "1"
	"model" "models/props_urban/outhouse001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-8905.07 -1361.29 384"
}
{
	"classname" "prop_dynamic"
	"angles" "0 359.5 0"
	"disableshadows" "1"
	"model" "models/props_urban/outhouse001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-8905.07 -1297.29 384"
}
{
	"classname" "prop_dynamic"
	"angles" "0 231 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/van.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-7533 -3857 383.295"
}
{
	"classname" "prop_dynamic"
	"angles" "0 231 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/van_glass.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-7533 -3857 383.295"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-8579 -3308 351.959"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-8579 -3096 351.959"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-8576 -2542 351.959"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-8576 -2330 351.959"
}
{
	"classname" "prop_dynamic"
	"angles" "0 175 0"
	"disableshadows" "1"
	"model" "models/props_urban/outhouse001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-7247 -4313 384"
}
{
	"classname" "prop_dynamic"
	"angles" "44.5 269.5 -90"
	"model" "models/props_fairgrounds/traffic_barrel.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-4539 2302 431.39"
}
{
	"classname" "prop_dynamic"
	"angles" "-0.469465 359.117 -27.9964"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3798.48 134.06 414.77"
}
{
	"classname" "prop_dynamic"
	"angles" "-0.309009 180.951 -37.9953"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3798.42 1713.06 439.77"
}
{
	"classname" "prop_dynamic"
	"angles" "0 272.5 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3742 1655 174"
}
{
	"classname" "prop_dynamic"
	"angles" "0 272.5 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3742 1560 218"
}
{
	"classname" "prop_dynamic"
	"angles" "0 92.5 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3743.03 1156.51 218"
}
{
	"classname" "prop_dynamic"
	"angles" "0 92.5 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3743.03 1061.51 174"
}
{
	"classname" "prop_dynamic"
	"angles" "0 92.5 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3687.03 1156.51 218"
}
{
	"classname" "prop_dynamic"
	"angles" "0 336 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-5003.39 -1280.17 449.006"
}
{
	"classname" "prop_dynamic"
	"angles" "0 5.99999 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-5001 -1252.81 489"
}
{
	"classname" "prop_dynamic"
	"angles" "0 276 0"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-5003.82 -1234 449.006"
}
; =====================================================
add:
{
	"classname" "prop_physics"
	"angles" "0 90 90"
	"disableshadows" "1"
	"model" "models/props_urban/shopping_cart001.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-6099 -2723 446"
}

