; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}
; =====================================================
; ===========  PROMOD SAFEROOM WEAPONS FIX  ===========
; =====================================================
modify:
; --- fix saferooms having no shotgun/uzi/disappearing weapon spawns
{
    ; no uzi fix
    match:
    {	
	    "hammerid" "21242"
	}
	replace:
	{
	    "weapon_selection" "any_rifle"
	}
}
{
    ; no shotgun fix
    match:
    {	
	    "hammerid" "21252"
	}
	replace:
	{
	    "weapon_selection" "tier2_shotgun"
	}
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block saferoom trigger bounds
{
    ; invisible block inside saferoom door
    "targetname" "block_versus_start_checkpoint"
    "origin" "-2246 -276 -252"
    "mins" "0 -374 0"
    "maxs" "16 0 252"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; <remove block as soon as door is opened>
modify:
{
    match:
    {
        "targetname" "checkpoint_exit"
    }
    insert:
    {
        "OnOpen" "block_versus_start_checkpointKill0-1"
    }
}
add:
; --- block hole in start of bridge allowing access out of map
{
    ; invisible block across gap to the side of bridge
    "origin" "196 -1316 260"
    "mins" "-4 -36 -300"
    "maxs" "4 36 300"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================