; ======================================================
; ===============  Dead Before Dawn DC: 2  =============
; ======================================================

; Remove the radio voice
; Leave the voice that tells when the event starts and ends
;filter:
;{
;   "targetname" "cj_sound1"
;}
;{
;   "targetname" "cj_door_open"
;}
; Leave the AC Unit ones because the map crashes if they are removed
;filter:
;{
;   "targetname "Ac_unit_beginning_door_Vo1"
;}
;{
;   "targetname "Ac_unit_beginning_door_Vo2"
;}
;{
;   "targetname "Ac_unit_beginning_door_Vo3"
;}
;{
;   "targetname "Ac_unit_beginning_door_Vo4"
;}
filter:
{
	"targetname" "cj_sound2"
}
{
	"targetname" "cj03"
}
{
	"targetname" "cj_line_warehouse_stop"
}
{
	"targetname" "cj_warehouse_play"
}
{
	"targetname" "cj06"
}
{
	"targetname" "cjhigh"
}
{
	"targetname" "cj_warehouse_play_bright"
}
{
	"targetname" "cj06xxx"
}
{
	"targetname" "cj_goodwork"
}
{
	"targetname" "cj_much_better"
}
{
	"targetname" "cj_much_better_booh"
}
{
	"targetname" "eingangsbesprechung"
}
{
	"targetname" "cool"
}
{
	"targetname" "sound_vivi"
}
{
	"targetname" "freaks"
}
{
	"targetname" "didnt"
}

; Extra ammo by the mall entrance event door
add:
{
	"solid" "6"
	"origin" "137 1357 -672"
	"spawnflags" "2"
	"skin" "0"
	"model" "models/props/terror/ammo_stack.mdl"
	"count" "5"
	"body" "0"
	"angles" "0 315 0"
	"classname" "weapon_ammo_spawn"
}

; Disable the crank scavenge event
modify:
{
	match:
	{
		"targetname" "ace_random_start"
	}
	delete:
	{
		; Keep case 1
		;"OnCase01" "oben_blocker_hurtEnable0-1"
		;"OnCase01" "Ac_Unit_ModelKill0-1"
		;"OnCase01" "powerline_ac_unit_p3-2Kill0-1"
		;"OnCase01" "powerline_ac_unit_p4-2Kill0-1"
		;"OnCase01" "powerline_ac_unit_p1-2Kill0-1"
		;"OnCase01" "powerline_ac_unit_p2-2Kill0-1"
		;"OnCase01" "crane_normal_motor_template_startKill0-1"
		;"OnCase01" "Ac_unit_lock_door_triggerKill0-1"
		;"OnCase01" "aaaa1Kill0-1"
		;"OnCase01" "Ac_Unit_case03_intro_triggerKill0-1"
		;"OnCase01" "crane_normal_motorKill0-1"
		;"OnCase01" "powerline_ac_unit_p4Kill0-1"
		;"OnCase01" "Ac_Unit_brushKill0-1"
		;"OnCase01" "crank_instructorKill0-1"
		;"OnCase01" "messages_find_cranksKill0-1"
		;"OnCase01" "rot_redlight1Start0-1"
		;"OnCase01" "spot_doorsLightOn0-1"
		;"OnCase01" "spot_doors2LightOn0-1"
		;"OnCase01" "rotes_lichtTurnOn0-1"
		;"OnCase01" "Ac_Unit_door_out_wood_alternateBreak0-1"
		;"OnCase01" "func_door2Kill0-1"
		;"OnCase01" "Ac_unit_beginning_door_triggerKill0-1"
		;"OnCase01" "nav_blocker_roofUnblockNav0-1"
		;"OnCase01" "test_bew_newKill0-1"
		;"OnCase01" "eingangsbesprechungKill0-1"
		;"OnCase01" "door2Open0-1"
		;"OnCase01" "powerline_ac_unit_p2Kill0-1"
		;"OnCase01" "powerline_ac_unit2_p1-2Kill0-1"
		;"OnCase01" "powerline_ac_unit2_p2-2Kill0-1"
		;"OnCase01" "powerline_ac_unit2_p3-2Kill0-1"
		;"OnCase01" "powerline_ac_unit2_p4-2Kill0-1"
		;"OnCase01" "powerline_ac_unit2_p3Kill0-1"
		;"OnCase01" "cj_sound2Kill0-1"
		;"OnCase01" "cj_alternativ_new_tirrggerDisable0-1"
		;"OnCase01" "cj03Kill0-1"
		;"OnCase01" "powerline_ac_unit2_p2Kill0-1"
		;"OnCase01" "Ac_Unit_FinsihedKill0-1"
		;"OnCase01" "crane_normal_motor_template_startKill0-1"
		;"OnCase01" "alternativ_eingangEnable0-1"
		;"OnCase01" "alternativ_roof1Enable0-1"
		;"OnCase01" "powerline_ac_unit2_p4Kill0-1"
		;"OnCase01" "powerline_ac_unit_p3Kill0-1"
		"OnCase02" "liam_hunter_norma_zombies_blaSpawnZombie0-1"
		"OnCase02" "crane_normal_brokenKill0-1"
		"OnCase02" "crane_normal_motor_brokenKill0-1"
		"OnCase02" "brocken_acKill0-1"
		"OnCase02" "Ac_Unit_Model_brokenKill0-1"
		"OnCase02" "ac_fail_steamStop0-1"
		;"OnCase01" "Ac_Unit_case02_door01_relayKill0-1"
		;"OnCase01" "Ac_unit_case02_close_to_switch_triggerKill0-1"
		;"OnCase01" "Ac_Unit_case03_Vo_intro01Kill0-1"
		"OnCase02" "nav_blocker_roof_cranksUnblockNav0-1"
		;"OnCase01" "ac_event_alternativTurnOff0-1"
		;"OnCase01" "neuKill0-1"
		"OnCase02" "nav_blocker_roof_gateKill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_button01Kill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_button06Kill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_button08Kill0-1"
		"OnCase02" "door_break_alt2Kill0-1"
		;"OnCase01" "Ac_Unit_case03Kill0-1"
		;"OnCase01" "Ac_Unit_case02Kill0-1"
		;"OnCase01" "Ac_Unit_case01Kill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_01_templateKill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_02_templateKill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_04_templateKill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_03_templateKill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_02_templateKill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_04_foundKill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_03_foundKill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_02_foundKill0-1"
		;"OnCase01" "Ac_Unit_case03_wheel_01_foundKill0-1"
		;"OnCase01" "oben_blockerBlockNav0-1"
		;"OnCase01" "powerline_ac_unit_p1-3Kill0-1"
		;"OnCase01" "trigger_ac_open_case_vocalizeEnable0-1"
		"OnCase02" "ac_door_speak_relay_aEnable0-1"
	}
	insert:
	{
		; Keep access to the crank area open - for maybe tank fights?
		; Taken from "Ac_Unit_case02_door01_relay"
		"OnCase01" "Ac_Unit_case02_door01_woodBreak0-1"
		"OnCase01" "Ac_Unit_case02_door01Unlock0-1"
		;"OnCase01" "Ac_Unit_case02_door01Open0.01-1"
		"OnCase01" "Ac_Unit_case02_door01_zombieKill1-1"
		"OnCase01" "Ac_Unit_case02_door01_relayKill1.25-1"
		"OnCase01" "Ac_Unit_case02_door01_wood_soundPlaySound1-1"
	}
}

; Make the door to the back of the truck by the event breakable by all infected
modify:
{
	match:
	{
		"targetname" "tank_wall01"
	}
	replace:
	{
		"BreakableType" "1"
		"health" "1"
		"spawnflags" "6"
	}
}

; Make the door that is typically the exit door after getting the cranks opens in both directions
modify:
{
	match:
	{
		"targetname" "func_door1"
	}
	replace:
	{
		"spawnflags" "13"
	}
}

; Make the vent above the crank room open
modify:
{
	match:
	{
		"targetname" "ac_unit_2nd_interior_door"
	}
	replace:
	{
		"spawnpos" "1"
	}
}

; Remove cranks
filter:
{
	"model" "models/3dsteve/ac_crane_cog.mdl"
}

; Make all rotating doors breakable and unlocked and open both directions
modify:
{
	match:
	{
		"classname" "prop_door_rotating"
	}
	replace:
	{
		"spawnflags" "8192"
		"opendir" "0"
	}
}

; Make the event door unbreakable and locked (it's original state before the above block messes with it)
modify:
{
	match:
	{
		"classname" "prop_door_rotating"
		"origin" "363.918 1501.57 -620.004"
	}
	replace:
	{
		"spawnflags" "534528"
	}
}

; Extra ammo just after the crank event
add:
{
	"solid" "6"
	"origin" "1054 2614 -336"
	"spawnflags" "2"
	"skin" "0"
	"model" "models/props/terror/ammo_stack.mdl"
	"count" "5"
	"body" "0"
	"angles" "0 315 0"
	"classname" "weapon_ammo_spawn"
}

;Fence in beginning infected can't stand on, they fall through; fix it
add:
{
	"origin" "-1606.0 -1173.0 -547.625"
	"angles" "0.0 270.0 0.0"
	"model" "models/props_wasteland/exterior_fence002e.mdl"
	"solid" "6"
	"classname" "prop_dynamic"
}

; Make dumpsters not hittable in intro area; OP for tanks
; Car is still hittable
modify:
{
	match:
	{
		"model" "models/props_junk/dumpster.mdl"
		"classname" "prop_physics"
	}
	replace:
	{
		"classname" "prop_dynamic"
	}
}
{
	match:
	{
		"model" "models/props_junk/dumpster.mdl"
		"classname" "prop_physics_multiplayer"
	}
	replace:
	{
		"classname" "prop_dynamic"
	}
}
{
	match:
	{
		"model" "models/props_junk/dumpster_2.mdl"
		"classname" "prop_physics"
	}
	replace:
	{
		"classname" "prop_static"
	}
}

; Block exploit to jump from cardboard boxes -> fusebox -> shelves to
; skip walking on the boards in the warehouse.
add:
{
	"classname" "prop_dynamic"
	"origin" "112 3296 -672"
	"angles" "0 90 0"
	"solid" "6"
	"model" "models/props_vehicles/floodlight_generator_pose02_static.mdl"
}

; Disable SI and/or bosses from spawning during security door event.
; slide_door_btn_1 starts a panic event still.
modify:
{
	match:
	{
		"targetname" "slide_door_btn_1"
	}
	delete:
	{
		"OnPressed" "event_02_randomizerPickRandom22.5-1"
	}
}

; Remove forklift in warehouse as it can be used to skip a portion of the warehouse
filter:
{
	"model" "models/props/cs_assault/forklift.mdl"
}

; Remove hardcoded defib
filter:
{
	"targetname" "gfhjklfgdfg"
}
{
	"classname" "weapon_defibrillator_spawn"
}
{
	"targetname" "defi_fake"
}

; Make sure wheels are always in same place
modify:
{
	match:
	{
		"targetname" "Ac_Unit_case03_wheel_logic_case"
	}
	delete:
	{
		; Deleted all cases except 3.
		; 1 wheel is fairly easy to get to
		; 2 others require falling into the crawlspace
		; 1 wheel is in the crawlspace itself
		; the last wheel is on the wall in the rooms below
		; This forces the survivors to make a decision but doesn't make the event too hard.
		"Case16" "16"
		;"Case15" "15"
		"Case14" "14"
		"Case13" "13"
		"Case12" "12"
		;"Case11" "11"
		"Case10" "10"
		"Case09" "9"
		"Case08" "8"
		;"Case07" "7"
		"Case06" "6"
		"Case05" "5"
		"Case04" "4"
		"Case03" "3"
		"Case02" "2"
		"Case01" "1"
		"OnCase01" "Ac_Unit_case03_wheel_button01_tempForceSpawn0-1"
		"OnCase02" "Ac_Unit_case03_wheel_button02_tempForceSpawn0-1"
		"OnCase03" "Ac_Unit_case03_wheel_button03_tempForceSpawn0-1"
		"OnCase04" "Ac_Unit_case03_wheel_button04_tempForceSpawn0-1"
		"OnCase06" "Ac_Unit_case03_wheel_button06_tempForceSpawn0-1"
		"OnCase05" "Ac_Unit_case03_wheel_button05_tempForceSpawn0-1"
		;"OnCase07" "Ac_Unit_case03_wheel_button07_tempForceSpawn0-1"
		"OnCase08" "Ac_Unit_case03_wheel_button08_tempForceSpawn0-1"
		"OnCase09" "Ac_Unit_case03_wheel_button09_tempForceSpawn0-1"
		"OnCase10" "Ac_Unit_case03_wheel_button10_tempForceSpawn0-1"
		;"OnCase11" "Ac_Unit_case03_wheel_button11_tempForceSpawn0-1"
		"OnCase12" "Ac_Unit_case03_wheel_button12_tempForceSpawn0-1"
		"OnCase13" "Ac_Unit_case03_wheel_button13_tempForceSpawn0-1"
		"OnCase14" "Ac_Unit_case03_wheel_button14_tempForceSpawn0-1"
		;"OnCase15" "Ac_Unit_case03_wheel_button15_tempForceSpawn0-1"
		"OnCase16" "Ac_Unit_case03_wheel_button16_tempForceSpawn0-1"
	}
}

; Make the AC Unit Lift move faster (That is what lifts when you turn the wheels)
modify:
{
	match:
	{
		"targetname" "test1_speed_slow_compare"
	}
	replace:
	{
		; Increased speed from .1
		"OnEqualTo" "Ac_Unit_brushSetSpeed.50-1"
		"OnEqualTo" "Ac_Unit_brush02SetSpeed.50-1"
	}
}
{
	match:
	{
		; Increased speed from .2
		"targetname" "test1_speed_medium_compare"
	}
	replace:
	{
		"OnEqualTo" "Ac_Unit_brushSetSpeed.70-1"
		"OnEqualTo" "Ac_Unit_brush02SetSpeed.70-1"
	}
}
{
	match:
	{
		"targetname" "test1_speed_fast_compare"
	}
	replace:
	{
		; Increased speed from .3
		"OnEqualTo" "Ac_Unit_brushSetSpeed.80-1"
		"OnEqualTo" "Ac_Unit_brush02SetSpeed.80-1"
	}
}

; Make the AC Unit go in reverse slower
modify:
{
	match:
	{
		"targetname" "test1_math_players_speed"
	}
	delete:
	{
		"OnHitMin" "Ac_Unit_brushSetSpeed.250-1"
		"OnHitMin" "Ac_Unit_brush02SetSpeed.250-1"
	}
	insert:
	{
		"OnHitMin" "Ac_Unit_brushSetSpeed.150-1"
		"OnHitMin" "Ac_Unit_brush02SetSpeed.150-1"
	}
}

; Extra pill spawns
add:
{
	"origin" "130 1255 -609"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "413 2288 -577"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "-291 3314 -609"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "1198 2224 -97"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "884 2071 -227"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}

;--------------------------------------------------------------------------------------
; The following blocks were added from looking at the map source and attempting to remove
; random elements that weren't actually noticable when I was running through the map
; but they still scare me.
;--------------------------------------------------------------------------------------

; Several events normally spawn horde by selecting individual zombie spawn locations
; and its randomized.  Remove that crap and just let the director decide.
modify:
{
	match:
	{
		"targetname" "event_03_randomizer"
	}
	delete:
	{
		; Remove cases that spawn special infected
		"OnCase01" "event_03_boss_spawner_ductSpawnZombiesmoker 7-1"
		"OnCase03" "event_03_boss_spawner_vent_01SpawnZombiehunter18.5-1"
		"OnCase08" "event_03_boss_spawner_vent_01SpawnZombieboomer3-1"
		"OnCase09" "event_03_boss_spawner_ductSpawnZombiesmoker5-1"
		"OnCase09" "event_03_boss_spawner_ductSpawnZombiesmoker5.5-1"
		"OnCase04" "event_03_04_boss_spawner_stairwellSpawnZombiehunter hunter6.3-1"
		"OnCase05" "event_03_boss_spawner_ductSpawnZombiesmoker hunter5-1"
		"OnCase08" "event_03_boss_spawner_ductSpawnZombiesmoker3-1"
	}
}

modify:
{
	match:
	{
		"targetname" "event_04_randomizer"
	}
	delete:
	{
		; Remove cases that spawn special infected,
		; Remove cases that trigger panic events,
		; Remove cases that enable new events
		"OnCase03" "directorPanicEvent2-1"
		"OnCase04" "event_02_boss_spawner_roof01SpawnZombietank8-1"
		"OnCase10" "event_03_04_boss_spawner_stairwellSpawnZombiehunter hunter3-1"
		"OnCase08" "event_03_04_boss_spawner_stairwellSpawnZombiehunter boomer2-1"
		"OnCase01" "muahaha_brettEnable3-1"
		"OnCase03" "muahaha_brettEnable3-1"
		"OnCase05" "muahaha_brettEnable3-1"
		"OnCase07" "muahaha_brettEnable3-1"
		"OnCase09" "muahaha_brettEnable3-1"
		"OnCase06" "event_02_boss_spawner_roof02SpawnZombieboomer2-1"
		"OnCase10" "event_03_04_boss_spawner_stairwellSpawnZombiesmoker boomer9-1"
	}
}

modify:
{
	match:
	{
		"targetname" "random_halle"
	}
	delete:
	{
		; Remove cases that spawn SI
		"OnCase03" "event_02_boss_spawner_roof02SpawnZombiesmoker0-1"
		"OnCase04" "event_02_boss_spawner_roof02SpawnZombieboomer0-1"
	}
}
