; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================

; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "2"
	}
}


; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================

filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; =========  MAGICAL APPEARING MEDKITS DEATH  =========
; =====================================================

filter:
{
	"hammerid" "5268682"
}
{
	"hammerid" "5268684"
}
{
	"hammerid" "5268686"
}
{
	"hammerid" "5268688"
}

; =====================================================
; ==============  REMOVE POINTLESS PILLS  =============
; =====================================================

filter:
{
	"targetname" "spawn_items1"
}
{
	"hammerid" "4605"
}
{
	"hammerid" "4606"
}
{
	"hammerid" "4607"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block SI getting undermap behind saferoom (confogl only)
{
    ; invisible block behind church
    "origin" "-3296 1312 160"
    "mins" "-544 -224 -96"
    "maxs" "544 224 96"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible block behind bushes
    "origin" "-6144 1312 32"
    "mins" "-128 -352 -160"
    "maxs" "128 352 160"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible block at bottom of graveyard
    "origin" "-8000 -1312 840"
    "mins" "-128 -1504 -897"
    "maxs" "128 1504 897"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible block at corner by bottom of graveyard
    "origin" "-7136 -2752 840"
    "mins" "-736 -64 -897"
    "maxs" "736 64 897"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}

; --- Block tops of shelves in warehouse behind gas station -- god spot
{
    "origin" "-2801 -2797 45"
    "mins" "-34.5 -172.5 -102"
    "maxs" "34.5 172.5 102"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-3129 -2993 45"
    "mins" "-167.5 -35 -102.5"
    "maxs" "167.5 35 102.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-3049 -2721 41"
    "mins" "-36.5 -85 -98"
    "maxs" "36.5 85 98"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-3411 -2722 54"
    "mins" "-35 -84 -111"
    "maxs" "35 84 111"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-3739 -2991 67"
    "mins" "-168 -35 -124"
    "maxs" "168 35 124"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    "origin" "-3661 -2723 42"
    "mins" "-37 -83 -99.5"
    "maxs" "37 83 99.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================

add:
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "-2460 -2600 -62"
    "angles" "3 80 0"
    "model" "models/props_vehicles/cara_84sedan.mdl"
    "classname" "prop_dynamic"
    "rendercolor" "130 150 140"
}
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "-2460 -2600 -62"
    "angles" "3 80 0"
    "model" "models/props_vehicles/cara_84sedan_glass.mdl"
    "classname" "prop_dynamic"
}
{
    "solid" "6"
    "origin" "-372 -2150 -48"
    "angles" "0 180 0"
	"disableshadows" "1"
    "model" "models/props_interiors/sheetrock_leaning.mdl"
    "classname" "prop_dynamic"
}
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "270 -2300 -55"
    "angles" "0 84 0"
    "model" "models/props_vehicles/deliveryvan.mdl"
    "classname" "prop_dynamic"
}
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "270 -2300 -55"
    "angles" "0 84 0"
    "model" "models/props_vehicles/deliveryvan_glass.mdl"
    "classname" "prop_dynamic"
}
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "1840 -2120 24"
    "angles" "0 177 0"
    "model" "models/props_vehicles/longnose_truck.mdl"
    "classname" "prop_dynamic"
    "rendercolor" "60 60 90"
}
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "1840 -2120 24"
    "angles" "0 177 0"
    "model" "models/props_vehicles/longnose_truck_glass.mdl"
    "classname" "prop_dynamic"
}
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "1980 -1874 22"
    "angles" "0 140 -1"
    "model" "models/props_vehicles/tankertrailer.mdl"
    "classname" "prop_dynamic"
}
; =====================================================