; ========================================================
; ===================   Heaven Can Wait 4   ==============
; ========================================================

; Add ammo
add:
{
	"solid" "6"
	"origin" "6704 8503 -496"
	"spawnflags" "2"
	"skin" "0"
	"model" "models/props/terror/ammo_stack.mdl"
	"count" "5"
	"body" "0"
	"angles" "0 315 0"
	"classname" "weapon_ammo_spawn"
}
{
	"solid" "6"
	"origin" "6153 7366 -488"
	"spawnflags" "2"
	"skin" "0"
	"model" "models/props/terror/ammo_stack.mdl"
	"count" "5"
	"body" "0"
	"angles" "0 315 0"
	"classname" "weapon_ammo_spawn"
}

; Remove 1 hittable car early on in the map - the one by the alarm car
modify:
{
	match:
	{ 
		"model" "models/props_vehicles/cara_95sedan_wrecked.mdl"
		"angles" "0 109 0"
		"classname" "prop_physics"
	}
	replace:
	{
		"origin" "6085.43 8059 -496"
		"classname" "prop_dynamic"
		"spawnflags" "0"
	}
	insert:
	{
		"solid" "6"
	}
}

; Lock door to force survivors into construction building
; Blocking the alternate path.  This is random anyway, so remove the randomness.
modify:
{
	match:
	{
		"targetname" "door_case"
	}
	delete:
	{
		"OnCase03" "door_cityhallKill0-1"
		"OnCase03" "block_brush_buildingEnable0-1"
		"OnCase03" "nav_blocker_buildingBlockNav0-1"
	}
}
{
	match:
	{
		"targetname" "door_cityhall"
	}
	replace:
	{
		"spawnflags" "534528"
	}
}

; Add some props to block a really obvious charge off/jockey off
; at the top of the construction building
add:
{
	"origin" "4874 6057 -112"
	"classname" "prop_dynamic"
	"angles" "0 135 0"
	"solid" "6"
	"model" "models/props/de_prodigy/concretebags2.mdl"
}
{
	"origin" "4900 6138 -112"
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props/de_prodigy/concretebags2.mdl"
}

; Block off some rooftops so survivors can't skip security camera event
;add:
;{
;	"origin" "4448 3768 -50"
;	"classname" "prop_dynamic"
;	"angles" "0 0 0"
;	"solid" "6"
;	"model" "models/props_exteriors/concrete_plant01_maintanks.mdl"
;}
;add:
;{
;	"origin" "4771 2814 -210"
;	"classname" "prop_dynamic"
;	"angles" "0 90 0"
;	"solid" "6"
;	"model" "models/props_urban/fence_gate002_256.mdl"
;}

; Make train come sooner
modify:
{
	match:
	{
		"targetname" "Panic_timer"
	}
	replace:
	{
		; Originally train moves forward after 60 seconds; Now 10.
		"RefireTime" "10"
	}
}

; Make the broken hittable car by the city hall not hittable
modify:
{
	match:
	{
		"targetname" "taxi01"
	}
	replace:
	{
		"classname" "prop_dynamic"
	}
}

; Remove randomness of weapon spawns because some choices don't offer
; both shotguns and smgs
modify:
{
	match:
	{
		"targetname" "case_weapon"
	}
	delete:
	{
		; Remove all except case 01
		"OnCase02" "spawn2_tamplateForceSpawn0-1"
		"OnCase03" "spawn3_tamplateForceSpawn0-1"
		"OnCase04" "spawn4_tamplateForceSpawn0-1"
		"OnCase05" "spawn5_tamplateForceSpawn0-1"
	}
} 

; Remove forklift that allows survivors to skip portion of map just after the security camera
filter:
{
	"classname" "prop_physics"
	"model" "models/props/cs_assault/forklift.mdl"
	"origin" "5297 1826 -465"
}

; Add additional pill spawns across map
add:
{
	"origin" "5046 4045 -363"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "5967 1555 -177"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "4760 3295 -271"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "4489 6037 -209"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "6179 7338 -425"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "6267 6840 -485"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "5177 1559 -401"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "5030 3550 -401"
	"angles" "0 0 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
