; =====================================================
; ==================  Customogl Fix  ==================
; ================== Back To School 2 =================
; =====================================================

; Force both the truck event and the gas->car event
modify:
{
    match:
    {
	"targetname" "event_case"
    }
    delete:
    {
	"OnCase01" "event1_killTrigger0-1"
	"OnCase02" "event2_killTrigger0-1"
	"OnCase02" "event1_killKill0-1"
	"OnCase01" "event2_killKill0-1"
	"OnCase01" "Farm02_path08Kill0-1"
	"OnCase02" "Smalltown01_path05Kill0-1"
    }
}

; Add prop to prevent tanks from pushing pickup truck into the cave by the safe room
; Commented out and enforced tank to spawn after 40% in mapinfo.txt instead.
;add:
;{
;	"solid" "6"
;	"origin" "4039 -3032 2685"
;	"angles" "0 0 0"
;	"model" "models/props_wasteland/rock_moss02.mdl"
;	"classname" "prop_dynamic"
;}

; Always allow tank spawns
modify:
{
    match:
    {
	"targetname" "logic1"
    }
    delete:
    {
	"OnTrigger" "directorBeginScriptbts02_station.nut67.011"
    }
}
modify:
{
    match:
    {
	"classname" "prop_door_rotating_checkpoint"
	"origin" "4727.1 -2408.25 2773"
    }
    delete:
    {
	"OnOpen" "directorBeginScriptbts02_station.nut51"
    }
}

