; Undead Zone 4

; Remove circular path with computer button event - no distance points rewarded
modify:
{
	match:
	{
		"targetname" "computer_front_button"
	}
	delete:
	{
		"OnPressed" "directorForcePanicEvent4-1"
	}
}
{
	match:
	{
		"targetname" "relay_datataken"
	}
	delete:
	{
		"OnTrigger" "finale_gate_doorOpen0-1"
	}
}
{
	match:
	{
		"targetname" "func_elevator"
	}
	insert:
	{
		"OnReachedTop" "finale_gate_doorOpen0-1"
	}
}

; Block death charges
add:
{
	"classname" "prop_dynamic"
	"origin" "-1523 1353 939"
	"angles" "0 90 -180"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_512_001a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1523 1033 939"
	"angles" "0 90 180"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_128_001a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1526 981 930"
	"angles" "0 359.5 -180"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_lab/powerbox01a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-957 1921 1072"
	"angles" "-5.24309 18.4325 19.9462"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_swamp/boardwalk_rail_256.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1055 2112 1138"
	"angles" "0 48 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_swamp/boardwalk_rail_256.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-984 1729 954"
	"angles" "1.84733 342.911 28.0548"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_swamp/boardwalk_rail_256.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1026 1561 950"
	"angles" "0 41.5 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset08d_128_001a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-979 1613 952"
	"angles" "0 138.5 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_lab/powerbox01a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1086 1512 951"
	"angles" "0 130.5 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_lab/powerbox01a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-403 1192 1155"
	"angles" "-3.88539 175.979 1.77654"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-931 3951 1148"
	"angles" "0 175.5 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_urban/guardrail001_128.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1006 3958 1148"
	"angles" "0 171 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_urban/guardrail001_corner.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-859 3946 1149"
	"angles" "-0.759596 175.527 -2.36701"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_urban/guardrail002_corner.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1632 837 950"
	"angles" "0.907835 153.014 1.78216"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_urban/fence003_128.mdl"
}

; --- Lighting FPS Fix
modify:
{
	match:
	{
		"hammerid" "21971"
	}
	replace:
	{
		"pattern" "z"
	}
}
modify:
{
	match:
	{
		"hammerid" "25940"
	}
	replace:
	{
		"pattern" "z"
	}
}
