; =====================================================
; ==================  Firetower Trail 4 ===============
; =====================================================

; Remove the hardcoded finale tank because its bugged
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "tank_pls"
	}
	delete:
	{
		"OnTrigger" "final_tankSpawnZombietank0-1"
		"OnTrigger" "final_tankSpawnZombiehunter7-1"
		"OnTrigger" "final_tankSpawnZombiehunter49-1"
		"OnTrigger" "tank_screamPlaySound0-1"
		"OnTrigger" "final_eventSpawnZombiecharger0-1"
	}
}

; Add a spawn in beginning of map - huge open area
add:
{
	"solid" "6"
	"origin" "13142 3646 -1274"
	"angles" "0 0 0"
	"model" "models/props_vehicles/airport_catering_truck.mdl"
	"classname" "prop_dynamic"
}